[2020-02-24 08:42] mlodic opened #3 "Thug integration"
We should integrate Thug as a new analyzer: https://github.com/buffer/thug

Even if Thug can be easily installed with pip for python3, it really requires a lot of dependencies to be installed in the machine (in particular https://github.com/area1/stpyv8/). We need to try to study how to add it to the project without "poisoning" the base docker image too much. For this purpose we could just add the

[2020-02-24 08:46] mlodic opened #4 "[New Analyzer] Drakvuf integration"
We should add a new analyzer to allow users to analyze files using a Drakvuf instance:

https://github.com/tklengyel/drakvuf

[2020-02-24 09:11] mlodic opened #5 "ClamAV integration"
We should add a new analyzer to allow users to analyze files with ClamAV.

https://github.com/Cisco-Talos/clamav-devel.

It's important to:

- [ ] if the license is permissive, add public-available rules by default

- [ ] give the chance to customize the rules used to scan a file with ClamAV, in particular to run its own rules

[2020-02-24 09:13] mlodic opened #6 "PEframe integration"
We should add an analyzer to analyze files with PEframe

https://github.com/guelfoweb/peframe

[2020-02-24 09:14] mlodic opened #7 "Shodan analyzer"
We should add an analyzer to extract info about an IP using Shodan APIs.

https://developer.shodan.io/api
https://shodan.readthedocs.io/en/latest/

[2020-02-24 09:16] mlodic opened #8 "Box-js integration"
We should add an analyzer to analyze malicious Javascript files using Box-js

https://github.com/CapacitorSet/box-js

[2020-02-24 09:25] mlodic opened #9 "[analyzer] screenshot to detect phishing campaigns"
We could add a Manet analyzer to get a screenshot from a specified URL that we would like to analyze.

https://github.com/vbauer/manet

We should add the docker image as optional in the docker-compose configuration and use the Manet APIs to run the analysis.

[2020-02-24 09:33] mlodic opened #10 "Malpedia integration"
We should add an analyzer to scan a given file against all the yara rules available in Malpedia.

https://malpedia.caad.fkie.fraunhofer.de/usage/api#apiscanbinary

[2020-02-24 09:41] mlodic opened #11 "OpenCTI connector"
IntelOwl was designed to be integrated with other security tools very easily.
In particular, it is a perfect fit for Threat Intelligence Platforms because it can enrich the data available in those platform and can be customized on its own needs.

So, in order to help the community to achieve this result, we should add new connectors for the most used open source TIPs, for example: [OpenCTI](https:

[2020-02-24 09:52] mlodic opened #12 "MISP connector"
IntelOwl was designed to be integrated with other security tools very easily.
In particular, it is a perfect fit for Threat Intelligence Platforms because it can enrich the data available in those platform and can be customized on its own needs.

So, in order to help the community to achieve this result, we should add new connectors for the most used open source TIPs, for example: [MISP](https://g

[2020-02-24 10:02] mlodic opened #13 "Improve the web interface"
At the moment, IntelOwl can be used mainly via APIs because its major intent is to be integrated with other security tools.
So now we can find only a very basic interface that allow the users:
- to authenticate
- to query the database for analysis results
- to view the results via a JSON file

We should start improving the web interface to allow the project to be more user friendly:
- [ ] Add the

[2020-03-09 14:01] mlodic commented on #7
First Shodan analyzer implemented here: https://github.com/certego/IntelOwl/pull/15

To check Shodan API documentation to understand if we can leverage this service in other ways (Honeyscore, ...)

[2020-03-10 17:26] Eshaan7 commented on #10
The `POST /api/scan/binary` endpoint you mentioned requires an API token(i.e. registered account ). However, on the Malpedia [website](https://malpedia.caad.fkie.fraunhofer.de/login) it says "Please note that Malpedia does not feature open registration. It is operated as an invite-only trust group."

What do you suggest ?

[2020-03-10 17:39] mlodic commented on #10
You could ask for an invitation.

If you really are into giving something to the Threat Intelligence Community, you should try to join different groups or projects and bring your efforts where it is needed. Malpedia is one of the greatest sharing projects in this community.

If you do not manage to join the project, you can still contribute to Intel Owl with another analyzer. Check existing issue

[2020-03-10 17:43] Eshaan7 opened #16 "Celery cannot connect to rabbitmq"
**Issue I am facing:**
When I create a new analyze request using the [pyintelowl](https://github.com/mlodic/pyintelowl) client, the job gets created but it keeps saying `status: "running" and the command hangs, see here:

![](https://i.imgur.com/ZhZaYI3.png)

And if I visit the server's GUI to query the database, this is what I get:

![](https://i.imgur.com/FeGFFMc.png)

The job just hangs there f

[2020-03-10 18:34] Eshaan7 commented on #16
Turns out, It was an issue with the `CELERY_BROKER_URL` environment variable. Instead of `CELERY_BROKER_URL=ampq://localhost`, it should be `CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672`.

I think that should be changed in the Dockerfile.

[2020-03-11 06:36] amanjiofficial opened #19 "ThreatMiner API"
We should add an analyzer to extract info about an IP/URL/hash from ThreatMiner.

https://www.threatminer.org/api.php

Suggestions Please @mlodic.

[2020-03-11 07:23] mlodic commented on #19
Good idea. You could create a single ThreatMiner Analyzer module, then you could add multiple Analyzer Configurations to allow Intel Owl users to run every different query type available (whois rt=1,  passivedns rt=2, ...)

[2020-03-11 07:39] mlodic commented on #16
Thank you!, merged your pull request

[2020-03-11 07:39] #16 closed

[2020-03-16 11:47] Eshaan7 commented on #13
Working on this. Here's a demo I have made: https://intelowlclient.firebaseapp.com/ - Backend integration, authentication and all would be added soon :)

[2020-03-17 14:03] mlodic opened #30 "Malware Bazaar API"
We should leverage the new service created by Abuse.ch to create an analyzer that checks a file hash against the Malware Bazaar DB.

https://bazaar.abuse.ch/api/#query_hash

[2020-03-17 20:49] Eshaan7 commented on #30
Please take a look at #32, @mlodic.

[2020-03-17 21:20] Eshaan7 opened #33 "GreyNoise API Integration"
Stumbled upon [GreyNoise](https://viz.greynoise.io/).
They have an "IP Context" API endpoint - https://docs.greynoise.io/#ip-context.

Should we integrate this ? @mlodic

[2020-03-17 21:31] Eshaan7 opened #34 "ONYPHE API Integration"
They have many scanning services available for an IP/Domain/URL.
Please take a look at API [docs](https://www.onyphe.io/documentation/api) and suggest the ones we need.

There's a python client, [pyonyphe](https://github.com/sebdraven/pyonyphe) available.
Plus, an expansion-plugin in MISP - [MISP/....../expansion/onyphe.py](https://github.com/MISP/misp-modules/blob/master/misp_modules/modules/expa

[2020-03-17 21:38] amanjiofficial opened #35 "SecurityTrials API Integration"
We should add an analyzer to extract info from Securitytrials

https://securitytrails.com/corp/api

Suggestions Please @mlodic.

[2020-03-17 21:40] amanjiofficial opened #36 "URLscan API"
We should add an analyzer to extract info from URLscan

https://urlscan.io/about-api/

Suggestions Please @mlodic.

[2020-03-17 21:57] amanjiofficial opened #37 "OPSWAT Metadefender API"
We should add an analyzer to extract info from opswat metadefender cloud

https://onlinehelp.opswat.com/mdcloud/Description_of_file_categories.html

Suggestions Please @mlodic

[2020-03-18 10:13] mlodic commented on #33
Greynoise is great but the API keys that they provide can be used only for 15-days.

There is no "free" API key that you can use with a limited quota forever. That would be great for the community. :(

At the moment Intel Owl already contains an analyzer for the Greynoise Alpha free endpoint that does not require authentication. (https://github.com/GreyNoise-Intelligence/api.greynoise.io)

[2020-03-18 10:19] mlodic commented on #35
Yes, it could be useful.

I would focus the effort on the 4 endpoints that can be used with the free license. https://securitytrails.com/corp/pricing

[2020-03-18 10:29] mlodic commented on #36
Yes, that would be great. We should give the chance to search for an available analysis.

Also, the user should have the chance to decide in advance, in case the search does not give any result, if he wants to submit the URL for an active analysis. This is important because that would require additional time and not everyone wants to wait.

[2020-03-18 10:51] mlodic commented on #37
If you check here [docs](https://onlinehelp.opswat.com/mdcloud/3._Public_APIs.html), they do not allow the usage or the saving of the generated data even for free API keys.

[2020-03-18 10:51] #37 closed

[2020-03-18 11:12] mlodic commented on #34
Thank you, Onyphe is interesting.

MISP expansions modules can be used only with a MISP instance installed. We do not care much about them because they work like a plugin for the MISP platform. They do not affect our MISP analyzer in any way.

About using or not the client, I suggest to use an already existing client only if it is the _official_ one.
Otherwise it could create maintainability probl

[2020-03-18 11:15] mlodic commented on #34
Also, I think that the new analyzer could perform queries only for the `/summary` endpoints to reduce the amount of performed requests and the amount of configuration required in Intel Owl

[2020-03-18 15:14] Eshaan7 commented on #34
Alright. I'll use the API's URL and add analyzer for the `/summary` endpoints.

[2020-03-18 17:34] Eshaan7 opened #38 "Incorrect analyzer name passed for HybridAnalysis Observable tests"
In the [`tests/test_observables.py`](https://github.com/certego/IntelOwl/blob/master/tests/test_observables.py), For HybridAnalysis I noticed that we are passing **`HA_Get`** as the analyzer name in all 3 instances, shouldn't it be **`HybridAnalysis_Get_Observable`**, as defined in the analyzers_configuration.json ? or am I wrong?

All the 3 instances referenced:
https://github.com/certego/IntelOw

[2020-03-18 18:22] amanjiofficial commented on #38
I guess the same is with robtex tests.

https://github.com/certego/IntelOwl/blob/fab538fb9bf192b62f68b97f6f6ab3e43ecece3f/tests/test_observables.py#L85

https://github.com/certego/IntelOwl/blob/fab538fb9bf192b62f68b97f6f6ab3e43ecece3f/tests/test_observables.py#L89

Please see @Eshaan7

[2020-03-18 18:27] mlodic commented on #38
At the moment the tests are just basic as you may have noticed. They just execute the `run` function in each module, without even passing through the `analyzer_config.json`. They just test the modules, they do not test the configuration. This is why tests work correctly.

[2020-03-18 18:31] mlodic commented on #38
I think that we could add logging in the tests to print the report results of the analyzers. In this way it would be more clear that the test are working correctly when you run one of them.
At the same time, we should give the chance to remove these logs when are unwanted: for example, when you run _all_ the tests at once.

[2020-03-18 19:27] Eshaan7 commented on #33
I think we can integrate the analyzer. Afterall, it's upto the user/organization if they have a paid API key or not for GreyNoise's API.

[2020-03-19 09:12] mlodic commented on #33
Yep we can do this

[2020-03-22 18:43] weslambert opened #42 "First Use Clarity"
It's not really clear on first use what analyzers are available, or how the platform is to be used.  For example, I try to search an MD5 once logged in (eg. Mimikatz) and get no results.  Do I need to enable some more analyzers, or is there something else I must do to populate a local DB?

[2020-03-22 18:44] weslambert commented on #42
I realize there is the JSON config file for analyzers, but from a web perspective, it is a little unclear.

[2020-03-22 18:54] mlodic commented on #42
Hi @weslambert, thank you for your interest.

I suggest you to go through the docs. https://intelowl.readthedocs.io/en/latest/
At the moment the interface is very minimal and the better way to use this project is to integrate it via API with other security tools, or using the official client manually (https://github.com/mlodic/pyintelowl).
The single page available from the interface allows the us

[2020-03-22 19:06] weslambert commented on #42
Thanks, that helps to clarify a good deal.  I was already planning on using the Python client, as I would like to call the API from another tool, but just wanted to test locally before doing so.  I'll proceed with the client/API, and let you know if I have any issues.  Thanks for the quick response!

[2020-03-22 19:06] #42 closed

[2020-03-24 13:51] #34 closed

[2020-03-24 13:51] Eshaan7 commented on #30
This issue can be closed now, @mlodic.

[2020-03-24 14:06] #30 closed

[2020-03-29 12:47] mlodic commented on #33
Done in #52

[2020-03-29 12:47] #33 closed

[2020-03-29 13:28] mlodic commented on #7
Implemented

[2020-03-29 13:28] #7 closed

[2020-03-29 13:46] mlodic opened #53 "FireHOL blocklists analyzer"
http://iplists.firehol.org/

We could integrate an analyzer for the FireHOL blocklists. In this way, we could check if a specific IP was reported as malicious by one of those lists.

We should manage the download of these lists internally in the project. Then we should update these lists regularly to allow the IntelOwl users to get fresh results.

[2020-03-29 13:51] mlodic opened #54 "Google WebRisk API analyzer"
https://cloud.google.com/web-risk

We could create an analyzer for the WebRisk API. In this way, we can check a specific URL against the provided blacklists. This is the commercial version of the "GoogleSafeBrowsing" APIs.

[2020-03-29 13:54] mlodic opened #55 "URLhaus integration"
https://urlhaus-api.abuse.ch

Check a URL, domain or IP against the URLhaus database

[2020-03-29 13:57] mlodic opened #56 "RIPE API analyzer"
Get WHOIS for a specific IP with the RIPE API:

https://github.com/RIPE-NCC/whois/wiki/WHOIS-REST-API
https://www.ripe.net/manage-ips-and-asns/db/support/documentation/ripe-database-query-reference-manual#tables-of-query-types-supported-by-the-ripe-database
http://jaluther.blogspot.com/2016/04/python-for-network-engineers-part-2.html

[2020-03-29 14:03] mlodic opened #57 "Phishtank analyzer"
We could add an analyzer that checks if a URL is in the Phishtank phish list.

https://www.phishtank.com/api_info.php

[2020-03-29 14:06] mlodic opened #58 "Team Cymru Hash analyzer"
We could create an analyzer that checks a specific hash against the malware database of Team Cymru

https://www.team-cymru.com/mhr.html

[2020-03-29 14:10] mlodic opened #59 "VirusTotal Sandbox analyzer"
We could add another analyzer for VirusTotal that extracts the sandbox reports available for a specific file.

https://developers.virustotal.com/v3.0/reference#file-behaviour-summary

[2020-03-30 13:55] Eshaan7 commented on #55
Can also check for Hash (md5/sha256 hash of malware sample), as described [here](https://urlhaus-api.abuse.ch/#payloadinfo)

[2020-03-30 14:00] mlodic commented on #55
Yes but I think that those files are the same of the "MalwareBazaar" API you already implemented, so I would not care of this endpoint.

[2020-03-31 17:30] amanjiofficial opened #60 "Adding Auth0 API Module"
We should add an analyzer to extract info from Auth0.

https://auth0.com/signals/docs/#get-full-ip-address-reputation-info

Suggestions Please @mlodic.

[2020-04-02 07:48] mlodic commented on #60
Yes, good idea. we could implement it

[2020-04-03 13:41] mlodic commented on #58
I have just contacted them and asked for permission to integrate this tool in Intel Owl. I will update this issue as soon as I receive a response.

[2020-04-04 18:45] mlodic commented on #55
Solved

[2020-04-04 18:45] #55 closed

[2020-04-10 14:03] amanjiofficial commented on #60
Issue resolved with #65

[2020-04-10 14:03] #60 closed

[2020-04-11 09:11] #19 closed

[2020-04-16 10:10] #35 closed

[2020-04-22 19:44] Eshaan7 commented on #6
Closed by #66.

[2020-04-23 12:02] Eshaan7 opened #70 "APKiD analyzer for APKs"
We could integrate APKiD which is an Android Application Identifier for Packers, Protectors, Obfuscators and Oddities - PEiD for Android.

GitHub: https://github.com/rednaga/APKiD

[2020-04-23 12:43] mlodic commented on #70
I agree!

[2020-04-23 13:12] pdelsante opened #71 "Analyze Chrome browser extensions (CRX)"
Browser extensions in Chrome are identified by an alphanumeric identifier.

For example, [Google Keep](https://chrome.google.com/webstore/detail/google-keep-chrome-extens/lpcaedmchfhocbbapmcbpinfpgnhiddi) has the following URL:

[code]

which leads to the extension ID `lpcaedmchfhocbbapmcbpinfpgnhiddi`.

Extension IDs are used to determine the installation folder, e.g.

[code]

Also, in normal mod

[2020-05-13 12:23] mlodic commented on #6
Done

[2020-05-13 12:23] #6 closed

[2020-05-13 15:21] Eshaan7 opened #78 "Tags Model"
- A tags column in the Job table in the database. That way, a user can distinguish between or group different jobs.

[2020-05-13 15:22] #78 closed

[2020-05-13 15:25] Eshaan7 opened #79 "Custom fields in admin view"
Custom column fields and searchable fields in admin view models for Job and Tag DB models.

[2020-05-13 15:25] #79 closed

[2020-05-13 15:29] Eshaan7 opened #80 "Authentication Service (DRF)"
**Task #1:** (from eshaan's GSoC proposal)

- login, logout API endpoints in Django application
- add the [`django-cors-headers`](https://github.com/adamchainz/django-cors-headers) package to deal with preflight CORS requests.

[2020-05-13 15:31] Eshaan7 opened #81 "Using black and flake8 effectively"
Integrate [psf/black](https://github.com/psf/black) and [flake8](https://pypi.org/project/flake8/) for better linting and consistent styling.

[2020-05-13 15:51] Eshaan7 opened #82 "add indexes for searchable fields + change data retention"
Matteo Lodi:
- [x] We could add indexes for the fields that are being used for search purposes.
Obviously, for testing and for a "classic" usage of this project this is not necessary, but to let it scale we should index the most important ones. https://docs.djangoproject.com/en/2.2/ref/models/indexes/

- [x] Also, at the moment there is a cronjob in `crons.py` that performs a cleanup of old data.

[2020-05-14 14:50] Eshaan7 opened #83 "f-strings everywhere"
Using `f-strings` increases code readability and are known to be faster than `str.format()`

[2020-05-14 14:59] mlodic commented on #4
API for this one https://github.com/CERT-Polska/drakvuf-sandbox

[2020-05-15 16:46] #38 closed

[2020-06-05 12:42] #81 closed

[2020-06-05 12:43] #80 closed

[2020-06-05 12:44] Eshaan7 commented on #83
Update:

`f-strings` are now used everywhere in the code except for some instances under `api_app/script_analyzers/`.

[2020-06-05 12:50] Eshaan7 commented on #13
**Update**:

New web client for Intel Owl built with angular 9: https://github.com/intelowlproject/intelowl-ng

[2020-06-05 12:58] #13 closed

[2020-06-05 13:03] Eshaan7 opened #90 "Droidbox integration"
We should integrate [Droidbox](https://www.honeynet.org/projects/active/droidbox/) as a new analyzer. As stated on the honeynet website,

[2020-06-05 13:08] Eshaan7 opened #91 "Wigle.net integration"
We can integrate wigle.net's API for wireless network’s analysis.

Interesting API endpoints:

- https://api.wigle.net/swagger#/Bluetooth_search_and_information_tools/detail
- https://api.wigle.net/swagger#/Cell_search_and_information_tools/mccMnc

[2020-06-08 13:19] mlodic commented on #58
They said ok! Working on it!

[2020-06-20 15:49] Andrew-Chen-Wang opened #95 "Discussion: Traefik for self-hosted deployment + serverless deployment with celery"
Hey @Eshaan7. I'm a contributor on [cookiecutter-django](https://github.com/pydanny/cookiecutter-django), and I think the way you've set up this project could take some inspiration from that repository.

For one, the compose files could be labeled a little better. Other things like the .env files could be in their own directory, the Dockerfiles can be in their own, and the requirements could be se

[2020-06-20 15:53] Andrew-Chen-Wang opened #96 "[Discussion] Doc specifies you can use celery with Fargate/serverless even though you use celery."
In docs/source/Installation.md, you say you can deploy serverless, even though you use celery. For an application like this, I cannot warn enough against this. You can view an SO question which explains why not here: https://stackoverflow.com/questions/53218715/operating-the-celery-worker-in-the-ecs-fargate

A previous talk with someone else mentioned pretty much the same points when using AWS lam

[2020-06-20 15:56] Andrew-Chen-Wang opened #97 "Discussion: Env files should have .env extension"
Some IDEs like having .env files because their extensions can easily digest those and show syntax errors. Additionally, it's just habit/conventional to have these "." files that are either unnecessary or "secretive" stay as . so that gitignore files can have something like:

[code]

[2020-06-21 16:20] Eshaan7 commented on #95
We have plans to work on that, but they mostly involve any newer dependencies regarding integration of new analyzers. See this [section](https://intelowl.readthedocs.io/en/latest/Installation.html#optional-analyzers). The main constraint we have with this is that most analyzers are command-line tools. If they are kept in seperate containers, we can't interact with them unless we wrap them as a RES

[2020-06-21 16:31] Eshaan7 commented on #97
We have followed the `.` prefix convention for files that are not of concern to the end-user (for example, `.env`, `.travis.yml`, etc.) but the reason we did not prefix each env file with a `.` is because env files especially `env_file_app` are the heart of this project - we want the users to completely configure the env files. For example, inputting the different API keys because w/o them this ap

[2020-06-21 16:57] Andrew-Chen-Wang commented on #95
No problem! Project seems interesting, so I just left some comments to help out. Honestly, if you're using a compose file, in general, there's a Docker learning curve to go through (I think when I first looked at cookiecutter-django, not having any clue about Docker and knowing programming for a couple months). Separating the configurations of compose files could be helpful in general when thinkin

[2020-06-21 17:00] Andrew-Chen-Wang commented on #97
Ah I see; couldn't really understand why it was like that to begin with. I was just thinking something like app_template.env could be useful since it 1. still carries the keyword `env` and 2. is stated as a template so that the user knows this shouldn't be public. (Especially if you use something like secrets manager or parameter store with ECS, then you don't need to do your little function that

[2020-06-21 17:31] Eshaan7 opened #98 "Divide requirements.txt into development.txt and production.txt"
We could separate the `requirements.txt` file into small files such as development/local.txt and requirements/production.txt.

_Originally posted by @Andrew-Chen-Wang in https://github.com/intelowlproject/IntelOwl/issues/95#issuecomment-647153922_

[2020-06-21 17:33] Andrew-Chen-Wang commented on #98
It'll help with Docker caching. If you change a production package, then you have to rebuild the entire pip install stage in your Dockerfile. It's for readability and for Docker benefits like small image sizes.

[2020-06-21 17:33] Eshaan7 commented on #95
Yes, we do have different compose/config files for local, tests and production. It would be good if we can better separate these into their own folders and potentially add their entries to .dockerignore to slim the image.

Yes, that can be done too. I just created a new issue regarding this. #98.

[2020-06-21 17:45] Eshaan7 commented on #58
Commits by @mlodic - https://github.com/intelowlproject/IntelOwl/commit/23917299720c765cb9383826c535567e9947d69b, https://github.com/intelowlproject/IntelOwl/commit/d49ecbb8ef411b124361b42eb672155f58b8d488

[2020-06-21 17:45] #58 closed

[2020-06-21 17:48] Eshaan7 commented on #82
Added in PR - #94.

[2020-06-21 22:11] Eshaan7 opened #99 "Base class for analyzers run function"
Under [script_analyzers/](https://github.com/intelowlproject/IntelOwl/tree/master/api_app/script_analyzers), we have too much duplicate code in each analyzer's `run()` function. For example, getting `additional_config_params`, verifying them, setting up report, catching and handling errors. Can't we take more of an Object oriented approach here ?

This is just a very basic overview of what I have

[2020-06-22 07:10] mlodic commented on #99
Absolutely. 100% agree

[2020-06-22 07:18] mlodic commented on #98
Good idea! Thank you for your inputs!

[2020-06-22 07:38] mlodic commented on #95
Thank you very much @Andrew-Chen-Wang! I really appreciated your tips.

About the support for AWS Fargate, it was just a very early idea that was not completely developed. When we will think about that, we would set up a different configuration/architecture for this case that won't leverage celery at all.

At the moment our focus is on creating a fresh and new interface and on trying to make the p

[2020-06-22 07:43] mlodic commented on #96
As said here #95, the AWS support for serverless deployment is a "Future" idea.

We will leverage your tips when we will get back into this! Thank you!

[2020-06-22 13:20] Andrew-Chen-Wang commented on #95
Sure, no problem. Good luck and have fun with a great GSoC!

[2020-06-23 14:30] mlodic opened #100 "Add Tranco API analyzer"
https://tranco-list.eu/api_documentation

[2020-07-04 22:12] #100 closed

[2020-07-09 00:30] cvdsouza opened #108 "[Discussion Thread] Manual Deployment Methods & Instructions"
Hi ,
I'm looking to deploy IntelOwl manually in Google Cloud. I want to see what technologies of GCP i can leverage to make it a scalable deployment. Do you have any instructions for manual deployment ?

[2020-07-09 12:44] Eshaan7 commented on #108
Hi. Thank you for your interest. IMHO, there's 2 ways to go about this.

1. If you are not a GCP and/or django expert and you want to do it fast, you could create a new VM instance, clone the [v1.0.0](https://github.com/intelowlproject/IntelOwl/releases/tag/1.0.0) release, follow the [Installation.md](https://intelowl.readthedocs.io/en/latest/Installation.html) steps and just do `docker-compose up

[2020-07-09 17:00] ideaengine007 opened #110 "More Intel sources (API key required)"
Adding to the awesome list already, we can also integrate the following sources to fetch intel:

intelx.io [Data Breaches] : https://blog.intelx.io/2020/04/13/new-python-api-wrapper-and-command-line-interface/
binaryedge.io [~Shodan]: https://docs.binaryedge.io/api-v2/
spiderfoot [Mega-Platform for many such sources]: https://www.spiderfoot.net/documentation/
phonebook.cz [A part of Intelx.io]: ht

[2020-07-09 18:01] Eshaan7 commented on #110
Hi. Thank you for your inputs. Really appreciate it !

1. We could potentially leverage Intelx.io API for different types of analysis. I was able to find their [API documentation](https://github.com/IntelligenceX/SDK/blob/master/Intelligence%20X%20API.pdf) - we can integrate some interesting endpoints especially the `/phonebook` one because even though we integrate hunter.io for email address hunt

[2020-07-09 18:04] #99 closed

[2020-07-09 19:14] ideaengine007 commented on #110
Hi Eshaan. I will try doing this on my local instance and share. Pretty much new to contributing and developing things, but I think starting this way would be awesome for me :)

[2020-07-09 19:46] Eshaan7 commented on #110
Awesome. Feel free to reach out to me on [twitter](https://twitter.com/mask0fmydisguis) if you need any help.

[2020-07-09 22:24] Eshaan7 opened #111 "Dynamic configuration at time of requesting scan"
ATM, there's no way to dynamically pass in a configuration for an analyzer at the time of requesting a scan. For any configuration changes, the user needs to edit the `analyzer_config.json` manually.

Breaking past this limit could be one of the most exciting and powerful features of Intel Owl.

Some use cases:
- an option that allows requesting an analysis with X instances of a single analyzer wi

[2020-07-10 22:08] ibrahim3pf opened #112 "api_app_job"."errors", "api_app_job"."file""
Hello,
Iam tryign to install the tool but would never finish the instalation via docker,
I did the following:

1- cp env_file_app_template env_file_app
2- cp env_file_postgres_template env_file_postgres
3- docker-compose up

but docker still stuck in here:

intel_owl_celery_worker | [2020-07-10 22:00:01,282: INFO/ForkPoolWorker-2] started check_stuck_analysis
intel_owl_postgres | 2020-07-10 22:00:

[2020-07-11 11:58] Eshaan7 commented on #112
Hi. It looks like the tables didn't got created in the database for some reason.
With `docker-compose up` running, open another terminal and run this command:
[code]
Once inside the docker container run these 2 commands,
[code]

[2020-07-13 18:16] #3 closed

[2020-07-13 22:09] ibrahim3pf commented on #112
Thanks Eshaan7

I recieve this after excuting the commands:

intel_owl_celery_worker |     return self.cursor.execute(sql, params)
intel_owl_celery_worker | django.db.utils.ProgrammingError: relation "token_blacklist_outstandingtoken" does not exist
intel_owl_celery_worker | LINE 1: ...ken_blacklist_outstandingtoken"."expires_at" FROM "token_bla...

[2020-07-13 22:10] ibrahim3pf opened #116 "error in file (env_file_app) environment variable name 'MOCK_CONNECTIONS"
Hello,
When I excute "docker-compose up" I receive this error.

Thanks.

[2020-07-13 22:30] Eshaan7 commented on #111
Initial prototype: https://i.imgur.com/5sxp9JP.gif
A dialog with a text/json editor in which an advanced user can edit the configuration at time of requesting scan.

[2020-07-13 22:37] Eshaan7 commented on #116
Please make the change given here: https://github.com/intelowlproject/IntelOwl/pull/113/files#diff-ec42129bc4570b65f98290a629d63961
Just remove the whitespace around the variable.

We will be releasing a new version with this fix soon!

[2020-07-13 22:37] #116 closed

[2020-07-13 22:43] ibrahim3pf commented on #116
Thanks Eshaan7

[2020-07-14 10:10] Eshaan7 commented on #112
Ah, sorry my mistake. The correct command is `python manage.py migrate`. So it picks up models from the entire application.

[2020-07-14 18:26] ibrahim3pf commented on #112
Hello @Eshaan7

Thank you so much for your support,
unfortunately it didnt work in both ways,
Any way, I will check our maybe the problem is of the OS itself, also I will be checking for the newr released.

Regards.

[2020-07-15 08:26] mlodic opened #120 "Add GeoCity DB to Maxmind analyzer + update release"
At the moment this analyzer (https://github.com/intelowlproject/IntelOwl/blob/master/api_app/script_analyzers/observable_analyzers/maxmind.py) leverages only the "Country" DB.

We could add the download of the GeoCity DB weekly and the related check.

Example usage of the library: https://geoip2.readthedocs.io/en/latest/

[2020-07-15 08:35] mlodic opened #121 "Add support for external authentication methods (LDAP, GSuite, ...)"
We should add support for some common authentication methods that could be leveraged to avoid the pain to create and manage new users directly in IntelOwl.

- [x] LDAP support
- [ ] GSuite via SAML
- [ ] others, if requested

[2020-07-15 15:29] Eshaan7 commented on #112
@ibrahim3pf We have released v1.1.0. You can see the changelog download it from here: https://github.com/intelowlproject/IntelOwl/releases/tag/v1.1.0. Follow the [installation steps](https://gist.github.com/ninoseki/83d65b020c86f67f822eb50c56756201) and it should work fine!

I'll be closing this issue now. If you need further support, feel free to re-open this issue or create a new one. :rocket:

[2020-07-15 15:29] #112 closed

[2020-07-15 16:05] ibrahim3pf commented on #112
I will check it out @Eshaan7
Thanks for the support.

[2020-07-15 23:48] colbyprior opened #123 "[Feature Request] User groups and private jobs"
Hi,

I would like to extend the Job model to include the concept of a "private job" which references Django groups.

If a user was to create a "private job" then the job would only be visible to other users in the same group. This could be possibly tied to the "Force Privacy" attribute that already exists.

Django groups are multi-valued but it would still be possible. However it may be easier to

[2020-07-16 15:40] Eshaan7 commented on #123
Hi. Thank you for your feedback! This indeed could be a nice feature.

If I understand you correctly, you basically want to categorize users into different "groups" so you can apply permissions, or some other label, to those users. Then, users can create Jobs which would be limited (in terms of view/edit permissions) to the belonging group only ?

Also, checking the `Force Privacy` attribute disab

[2020-07-17 07:28] mlodic opened #125 "Integrate FireEye Capa"
We should create a new file analyzer for the new tool of FireEye: Capa https://github.com/fireeye/capa.
We have to remember this tool support only PE files while creating the analyzer configuration

[2020-07-17 19:33] Eshaan7 commented on #83
Closing this because we have covered almost the entire code-base except for a few trivial places where we can just use `.format()` for syntactic-sugar.

[2020-07-17 19:33] #83 closed

[2020-07-17 19:34] Eshaan7 commented on #90
Could integrate [AndroPyTool](https://github.com/alexMyG/AndroPyTool) as it bundles many APK analyzers.

[2020-07-20 18:04] #125 closed

[2020-07-20 23:34] cvdsouza commented on #121
Google OAuth2 :)

[2020-07-21 14:18] #8 closed

[2020-07-25 06:59] ameygat opened #129 "SHA256 Hash not accepted in Observable SCAN form"
Input Hash:
99b24003e4d5a19430653760db6492d920dfda94194ba8aaa9e82d2949aab740

Selected Run All available analyzers

Error:
[code]

[2020-07-25 16:47] ameygat opened #130 "Country wise domain not accepted in obervable search"
When I tried domain like `google.com.sa` the input form on observable search does accept it.

Is this something intended or bug ?

[2020-07-25 20:18] Eshaan7 commented on #129
Hi. Thank you for your report !

We are about to make a release with version `v1.2.0`. Will push a fix for this in the same.

[2020-07-25 20:20] Eshaan7 commented on #130
This is because of the regular expression matching. I think for the time being you could just append the domain with `http://` and scan it as an URL.

[2020-07-27 14:40] #129 closed

[2020-07-27 18:37] #70 closed

[2020-07-27 20:58] Eshaan7 commented on #129
Fixed was released in [https://github.com/intelowlproject/IntelOwl/releases/tag/v1.2.0](v1.2.0).

[2020-07-29 14:37] #130 closed

[2020-07-31 09:14] mlodic opened #134 "Quark Engine analyzer"
https://github.com/quark-engine/quark-engine

This tool can be used to assess Android applications.

At a first glance, the problem could be that it is created only for CLI so it could require some work to properly integrate it.

[2020-08-09 17:05] heipei commented on #36
Let me know if you have any questions around using the API. We recently revamped the API documentation and it now includes information about quotas and rate-limits.

[2020-08-10 12:53] kinnairdt opened #136 "Valid Domains with Second Level domains showing as Invalid"
When testing some domain submissions i have notice any domain with a second level domain reports as invalid
Tested with:
.co.uk
.co.nz

{
  "is_sample": false,
  "observable_classification": "domain",
  "observable_name": "google.co.uk",
  "analyzers_requested": [],
  "force_privacy": false,
  "disable_external_analyzers": false,
  "running_only": false,
  "run_all_available_analyzers": true,
  "t

[2020-08-10 13:15] Eshaan7 commented on #136
Please see https://github.com/intelowlproject/IntelOwl-ng/issues/44

[2020-08-10 13:32] #136 closed

[2020-08-10 17:31] netbroom opened #137 "Add Pulsedive Analyzer"
API documentation: https://pulsedive.com/api/

About Pulsedive: https://pulsedive.com/about/

IOC example and URL formats:
By raw value: https://pulsedive.com/indicator/?indicator=github.com
By Base64-encoded IOC: https://pulsedive.com/indicator/?ioc=Z2l0aHViLmNvbQ==
By IID: https://pulsedive.com/indicator/?iid=257710

API example:
https://pulsedive.com/api/?pretty=true&indicator=github.com

It so

[2020-08-10 20:45] MaxwellDPS opened #138 "Unsupported Unicode escape sequence causing fail"
This is the error below, Censys causes one via IP.. Ubuntu 20.04

[code]

[2020-08-10 22:34] bowling opened #139 "XForce Intelligence Analyzer"
Hello,

Is it possible to add XForce Intelligence (IBM XForce) to the list of APIs that can be used? They have a fully documented API for public use, along with limited free or paid API access. Some of the more useful ones (such as Botnet C2 categories) are not metered.

https://api.xforce.ibmcloud.com/doc/
https://exchange.xforce.ibmcloud.com/
https://exchange.xforce.bmcloud.com/settings/api

"Al

[2020-08-11 08:10] mlodic commented on #36
Thank you @heipei, I will contact you if we have any problems! We will try to add this analyzer as soon as we can, but we are pretty busy this month with other tasks.

The addition of this analyzer should be pretty easy and straightforward also for new contributors, so I strongly invite everyone reading this to jump into the docs and try to make a pull request.

[2020-08-11 08:13] mlodic commented on #137
Thank you very much for your interest! We are going to add this soon. We will comment with updates.

[2020-08-11 08:17] mlodic commented on #138
Thank you for your report!

This is a known problem that could happen with each analyzer, depending on the data that the analyzer gives back to the user. This is the issue explained: https://stackoverflow.com/questions/31671634/handling-unicode-sequences-in-postgresql

We should create a sanitizer at the database level to avoid this problem. We will update this issue once we have news about on how

[2020-08-11 08:45] mlodic commented on #139
Hi, thank you for your interest in the project!

Some IBM API endpoints cannot be implemented. One important thing to remember is that IntelOwl is a tool to *enrich* data. This means that users should start with an observable (IP,domain,...) or a file that they would like to analyze and ask IntelOwl to process it. For instance, the endpoint you mentioned `/xfti/bots/ipv4` cannot be integrated beca

[2020-08-11 08:56] mlodic opened #141 "Update Capa to v. 1.1.0"
https://github.com/fireeye/capa/releases/tag/v1.1.0

[2020-08-11 16:18] mlodic opened #142 "Triage analyzer"
We could create a file analyzers that leverages Triage Sandbox. https://tria.ge
Recently, they added the chance to request a free "researcher" account that can leverage their API to programmatically start sandbox analysis and retrieve results. https://tria.ge/docs/cloud-api/

[2020-08-11 17:18] bowling commented on #139
Hey,

Thank you! I'll look into adding a custom analyzer in for this. If I can get it too work properly I'll send it off to you for review (and potentially addition).

Cheers,
Mike

[2020-08-11 18:11] Eshaan7 commented on #123
This was added in #135 and will be available with the next stable release `v1.3.0`.

[2020-08-11 18:11] #123 closed

[2020-08-11 18:18] Eshaan7 opened #143 "Elastic Search Support"
**Feature request:**
With the [`django-elasticsearch-dsl`](https://github.com/django-es/django-elasticsearch-dsl) package, we can sync the `Job` model in Django with a `Job` index in elastic search.

**Use case:**
Elastic search with Kibana GUI provides some really great tools/features for SOC analysts and it would make it possible for users to analyze the results in a very custom and open manner.

[2020-08-12 13:19] pynixadm opened #144 "Integration/connectors for other threat intel projects"
Suggestions from this comment:
https://www.reddit.com/r/blueteamsec/comments/i6j6ur/tool_intel_owl_free_and_open_source_threat/g10ucax/

1. - [ ] Add a section for possible resolved urls/hostnames in an IP lookup (reverse ip lookups, etc)

2. - [x] Is there a way to remove the max character limit when looking up a URL (128 chars)? The first spam url lookup I did hit it. (Added in #147)

3. - [x] A

[2020-08-13 08:05] mlodic opened #145 "Checkdmarc analyzer"
We could leverage this tool to extract SPF and DMARC records for a domain:

https://pypi.org/project/checkdmarc/

[2020-08-13 12:40] Eshaan7 commented on #134
Can get started on this as soon as they complete [adding support for JSON output](https://github.com/quark-engine/quark-engine/pull/68).

[2020-08-13 14:25] soelkongen opened #146 "Subdomain not valid"
When I input a subdomain for scanning, it will give the error "Invalid domain".

[2020-08-13 14:29] Eshaan7 commented on #146
Thankyou for your report. Are you using the web interface or the CLI client ?

[2020-08-13 14:32] soelkongen commented on #146
Web interface

[2020-08-13 14:33] Eshaan7 commented on #146
The same issue was reported earlier https://github.com/intelowlproject/IntelOwl-ng/issues/47 and the fix will be released very soon as part of `v1.3.0` release.

[2020-08-13 14:33] #146 closed

[2020-08-13 15:25] #143 closed

[2020-08-13 18:05] Eshaan7 commented on #97
On another thought, we could convert `env_file_app_template` into a INI file that can then be parsed using python's [configparser] (https://docs.python.org/3.6/library/configparser.html). As mentioned in their docs, "You can use this to write Python programs which can be customized by end users easily." - it fits best for our use case and is a pythonic approach.

[2020-08-14 05:27] Justinb22 opened #150 "try rebasing"
try rebasing

__Originally posted by @elevenfive in https://github.com/donglua/PhotoPicker/pull/132#issuecomment-268113610__

[2020-08-14 08:00] Eshaan7 commented on #150
Please stop spamming this repository.

[2020-08-14 08:00] #150 closed

[2020-08-14 13:22] Eshaan7 commented on #137
I was reading the documentation and I think for our case, we would want to integrate the [`/api/analyze.php`](https://pulsedive.com/api/#scan) endpoint for IP, domain and IOC (new) observable classifications. I couldn't find but does it support any other types of indicator as well, @netbroom ?

The `/api/analyze.php` is more fit than `/api/info.php` for Intel Owl users because the latter only work

[2020-08-15 20:40] n2x4 opened #151 "Intel Reporting - TLDR Analysis"
Was using IntelOwl for IP and URL analysis to begin building a profile on the source.  I didn't see a way to consolidate the resulting search data and had to view the output for each separately.  It would be nice to be able to skip blank results or get the combined output into a single export of results - one view of all the findings.

[2020-08-15 23:44] Eshaan7 commented on #151
When you get the result on the web interface, in the table on RHS the analyzers with the green checkmark are ones which provided some valid output. You can sort the table to have these on top, that way you can avoid looking (clicking) at ones with the red cross (unless you are interested in looking at why the particular analyzer failed).

You can click on the 'view as raw json' button and view the

[2020-08-17 20:06] netbroom commented on #137
Hey just saw this. The `analyze.php` will perform a scan regardless, so we recommend you send a query to `info.php` to check if the indicator is already in the database, and if you get an `error` key in the result object then run the scan with `analyze.php`.

The result object from `info.php` and `analyze.php` should be the same so if there are discrepancies please let me know.

We support URLs, I

[2020-08-18 05:02] skygrip opened #153 "Scanning files that are xlsm files fail"
Scanning a file that is an xlsm file from the web interface fails. I am using the docker compose version of IntelOwl based upon the latest git as of 2020-08-18

Steps to reproduce:
1. Create a file in Excel, fill it with some data, save the file as "Excel Macro-Enabled Workbook (*.xlsm)"
2. Scan the file in IntelOwl web interface with any settings. You will receive an error "server returned: error

[2020-08-18 12:43] Eshaan7 commented on #153
Thanks for your report. We will increase the `max_length` parameter for `file_mimetype` field.

[2020-08-18 12:54] mlodic commented on #134
They completed it with the latest release!!! :rocket:

https://quark-engine.readthedocs.io/en/latest/integration.html

We can integrate is a simple analyzer

[2020-08-18 18:48] Eshaan7 commented on #151
Moving to the IntelOwl-ng repository since this is related to the web interface.

[2020-08-19 13:43] Eshaan7 commented on #137
@netbroom We have integrated Pulsedive (PR #154) and it will be available to the users in the next release in a few days. We'd appreciate if you could list IntelOwl in the "Integrations" section on https://pulsedive.com/api/#libraries.

[2020-08-19 13:43] #137 closed

[2020-08-19 16:04] vxsh4d0w opened #157 "Add PeFrame"
Adding Peframe to IntelOwl could be a gret improvement in order to extract quickly and well formatted info about a pe file.

[2020-08-19 16:06] Eshaan7 commented on #157
PEframe is already integrated :smile:

Please look at the (Advanced-Usage.html)[https://intelowl.readthedocs.io/en/develop/Advanced-Usage.html#optional-analyzers] in the documentation.

[2020-08-19 16:06] #157 closed

[2020-08-19 16:06] vxsh4d0w opened #158 "Add OpenCTI"
Adding OpenCTI as integrated tool could be an opportunity to share ifo between two platform. In particulare IntelOwl could extract all info about artifacts and export this info to OpenCti where an analyst could enrich with other details. or import from OpenCti other info already available.

[2020-08-19 16:08] Eshaan7 commented on #158
Duplicate of #11.

[2020-08-19 16:24] #158 closed

[2020-08-19 16:26] vxsh4d0w commented on #157
You're right...I didn't notice it. :D 👍

[2020-08-19 16:27] vxsh4d0w commented on #158
👍

[2020-08-20 06:47] mlodic commented on #158
Thank you for your inputs @vxsh4d0w!

The fact that your ideas were already integrated or are already planned means that we are following the right path! This is exactly what we would like to hear from the community!

[2020-08-20 08:09] mlodic commented on #144
Issue n.1) Reverse IP lookups should have worked with the `ActiveDNS_Classic` analyzer but I just noticed that it is bugged. We will push the fix in the next release. Also, the other 2 analyzers that performs DNS requests via HTTPS (`ActiveDNS_CloudFlare` and `ActiveDNS_Google`) do not support reverse lookups at the moment but, in the future, they will. I will update this issue as soon as we make

[2020-08-20 09:01] #82 closed

[2020-08-20 09:01] #134 closed

[2020-08-20 09:01] #153 closed

[2020-08-20 11:31] dutchgioproject opened #161 "Unable to start intel_owl_celery_beat and intel_owl_celery_worker after git pull"
After a git pull to update to the latest version, both intel_owl_celery_beat and intel_owl_celery_worker are unable to start. Therefore, logging in to the web interface is not possible.

There seems to be a configuration that expects a Django ldap auth file, 'django_auth_ldap':

I've already done a clean install but this seems to cause the same issue.

[2020-08-20 12:08] mlodic commented on #161
Hi, thank you for reporting the issue! I am about to check this. Meanwhile you can
[code]
This should fix the problem while I investigate on the root cause. Care that the folder `intelowl_generic_logs` could be called differently based on the folder where you git pulled the project.

[2020-08-20 12:32] dutchgioproject commented on #161
Thanks.
I'm unable to locate the intelowl_generic_logs folder though, I git pulled the project in my user directory in Windows, using Docker desktop.

[2020-08-20 12:56] mlodic commented on #161
Apologies, I assumed that you were using a Unix-like OS.

Honestly we did not test IntelOwl on Windows. We recommend to use a Debian-based OS. We will specify clearer in the next documentation that, at the moment, we can provide support only for Debian-based installations.

However the point is to identify where the "offended" file is located.
The folder where the volumes are located should be her

[2020-08-20 15:04] dutchgioproject commented on #161
Thanks.
It turns out to be even more complex, the files aren't there.
I'll reinstall it on a Unix system as it will be supported.

[2020-08-21 01:19] sreemanshanker opened #163 "Cache issue everytime we restart the docker instance"
not sure if its just me - but everytime i bring down docker to edit the .env file and bring it back up - i cant just refresh and get the login page to intelowl. i need to clear all my cookies in order to be able to login again. Without clearing cookies i get a "failure to fetch data, are you online? http failure response for http://x/api/jobs 401 error"

[2020-08-21 04:43] Eshaan7 commented on #163
Hi, what version of Intel Owl are you using?

[2020-08-21 04:50] sreemanshanker commented on #163
experienced it from 1.0, 1.3 and even with latest 1.4

[2020-08-21 05:55] #161 closed

[2020-08-21 07:09] mlodic commented on #163
In the last version, you can just logout and login again from the interface, then everything should work correctly.

[2020-08-21 16:27] Eshaan7 opened #165 "External Observable Sources"
I see that Spiderfoot [integrates different analyzers](https://www.spiderfoot.net/documentation/#api) most of which we already have. What we could do is scan their list of analyzers and see the ones which could be useful to Intel Owl.
_Originally posted by @Eshaan7 in https://github.com/intelowlproject/IntelOwl/issues/110#issuecomment-656270374_

[2020-08-24 14:30] i4gengineering opened #170 "Add Radius Auth to Django"
Adding https://github.com/robgolding/django-radius to allow radius auth

[2020-08-24 15:49] mlodic commented on #170
Thank you for the suggestion! Related to #121

[2020-08-24 15:49] AntoninHL opened #171 "DJANGO password authentication failed"
Hi,

I tried to start IntelOWL but I always have the same error:
`django.db.utils.OperationalError: FATAL:  password authentication failed for user "user"`

`env_file_app` and `env_file_postgres` are modified with key and passwords...

Is there anything else to do?

Thanks

[2020-08-24 15:52] mlodic commented on #171
Hi @AntoninHL, just some questions to understand the problem.

did you use the most recent version (1.4.0)?
did you upgrade from an old version?
did you follow the steps here? https://intelowl.readthedocs.io/en/latest/Installation.html#after-deployment
How did you create that user?

[2020-08-24 16:29] mlodic commented on #171
If you changed `env_file_postgres` after you have launched IntelOwl the first time, the Database had already set up the DB credentials to the ones they were written in that file. This means that:

- either you reset the password value in `env_file_postgres` to the previous one and relaunch the application

- or you completely drop the DB (`docker-compose down **-v**) and relaunch the application

[2020-08-24 16:37] brcak-zmaj opened #172 "Error when trying to create superuser"
Hello,

I've went through all steps in documentation as well as Youtube, and I ran into this issue twice. I don't know what I might be doing wrong

[code]

[2020-08-24 16:37] #172 closed

[2020-08-24 16:38] Eshaan7 commented on #172
Duplicate to #171.

[2020-08-24 17:32] AntoninHL commented on #171
Many thanks!
I change the password just after the first launch!
Now it's started. But no access to http... :-(

Many thanks again

[2020-08-24 17:34] #171 closed

[2020-08-25 06:07] Eshaan7 commented on #171
Glad that it works. The web interface is at http://localhost:80/

[2020-08-26 09:20] #111 closed

[2020-08-26 09:26] Eshaan7 commented on #144
Hey, @pynixadm. Regarding point #3, You can checkout the latest [**v1.5.0**](https://github.com/intelowlproject/IntelOwl/releases/tag/v1.5.0) release. We have added a way to change analyzers configuration when requesting scan.

[2020-08-27 12:04] chavez243ca opened #173 "Oh snap! Auth broke"
Had IntelOwl up most of yesterday, couple accounts active, submitted a couple observations - all good. Had an admin do some minor hardening and rebooted the server, I went back in and did a docker-compose up -d - IntelOwl came back up, but no accounts able to login now including root.

Not sure what happened.

[2020-08-27 12:17] mlodic commented on #173
Hi @chavez243ca, could you please provide more details?

Which IntelOwl release do you use? Did you upgrade IntelOwl during the maintenance?

Can you login with the admin in account in the Django Admin interface `http://<your_domain>/admin`?

If you can export the logs (should be here `/var/lib/docker/volumes/<project_folder_name>_generic_logs/_data`, I can check them and try to understand the iss

[2020-08-27 12:52] chavez243ca commented on #173
Just built yesterday, so should be the latest version, no upgrade performed to my knowledge. Due to where that instance of IntelOwl resides compared to where I am typing this, exporting the logs is a bit of a challenge. However, I did grab a snippet of the django error log:

Traceback (most recent call last):

  File "./api_app/auth.py", line 66, in obtain_user_token

    code=status.HTTP_400_BAD_

[2020-08-27 13:09] mlodic commented on #173
That error is just a simple error that I think it is not be related to some bug in IntelOwl but just something wrong with your credentials.

A possible reason could be that you deleted the database when shutting down the application. How did you shut down Intel Owl? If you removed the volumes, all the users are gone.

I suggest you to create a new "superuser" like stated here https://intelowl.read

[2020-08-27 13:11] chavez243ca commented on #173
My guess is the admin just rebooted the server w/o manually shutting down the containers. We do have a snapshot we might revert to, but I'd like to get to the bottom of this if I can.

[2020-08-27 13:15] chavez243ca commented on #173
okay - reset the superuser and got in, all the created users from yesterday are missing.

[2020-08-27 13:18] mlodic commented on #173
Ok, if it happens again please tell us. Have a nice day and enjoy the application 👍

[2020-08-27 18:54] #173 closed

[2020-08-28 10:00] mlodic opened #174 "Integrate FireEye SpeakEasy"
New tool: https://www.fireeye.com/blog/threat-research/2020/08/emulation-of-malicious-shellcode-with-speakeasy.html

[2020-08-28 22:30] mathurin68 opened #176 "CAPE sandbox and a SOAR"
Anyone used this with a SOAR like phantom and a CAPE sandbox?  Looks like its tailor made to work with a SOAR.

[2020-08-28 22:51] mlodic commented on #176
IntelOwl is built to be easily integrated with other security tools. You can leverage the [official client](https://github.com/intelowlproject/pyintelowl) to integrate it via python with a SOAR of your preference.

You could also develop a specific CAPE analyzer to directly create and send analysis from IntelOwl if you wish.

[2020-09-01 15:32] #174 closed

[2020-09-01 15:32] #141 closed

[2020-09-04 04:13] jinjimosd opened #183 "How to add a new analyzer? (This case is WHOISXMLAPI)"
#**Thank for app!**
It's a great app if I have it installed by default. However, I want to grow it up. I managed to successfully install on my Ubuntu. I read doc and know Intel Owl was designed to ease the addition of new analyzers.
I have tried the addition of new analyzers. I tried with Whoisxmlapi [(https://whois.whoisxmlapi.com/)](https://whois.whoisxmlapi.com/). WHOIS API service provides the

[2020-09-04 06:56] mlodic commented on #183
Hi and thank you very much for your interest in the project! New contributions are welcome!

At a first glance it seems you followed the steps correctly so maybe the error is in the details.

So I suggest you to open a Pull Request with your code where we can better discuss about it. In this way I can easily comment on some sections and I can also easily test your code on my own.

[2020-09-04 06:59] mlodic commented on #183
Also, if you find an error in the application, you should try to look at the logs to try to understand where is the problem.

On Ubuntu, you should find the triggered errors (explained in details, not only with the status code) here: `/var/lib/docker/volumes/intelowl_generic_logs/_data/django/api_app_errors.log`.

[2020-09-04 12:01] mlodic commented on #183
Hey, I think that you are using the principal docker image.

Look at the `.env` file, comment the current COMPOSE_FILE variable and uncomment the line that points to `docker-compose-for-tests.yml`. In this way, the application will use your local changes instead of the original docker image.

You see those errors because `analyzer_config.json` is mounted with a bind volume. This means that this is

[2020-09-06 05:34] jinjimosd commented on #183
Thank for help. It search successful after I edit file .env. However, another error happen. This is logs error:
[code]

I try change code in file whoisxml.py but the old error still occurs. This is code:
import requests
import json

from api_app.exceptions import AnalyzerRunException
from api_app.script_analyzers import classes
from intel_owl import secrets

class Whoisxmlapi(classes.ObservableAna

[2020-09-06 09:03] jinjimosd commented on #183
I try test file and output is JSON Format. I don't know why app error.
Test file:
[code]

OUTPUT:

`{'WhoisRecord': {'createdDate': '1997-09-15T00:00:00-0700', 'updatedDate': '2019-09-09T08:39:04-0700', 'expiresDate': '2028-09-13T00:00:00-0700', 'registrant': {'organization': 'Google LLC', 'state': 'CA', 'country': 'UNITED STATES', 'countryCode': 'US', 'rawText': 'Registrant Organization: Google L

[2020-09-06 14:47] Eshaan7 commented on #183
Can you please make a pull request with all these changes against the `develop` branch ? The bug is probably something trivial

[2020-09-06 17:55] tamthaitu commented on #183
I just make pull request all changes against the `develop` branch.  Thank for help!

[2020-09-08 07:20] mlodic opened #186 "Unpacme analyzer"
Reference: https://api.unpac.me

[2020-09-10 18:30] Eshaan7 commented on #183
Thank you for your contribution. Your PR has been merged into the develop branch and it will be available with the next release.

[2020-09-10 18:30] #183 closed

[2020-09-11 11:18] Eshaan7 opened #188 "DNStwist analyzer"
[dnstwist on GitHub](https://github.com/elceef/dnstwist).

It's available on PyPi and supports python3 so can be added in `requirements.txt` and used directly without subprocess.

[2020-09-11 11:46] Eshaan7 opened #189 "PacketTotal API for .pcap files"
https://packettotal.com/api.html

[2020-09-14 16:10] #145 closed

[2020-09-15 19:15] Spyd3r0TW opened #192 "Unable to scan files"
No matter which type of file I use or which analyzer I try to use I get a 400 Error.

![error](https://user-images.githubusercontent.com/69591767/93253958-98784d80-f765-11ea-877d-72f972a00485.PNG)

Here is an example of some of the stuff I see in the logs:

{"log":"10.100.11.216 - - [15/Sep/2020:19:06:40 +0000] \"POST /api/send_analysis_request HTTP/1.1\" 400 134 \"http://hostname/pages/scan/file\

[2020-09-15 20:11] Eshaan7 commented on #192
Hey. Can you tell what version of IntelOwl you are using?

[2020-09-15 20:51] Spyd3r0TW commented on #192
I am using the docker containers which use v1.5.0

[2020-09-16 09:13] Eshaan7 commented on #192
Please follow the update guide. https://intelowl.readthedocs.io/en/latest/Installation.html#update-to-the-most-recent-version

[2020-09-16 09:13] #192 closed

[2020-09-18 15:11] mlodic opened #193 "Update Capa analyzer to last version and move it from docker-based analyzer to classic one"
With the version [1.3.0](https://github.com/fireeye/capa/releases/tag/v1.3.0), they have also added Capa to [Pypi](https://pypi.org/project/flare-capa/). Maybe we could erase the already existing docker-based analyzer and create a classic file analyzer with a simple import from pypi

[2020-09-20 17:47] #186 closed

[2020-09-22 08:07] mlodic opened #195 "Update DNSDB analyzer to v.2 + more options"
At the moment the DNSDB analyzer still leverages Farsight API v.1. Recently they published v.2 with even more options.
Doc: https://docs.dnsdb.info/dnsdb-apiv2/

We should give the chance to:
* set a different API endpoint
* support for `max_count` and "time" options (`time_first_before`, ...)
* wildcard queries (ex: `*.farsightsecurity.com`)
* nameserver queries (endpoint `rdata/name`)
* search f

[2020-09-23 13:08] RamnathKumar181 commented on #36
Sorry about the delay, had a few college deadlines. Will get back at this asap!

[2020-09-24 08:45] RamnathKumar181 commented on #36
Hey @Eshaan7 @mlodic ,
I have a few updates and thought it would be pointing a few troubles I had:
1> Currently, there is a new release of black package (20.8b1) whereas, the one running on docker is 19.10b0. We might want to specify this explicitly in the docs so that others could install the right version and not face any errors in the travis build.
2> In the contribution page(https://intelowl.r

[2020-09-24 12:33] Eshaan7 commented on #36
1 & 2) Thankyou for pointing these out. Will make the changes in the docs soon.
3) Can you provide a log/screenshot of the error you are facing ? ([docs](https://intelowl.readthedocs.io/en/latest/Contribute.html#pass-linting-and-tests) on running tests locally).

[2020-09-24 18:54] RamnathKumar181 commented on #36
Hey @Eshaan7 @mlodic ,
1> The submit_task passes on url such as "youtube.com", "www.google.com", etc. It fails on the test case "https://www.google.com/search?test" under the error code 400, bad request. The message on their site is: "The submitted domain is on our blacklist. For your own safety we did not perform this scan..." (https://urlscan.io/). How do we pass the travis build if this site is

[2020-09-26 11:37] Eshaan7 commented on #36
I think what you want to do is: `docker exec -ti intel_owl_uwsgi python manage.py test tests.test_observables.URLAnalyzersTests.test_urlscan_search`

[2020-09-27 13:04] heipei commented on #36
You could use any other URL (e.g. the IntelOwl Github URL) for scanning. Google is blacklisted for specific reasons, as is Youtube.

[2020-09-29 13:04] decalage2 opened #198 "oletools dependency - update to 0.56"
Now that I merged your PR on oletools, I think it's better to point to the main oletools 0.56 release in requirements.txt instead of your modified version, to benefit from the latest bugfixes and future ones. :-)

[2020-09-29 13:16] mlodic commented on #198
Hi @decalage2, I have already done it in the `develop` branch (https://github.com/intelowlproject/IntelOwl/commit/84b165f5875d5a0a008817f8ac20a3b0e7f392e1). I am about to push it into the next release. Thank you very much!

[2020-09-29 13:16] #198 closed

[2020-09-30 10:14] RamnathKumar181 commented on #36
Thank you very much @heipei . It worked! All the tests passed on my local system!
@Eshaan7 , there were some complications while pushing the code. I had to create a new PR since the previous repo apparently didn't exist. Sorry about that. I Will work on any further complications in the tests asap.
Thank you for your time!

[2020-09-30 14:39] mlodic opened #200 "InQuest OpenAPI analyzer"
We could create a new classic analyzer for InQuest APIs. Ref: https://labs.inquest.net/docs

The analyzer should be configured to be used both without and with an API key.

Maybe we could leverage this: https://github.com/InQuest/python-inquestlabs. However, integrating these API should not require a lot of effort so if it is preferred to leave IntelOwl without such dependencies.

Interesting endp

[2020-10-02 10:14] mlodic opened #202 "Integrate Stratosphere Yara rules"
We could add this repo to the other ones already available

https://github.com/stratosphereips/yara-rules

But first we need to ask if they will allow to do it (see https://github.com/stratosphereips/yara-rules/blob/master/LICENSE).

[2020-10-02 13:03] Spyd3r0TW opened #203 "Performing Upgrades Removes Access to Dashboard"
Anytime I perform a sudo apt-get update && sudo apt-get upgrade, I reboot the server then no longer have access to the dashboard or admin page. Any ideas why this happens?

FYI: These actions are performed on the host server containing the intelowl docker container.

[2020-10-03 08:53] Eshaan7 commented on #203
Hey. I am not sure what's causing this issue but off the top of my head maybe when you run system upgrades the docker services are stopped to update docker and docker-compose packages ?

[2020-10-03 13:51] RamnathKumar181 commented on #36
Hey @Eshaan7 , Is there an issue raised to make the relevant changes to the contribution page? I would be glad to help out with that, if possible.

[2020-10-04 12:07] #36 closed

[2020-10-04 12:08] Eshaan7 commented on #36
Not really. The changes I made were few styling changes and some fixes to make urlscan's analyzer easier to test.

[2020-10-05 10:46] KarenImmanuel commented on #200
Hey, I would like to work on this!

[2020-10-05 11:03] Eshaan7 commented on #200
@KarenImmanuel you've been assigned.

Per the requirements,

You can look at pulsedive.py, urlscan.py to see how the same thing is implemented there.

Don't use their python library use the requests module for making API calls with required parameters (you will find many examples of this under `api_app/script_analyzers/observable_analyzers/`

Here is proper, detailed docs on [Adding New Analyzers]

[2020-10-05 11:22] Eshaan7 opened #207 "Generic celery task for all analyzers"
At the start, we used functional approach where we had one function in each analyzer module for the entire analysis process and then another function generally named `<analyzer>_run` under `tasks.py` which would call the former via celery (async job). Few months back we migrated this to follow the Object Oriented approach (PR #107) instead where we defined abstract base classes such as `FileAnalyz

[2020-10-05 11:35] #202 closed

[2020-10-07 12:21] Spyd3r0TW commented on #203
Sorry, I have been out of the office for a few days.
I ended up putting the docker packages on hold and it still happened.
I decided to just try to reboot without upgrading and it still happened.

Is there a specific way I should be rebooting? A protocol I should be following.

[2020-10-07 12:22] Spyd3r0TW commented on #203
I want to clarify that what I mean by lose access i that it doesn't remember our credentials. The dashboard is still up and running, just cannot login. All containers are running by the looks of it as well.

[2020-10-07 12:43] mlodic commented on #203
Hey, somehow the docker volumes containing the database (and your credentials) were deleted during the operation.

Honestly it should not happen and I think that it is not related to a project issue but maybe to something related to docker management.

However I suggest you to create a super user again, login into the Django Admin Interface and check if the users you created before are still there

[2020-10-07 16:33] drosetti commented on #195
Max count is only for summarize (aggregate) queries, we do not perform them, max_count filter is not required.

[2020-10-07 16:38] drosetti commented on #195
DNSDV API v2 use [DNSDB SAF Protocol](https://docs.dnsdb.info/dnsdb-saf-protocol/), this protocol has on element at the begin and one in the end of them message, the reason for these elements is that their presence assure all data have been sent.

[2020-10-09 12:00] NerdSec opened #212 "Simplifying CONTRIBUTIONS to IntelOwl"
Hi Team,

First of all, great work on putting this out. I have just started to test `IntelOwl` and it looks promising. Have managed to do something similar previously, albeit without a UI. Would love to contribute to this repo and improve it, :small_airplane:

I just have two suggestions:

1. Simplify the directory structure
a. Currently too many files are cluttered into the main repo and it is di

[2020-10-09 12:48] mlodic commented on #212
Hi,

thank you for your interest in the project!

About your suggestions, feel free to open a PR with those improvements.

We are here to help you if necessary.

[2020-10-09 14:18] WhiteHatMR opened #213 "IntelOwl - job kill"
Hello,

I have few questions to you after some tests which I did in the IntelOwl.

I started a job - analyze the file (small one) using just VT 3.0. Then I cut the Internet to see what will happen. IntelOwl did not inform me about any job failure and process was ongoing. What more it was ongoing all the time and after 1.5h it was still in progress (I opened web gui right now and still see in progr

[2020-10-09 14:34] mlodic commented on #213
Hi, thank you for your interest in the project.

It is a strange behavior because all VirusTotal jobs have a limit configured to `500` seconds. If reached, the analyzer would fail and the interface should show the failed result. It could be something related to the front-end.

Could you please tell me which is the exact name of the analyzer? This info could be helpful because there are different a

[2020-10-09 14:43] mlodic opened #214 "Add reversinglabs yara rules"
We could add the following rules (https://github.com/reversinglabs/reversinglabs-yara-rules) to the default Yara rules available.

[2020-10-09 19:36] WhiteHatMR commented on #213
Hi,

Thanks for fast reply.
I have two VMs - one with Ubuntu 18 and there are two still ongoing jobs - already 3 days. This is why I asked how can I kill the job. On the second one Ubuntu 20 I have one still ongoing job - also cannot kill it. Actually it is done now, hmm.
Yesterday, when I was doing test on Ubuntu I was waiting 1.5h and there was still: In progress. Today I see that there is time:

[2020-10-09 20:38] Spyd3r0TW commented on #203
Yeah, I have no clue what happened but instead of reverting back to my snapshot I have done the suggestion above. I have updated/upgraded/rebooted a few times and it is no longer happening.

Wish I knew the cause of this but its resolved for now at least.

Thanks everyone for the help. Love the application.

[2020-10-09 20:38] #203 closed

[2020-10-10 12:29] Eshaan7 commented on #213
True, but that's the soft time limit for celery task, in certain cases it may not be followed. We could also set the celery's global settings variable for hard time limit i.e. `CELERYD_TIME_LIMIT` to about 15-30 minutes.

By doing the above, we should not see mishaps like this because the `check_stuck_analysis` should take care of it.

[2020-10-11 13:28] NerdSec commented on #212
Sure @mlodic

Could not identify the use of the following folders:
1. [integrations](https://github.com/NerdSec/IntelOwl/tree/develop/integrations)
2. [configuration](https://github.com/NerdSec/IntelOwl/tree/develop/configuration)

What are these used for or by? Have opened a draft PR. Could you please take a look and let me know your thoughts? :slightly_smiling_face:

[2020-10-11 16:35] Eshaan7 commented on #212
- The `integrations/` folder containes code, dockerfiles and compose files for optional analyzers which run in their own container. Kind of a micro-services pattern.
- The `configuration/` folder contains files which are mounted as docker volumes to the `uwsgi` docker service, they include configurable settings.

[2020-10-11 16:57] mlodic commented on #213
In the `docker-compose.yml` file celery is executed with the parameter `--time-limit=10000`. This is the `hard` limit: so even if something could skip the soft limit, this should kill the blocked task. I think that, by checking the logs, we can find pretty easily what is the real cause.

@WhiteHatMR you could also try to restart the containers: `docker-compose down && docker-compose up -d`, login

[2020-10-11 16:58] mlodic commented on #203
You are welcome :+1:

[2020-10-12 09:05] mlodic opened #216 "Add Stratosphere prioritzed blacklists"
These researchers created a public and very smart IP blocklists. Blog: https://www.stratosphereips.org/attacker-ip-prioritization-blacklist

We could create a new analyzer for these lists (all 3).

We should also create an "updater" function that, daily, get the new lists (see this example: [Talos analyzer](https://github.com/intelowlproject/IntelOwl/blob/master/api_app/script_analyzers/observable

[2020-10-12 09:18] mlodic opened #217 "Add https://github.com/sbousseaden/YaraHunts rules"
We could add the following rules (https://github.com/sbousseaden/YaraHunts) to the default Yara rules available

[2020-10-12 13:43] 0ssigeno opened #218 "Postgres error"
When analyzing some observable (i.e. bit.ly), IntelOwl crashes when trying to save the analyzer output, reporting
[code]
Moreover, since the execution crashes halfway through the analysis, the output of each analyzer after the one that causes the crash are not reported/executed.

Unfortunely, I have no more example to provide.
![image](https://user-images.githubusercontent.com/30528879/95753201-8d

[2020-10-12 13:50] mlodic commented on #218
Asked here too #138

[2020-10-12 19:38] WhiteHatMR commented on #213
Hello,

I used this command but still see those jobs running. I will reinstall whole system. Not sure what happend and why.
I will start new tests in the new vm.

I am attaching logs and also print screen showing that jobs are running.

Best regards

![InProgress](https://user-images.githubusercontent.com/72615442/95783934-26971380-0cd3-11eb-969f-b17228b827f4.PNG)
[api_app.log](https://github.com/

[2020-10-13 10:20] drosetti commented on #195
Done: f49db90

[2020-10-13 10:27] fuomag9 opened #222 "Various errors when deploying on a raspi4"
Hi, I couldn't manage to make this run on a raspi4, I've tried the [TLDR](https://intelowl.readthedocs.io/en/latest/Installation.html#tl-dr) deployment with both commenting out  line 12 and uncomment line 15 in .env and not but with no success. With the comment swap I couldn't build the image, without it it built but the container didn't start with` docker-compose up -d` and I couldn't create an u

[2020-10-13 10:35] #195 closed

[2020-10-13 12:33] mlodic commented on #222
Hi @fuomag9 and thank you for your interest in the project!

Which OS is installed in the raspi4?

I cannot replicate the first problem you mentioned, but you could try to see if something works different if you try to delete the `:./integrations/docker-compose.apk.yml` at the end of the 15th line in `.env`. Then you could tell me if you see this error again `ERROR: for intel_owl_celery_beat  Cann

[2020-10-13 12:44] fuomag9 commented on #222
Sure, here are the logs for the clean .env
[code]

[2020-10-13 12:47] fuomag9 commented on #222
Errors with `:./integrations/docker-compose.apk.yml` removed

I forgot to add it in the comment before, but my linux info is:
`Linux raspberrypi 5.4.51-v7l+ #1333 SMP Mon Aug 10 16:51:40 BST 2020 armv7l GNU/Linux` (I'm using raspbian lite)

[code]

[2020-10-13 13:13] mlodic commented on #222
Unfortunately I think that this is related to your platform (raspi4).

See this [issue](https://github.com/pi-hole/docker-pi-hole/issues/519). Same error, same architecture.

We have tested IntelOwl in standard Linux-based systems with x86_64 and found no problems there. ARM seems is the difference.

[2020-10-13 13:37] mlodic commented on #218
fixed here #223 and available in the next release

[2020-10-13 13:37] #218 closed

[2020-10-13 13:37] mlodic commented on #138
fixed here #223 and available in the next release

[2020-10-13 13:37] #138 closed

[2020-10-13 14:09] mlodic commented on #213
Thank you for all this info to debug the issue. I noticed this:
[code]
This is the periodic script @Eshaan7 mentioned that cleans up the blocked jobs. I think that if you click the left button that you see in the following image (you find it in the jobs table you pasted before), you will see that these jobs failed. The job result is not synced in the jobs table automatically. Otherwise, it should

[2020-10-13 15:10] WhiteHatMR commented on #213
Thank you very much for explanation.

I'm just trying to use different options to see how the tool will behaviour.
I always prefer to do some unexpected actions to see how the program will react. During such actions sometimes it is possible to find something what can be improved/added/change.
In this case it would be nice to have a button - kill job or stop job. I like this tool and this is why I

[2020-10-13 15:43] Eshaan7 opened #224 "Drop different variants of same module, keep only a common one"
[code]
These analyzers are not meant to be executed together: you should choose the most appropriate to your needs and run only one of it.

_Originally posted by @mlodic in https://github.com/intelowlproject/IntelOwl/issue_comments/707764860_

Now that IntelOwl supports passing an analyzer configuration at runtime, both via CLI and web GUI, we could drop the various variants of the same module/ser

[2020-10-13 15:51] Eshaan7 opened #225 "[API] endpoint to stop/kill a running job"
In this case it would be nice to have a button - kill job or stop job.

_Originally posted by @WhiteHatMR in https://github.com/intelowlproject/IntelOwl/issue_comments/707807962_

We could add a `kill` button to the job (analysis) result page. This button when invoked should stop all ongoing celery tasks (i.e. all running analyzers) for the particular job. The status of such job should then be mar

[2020-10-13 15:54] Eshaan7 commented on #213
We really do appreciate your inputs and efforts, @WhiteHatMR. We are open to all kinds of help, may it be code contribution or bug reports. Regarding what we have discussed here, there are two possible features/changes we can add:
#224 - We will drop the various flavors (one would still be able to configure the analyzer while requesting scan)
#225 - A button to kill an ongoing job.

[2020-10-13 16:12] mlodic commented on #213
IntelOwl is built to be easily integrated with external platforms and other security-related tools.

By Default, IntelOwl exposes some simple APIs that can be easily leveraged with the official [client](https://github.com/intelowlproject/pyintelowl) written in Python.

So, it is required some little code to be added to the side of the tool to be integrated to properly manage this data.

For exampl

[2020-10-13 16:31] Eshaan7 commented on #98
We could make this a part of #215.

[2020-10-13 19:22] WhiteHatMR commented on #213
I think that we can close this issue as there are those two opened by @Eshaan7
Thanks for all your help.
I will go back to the IntelOwl study and if something will occure I will let you know.

[2020-10-13 19:30] #213 closed

[2020-10-15 11:37] #207 closed

[2020-10-16 16:12] Eshaan7 opened #229 "More robust testing for the REST API/ more testcases"
1. 1. [ ] Instead of manually defining the analyzer names like: [ref 1](https://github.com/intelowlproject/IntelOwl/blob/b8adb567171f6c59d5cf0dc8ca2c445af25191f4/tests/test_api.py#L145), [ref 2](https://github.com/intelowlproject/IntelOwl/blob/b8adb567171f6c59d5cf0dc8ca2c445af25191f4/tests/test_api.py#L78) - we can just pass `run_all_available_analyzers: true` in POST request body. (_not sure, mig

[2020-10-17 09:29] i-karen commented on #200
Hi @Eshaan7 ,
I have sent a PR.
It contains only one API for now.

Is this approach correct?
Any suggestions?

[2020-10-17 10:44] mlodic commented on #229
We could take this chance to add a code coverage linter for CI to evaluate how much our tests are good

[2020-10-17 11:02] mlodic commented on #200
Hey @i-karen, you can try to follow what @Eshaan7 suggested in the PR to adjust the code and, if you can, to add all the other APIs.

All contributions are welcome even if little. However, with little more effort, I think you can finish the task completely and resolve this issue👍

[2020-10-17 11:34] m0mosenpai commented on #189
Hi, I would like to try and work on this. Aside from the general contribution guidelines and docs, anything particular I should look out for that would be helpful?

[2020-10-17 16:01] i-karen commented on #200
Sent a new PR #231 and incorporated the suggestions from @Eshaan7 and @mlodic from old PR #230

[2020-10-18 13:14] Eshaan7 commented on #189
Hi, @m0mosenpai. Thanks for your interest, I've assigned this issue to you. Few things to note:

1. This would be a file analyzer with supported filetypes been mimetypes of `.pcap/.pcapng` files.
2. You could look under `api_app.script_analyzers.file_analyzers` and find many examples of file analyzers, that should really help you.
3. This analyzer would require an API key, so look at how this is e

[2020-10-18 16:28] m0mosenpai commented on #189
I went through their SDK and I noticed that they have more features as part of their API aside from just analyzing pcap files (like searching via pcaps, downloading pcap anaylsis archive etc.) (https://github.com/PacketTotal/PacketTotal-SDK/blob/master/packettotal_sdk/packettotal_api.py). Do I have to implement those features as well?

[2020-10-19 08:14] mlodic commented on #120
We should also point to the new 2.x.x version of the library

[2020-10-19 08:40] mlodic commented on #189
Hi @m0mosenpai!

1. Well, the more you implement the better! :P Just always remember the main goal of IntelOwl: analyze an observable (IP address, domain, etc) or a file. So every API endpoint is useful if it can analyze at least one of those artifacts.
For instance, the search API can be useful to look for IP addrs or domains and in that case it would be an "observable analyzer" instead of a "fil

[2020-10-19 10:48] codernishchay commented on #71
I want to work on this issue. Please assign it to me?

[2020-10-19 11:05] mlodic commented on #71
Hi @codernishchay, thank you for your interest in the project! You have been assigned!

Even if it was flagged as "beginner-friendly", this issue could tricky to be correctly implemented.

This analyzer is particular if compared with others because it analyzes a different kind of observable that is actually not managed: a Chrome extension ID.

This means that some changes in the client application

[2020-10-19 18:34] #57 closed

[2020-10-19 18:35] Eshaan7 commented on #90
This was tried by me a few months back. Droidbox hasn't been updated in a long time, so not worth the headache.

[2020-10-19 18:35] #90 closed

[2020-10-19 18:40] #97 closed

[2020-10-19 18:43] Eshaan7 commented on #95
Traefik compose files were added and we have #96 to discuss and track regarding serverless so we can close this issue.

[2020-10-19 18:43] #95 closed

[2020-10-20 06:04] m0mosenpai commented on #189
I had another doubt...  in test_api.py (https://github.com/intelowlproject/IntelOwl/blob/master/tests/test_api.py#L72), do I have to create a similar function like this one for pcap files, since this one is for .exe ones? I'm assuming this file is for testing all the APIs that are used in analyzers.
Aside from this, I have written most of the code for the file analyzer. Waiting for PacketTotal to

[2020-10-20 12:20] mlodic commented on #189
:+1: perfect!

I think that for now it is not required to add that case to test_api.py...we are probably refactoring/adjusting that part of the testing suite (see #229) to make it more robust.

For your case, I think it is enough to add a new class here (https://github.com/intelowlproject/IntelOwl/blob/master/tests/test_files.py) that would manage all the analyzers that support .pcap files.

[2020-10-20 15:51] Eshaan7 commented on #71
@mlodic You are right. This would require changes in client. I think we discussed this before, right ? We could add a type like `IoC` or `jolly` which would accept any kind of string and we could add this same name to some analyzers' `observable_supported`. This `IoC` could then work for email, chrome id, username, etc. For example, I think `IntelX_Search` works for email and usernames which we do

[2020-10-20 16:48] mlodic commented on #71
I agree. In this way we can manage all the other observable types (the most rare ones) at once.

[2020-10-21 08:34] mlodic commented on #224
Working on this + doc in the `drop_variants` branch

[2020-10-21 13:53] mlodic commented on #224
solved PR #224

[2020-10-21 13:53] #224 closed

[2020-10-21 13:55] #222 closed

[2020-10-21 16:29] mlodic opened #234 "Add new analyzer for CERT Polska MWDB"
References:
* https://www.cert.pl/en/news/single/set-up-your-own-malware-repository-with-mwdb-core/
* https://mwdb.readthedocs.io/en/latest/user-guide/8-REST-and-mwdblib.html#using-mwdblib-for-automation
* (after login) https://mwdb.cert.pl/docs

We should create a new analyzer to interact with the MWDB project.
Some considerations:
* for a more pythonic code we can leverage the official library (

[2020-10-26 13:05] m0mosenpai commented on #189
Uh about the API key, I still haven't received it despite multiple emails. Is it okay if I work on something else meanwhile? Or shall I just wait?

[2020-10-26 13:22] mlodic commented on #189
Sure, feel free to work on something else. Meanwhile I asked a key too so in case they get me a key before you I could test your code.

[2020-10-26 21:00] mboaisha opened #237 "Unable to create a superuser"
I followed the "TL;DR / Lazy" installation instructions found [here.](https://intelowl.readthedocs.io/en/latest/Installation.html) I am able to access the web interface with no problems. When I went ahead to create a super user I get this error:

[code]

Not sure why postgres is refusing connection.

docker ps output:
[code]
The web interface says it's Intel Owl v1.5.x

[2020-10-27 01:53] terminatordoink opened #238 "Integration with other Infra Intel providers? (Similar with Shodan)"
Dear IntelOwl Creators,

The tool you have created is awesome, possible to also integrate this in your development pipeline?
https://www.zoomeye.org

[2020-10-27 08:14] mlodic commented on #237
Hi @mboaisha and thank you for your interest in the project!

Could you please tell us the details of the operating system where you executed the application?
IntelOwl is tested only on Linux-based systems. I suspect that this problem is related to some configuration of docker or the host itself. This does not happen normally.

[2020-10-27 08:19] mlodic opened #239 "Add Zoomeye analyzer"
As requested by this issue #238, we could add a new analyzer for Zoomeye: https://www.zoomeye.org/

API reference: https://www.zoomeye.org/doc

[2020-10-27 08:21] mlodic commented on #238
Hi @terminatordoink and thank you for your interest in the project!

Sure, adding a new analyzer that leverages external APIs is the easiest thing to do. IntelOwl is built to ease the process of adding new analyzers.

If you are confortable with python, you can try to add the analyzer by yourself. It should be pretty straightforward if you follow the [doc](https://intelowl.readthedocs.io/en/latest

[2020-10-27 08:21] #238 closed

[2020-10-27 12:49] mboaisha commented on #237
Hi @mlodic,

It's an amazing project, can't wait to get it up and running with all my API keys.

I followed the instructions on a virtualized Centos box:
**OS:** `CentOS Linux release 8.2.2004 (Core)` / `Linux RedactedHostname 4.18.0-193.19.1.el8_2.x86_64 #1 SMP Mon Sep 14 14:37:00 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

**Docker:** `Docker version 19.03.13, build 4484c46d9d`

**docker-compose:*

[2020-10-27 15:24] mlodic commented on #237
It is really strange, it is very difficult to understand why it does not work from here. The `postgres` container correctly exposes the port `5432` even if it says "Is the server running on host "postgres" (172.18.0.2) and accepting TCP/IP connections on port 5432?"...did you change something in the DB configuration? I mean these variables:
[code]

If you execute the containers with `docker-compos

[2020-10-27 15:38] Eshaan7 commented on #237
@mboaisha, Can you paste output of `docker logs e74d03400103` ? where e74d03400103 is the container ID of postgres. I'd also ask you to check once if a postgres server is already running on the host system.

[2020-10-27 17:22] mboaisha commented on #237
@mlodic - I have used the template (`env_file_postgres_template`):
[code]

Here is the output from `docker-compose up` without the daemon mode, I had to stop it because Celery is retrying forever.

[code]

@Eshaan7 - Unfortunately I wiped the original containers so I do not have the exact logs for it; I recreated what I did and this is the log for the container:

Worth noting that I tried to remov

[2020-10-27 17:47] Eshaan7 commented on #237
It says, `database system is ready to accept connections` so it's fair to assume `postgres` container is alright, the issue is that the `uwsgi` container cannot connect to it. I think this is also happening with `rabbitmq`, if u see the line `Cannot connect to amqp://guest:**@rabbitmq:5672//: [Errno 113] No route to host.` which makes me think it's some network configuration on your box which is n

[2020-10-28 01:19] mboaisha commented on #237
I tried to pinpoint the problem but I could not do so. I will just end up nuking the VM and start over fresh and see if it works. It worked fine for me on my lab so it might be a system / networking issue as you mentioned.

[2020-10-28 10:10] Eshaan7 commented on #237
Hope that it works! I am closing this issue. Feel free to create a new one if you face any other problem.

[2020-10-28 10:10] #237 closed

[2020-10-28 10:13] m0mosenpai commented on #188
Hi, I would like to work on this. Is there anything I should look out for that might help?

I'm also working on Issue #189 (thought I should mention this). Will give that priority as soon as I receive the API key.

[2020-10-28 10:31] Eshaan7 commented on #188
`dnstwist --format json domain.name` will be most normal scenario. On top of that, we should make available extra features as `additional_config_params` for `geoip`, `mxcheck`, `ssdeep`, `registered` - all these options are given in their docs.

@mlodic would be able to better explain the requirements.

[2020-10-28 11:19] mlodic commented on #188
Yes, `json` output is mandatory to save the results easily in a dictionary.

Then I think that we should provide most of the available options:
* I would say that the `registered` option should be available as default, to avoid too many results in the output
* `geoip`, `mxcheck`, `ssdeep` all optionals
* `tld` as optional and setting the `abused_tlds.dict` dictionary as default

Also, the analyzer

[2020-10-30 12:53] m0mosenpai commented on #188
After looking at some already existing observable analyzers as reference, I'm a bit confused about some things:

1. I didn't quite understand on what basis are the key/ value pairs of `additional_config_params` decided and how to define a default value for them (example, in the case of `tld`)
2.  Just to be clear, since we can't use subprocess, we are importing and calling the functions directly b

[2020-10-30 13:34] mlodic commented on #188
Sure man feel free to ask :+1:

1. I suggest you to see the (`dnsdb.py` analyzer of the `develop` branch)[https://github.com/intelowlproject/IntelOwl/blob/de6988af1e173044ef38ff698c912cb4e7d72b81/api_app/script_analyzers/observable_analyzers/dnsdb.py#L47]. You can set how many parameters you want in the configuration here with their defaults.
Then, when an analyzer is called, it is possible to cus

[2020-10-31 11:22] m0mosenpai commented on #188
Oh, I see. I'm implementing it using subprocess for now, as I had trouble using the tool as a library as well. Let me know if there's an alternative you would prefer.

Also, according to the contributing docs, there needs to be a celery module added in [tasks.py](https://github.com/intelowlproject/IntelOwl/blob/master/intel_owl/tasks.py). But, tasks.py in master branch differs from the one in [dev

[2020-10-31 21:26] Eshaan7 commented on #188
@m0mosenpai,

1. You may use subprocess. When I first looked at it, I thought it can be used via import directly but I see now that isn't the case. Sorry about the confusion.

2. Please refer to this URL (https://intelowl.readthedocs.io/en/develop/Contribute.html) for the contributing docs. We are a little late on the new release which is a major one and moves arounds a lot of code, hence the conf

[2020-11-02 17:41] mlodic opened #242 "Add FLOSS analyzer"
We could create a new analyzer for: [FLOSS](https://github.com/fireeye/flare-floss).

See there on how to install and use it: https://github.com/fireeye/flare-floss/blob/master/doc/installation.md

[2020-11-09 12:09] CITIZENDOT opened #245 "New observable analyzer: ipinfo"
I know one popular service [(ipinfo)](https://ipinfo.io/) which gives information about a given IP. It has some paid plans. But even free plan gives many details which aren't obvious. I think it's better to include it in Intel Owl. By the way, I am willing to work on this issue.

[2020-11-10 11:52] CITIZENDOT commented on #239
I'll work on this.

[2020-11-10 15:59] mlodic commented on #188
Merged into `develop`: #243

[2020-11-10 15:59] #188 closed

[2020-11-10 15:59] mlodic commented on #245
Merged into `develop`: #246

[2020-11-10 15:59] #245 closed

[2020-11-10 19:51] m0mosenpai commented on #142
I would like to work on this issue. Anything I should keep in mind?

[2020-11-11 08:24] mlodic commented on #142
Hey @m0mosenpai, I have just assigned you!

Some tips:
* we should give the option to specify if the user wants to leverage the public API or the private one (they are different URLs). I would put the public one as default.
* we could implement 2 different analyzers:
    * one for the "search" option to give the users the chance to look for observables (https://tria.ge/docs/cloud-api/search/). Thi

[2020-11-11 11:03] m0mosenpai commented on #142
I messaged their support to ask about the request limit since I couldn't find that info on their website either. They said from a few hundred to a few thousand per day (whatever we think is reasonable).

[2020-11-12 15:30] Eshaan7 opened #249 "[Proposal/Feature] IntelOwl Plugin Framework"
I have had this initial idea of having a "IntelOwl plugin framework" which would expose an API (not RESTful/web) that would allow others to create _connectors_/_enrichers_ for IntelOwl **without it necessarily being part of IntelOwl repository/project**.

So think of it like how we have integrated elasticsearch, it's optional and it automatically syncs job/analysis data with postgres. So a plugin

[2020-11-12 15:59] mlodic commented on #249
That would be great! This would be very useful to start to solve some old issues of this project like #12 or #11 and could be also used as a framework to create some kind of post-processing analysis/transformation of the results.

[2020-11-13 21:22] neilunderwood opened #252 "Hung jobs - unable to kill"
I see that you have a "kill" button in the works potentially.  However, our instance of OWL is stuck.  I ran 3 jobs through it via API this morning and all 3 are still running now this afternoon with no end in sight.  It seems that it is still accepting new jobs, but those get hung as well.  We now have 4 jobs hung indefinitely and can't use OWL until we sort this.   Is there an easy way to kill t

[2020-11-14 07:39] Eshaan7 commented on #252
Hey. Can you please tell:
- the version of IntelOwl you are using? (look in the .env file)
- for which analyzer the job is going on indefinitely?
- sure your setup is okay? IntelOwl stops and marks all running jobs as failed when it reboots so this is a weird behavior.

[2020-11-14 13:11] neilunderwood commented on #252
I don't have access to the machine. Allow me to get with the maintainer and
get you those answers Monday. Thanks.

On Fri, Nov 13, 2020, 11:39 PM Eshaan Bansal <notifications@github.com>
wrote:

[2020-11-14 21:21] #239 closed

[2020-11-16 16:59] mboaisha commented on #237
**Quick update:** After rebuilding the server I managed to get IntelOwl to work (Though still with some issues, going to post a new Issue with the details soon.) I think it's something that has to do with how I configured networking on the VM. Thank you so much for the help!

[2020-11-16 17:14] mboaisha opened #257 "IntelOwl behind restrictive proxy."
[code]

Docker: `Docker version 19.03.13, build 4484c46d9d`
Docker Compose: `docker-compose version 1.27.4, build 40524192`

So far IntelOwl is working well, looks like I am able to use "local" analyzers i.e. yara scans but not the ones requiring external API calls i.e. Pulsedive and AbuseIPDB.

I think it's something that has to do with the containers not having the proxy settings. Here is IntelO

[2020-11-16 17:42] mlodic commented on #257
Hey @mboaisha, this issue is not related to IntelOwl but to your infrastructure. I should close this.

However check this docs and let me know: https://docs.docker.com/network/proxy/#configure-the-docker-client

[2020-11-16 18:56] mboaisha commented on #257
I reconfigured Docker's proxy settings and now I get SSL errors.... I added the proxy's certificate to the host machine's store and it still would not work....

Also started getting this error.

![image](https://user-images.githubusercontent.com/1140026/99290812-6edeaf80-2804-11eb-9cc7-b702f645d905.png)

Not sure where to proceed from here.

[2020-11-17 08:31] mlodic commented on #257
The message you found is related to an open issue https://github.com/intelowlproject/IntelOwl-ng/issues/61, nothing to worry about. The application still works correctly.

Check this to resolve the SSL certificate issue: https://stackoverflow.com/questions/20267339/docker-behind-proxy-that-changes-ssl-certificate.

As said before this is not related to IntelOwl issue so I am closing this.

[2020-11-17 08:31] #257 closed

[2020-11-18 21:02] neilunderwood commented on #252
Chatting with him now.  Sorry for the delay.  I'll get some info for you.

[2020-11-19 17:40] neilunderwood commented on #252
Well,  we booted it back up this morning and gave it a hug and it seems happy now.  Scans are working in GUI and via API.  Not really sure what happened as we did nothing to fix.  We can close this out I guess.  Thanks!

[2020-11-19 17:40] #252 closed

[2020-11-21 04:50] #214 closed

[2020-11-21 04:50] #217 closed

[2020-11-21 18:56] Eshaan7 opened #263 "New analyzer: RecordedFuture"
An analyzer to get the latest risk data from [RecordedFuture](https://www.recordedfuture.com/) for a hash, domain or an IP address.

[2020-11-21 18:57] Eshaan7 opened #264 "New analyzer: Manalyze"
A static analyzer for PE executables : https://github.com/JusticeRage/Manalyze

[2020-11-22 08:30] m0mosenpai commented on #142
The `/samples` endpoint also allows submitting a sample via a URL. Would that be a part of the observable analyzer too? If so, maybe I could add that as an `additional_config_params`, whether to submit a sample via URL or search for one?

[2020-11-23 08:04] mlodic commented on #142
1 - I agree. If you can, try to reuse the code from the file analyzer for that case.

2 - IntelOwl allows to pivot only IPs, URLs, domains and hashes ATM. This means that the analyzer should change the query based on what is requested: `url:{url}` for instance

[2020-11-23 15:37] terminatordoink commented on #238
Bro, awesome integration with ZoomEye *Salute*, now this is another good one as well "pulsedive.com"

[2020-11-23 15:39] mlodic commented on #238
We have already the Pulsedive analyzer :P

[2020-11-23 15:42] terminatordoink commented on #238
nice one bro! how about this?
https://team-cymru.com/community-services/mhr/

[2020-11-23 16:04] mlodic commented on #238
That one too :P

Check the docs [here](https://intelowl.readthedocs.io/en/latest/Usage.html) to see all the integrations available!

[2020-11-24 06:39] terminatordoink commented on #238
*Salute* <3

[2020-11-24 15:27] mlodic opened #266 "Add InQuest yara rules"
https://github.com/InQuest/yara-rules

This is a very easy task for new contributors. You can check how the other Yara rules are implemented and write similar code.

[2020-11-25 11:42] Rishabh-Kumar-07 commented on #266
Hi! I would like to implement it. Will follow-up with the PR soon.

[2020-11-25 11:55] CITIZENDOT commented on #242
I'll work on this.

[2020-11-25 12:03] mlodic commented on #266
Solved #267

[2020-11-25 12:03] #266 closed

[2020-11-25 12:38] Rishabh-Kumar-07 commented on #234
Hi! I would like to implement it. Will soon follow-up with the PR.

[2020-11-25 16:13] mlodic opened #270 "Add other useful hashes to File_Info analyzer"
We could add the following hash calculations to `File_Info` analyzer:

- [ ]  TLSH: https://github.com/trendmicro/tlsh (pip library available)

- [ ]  telfhash: https://github.com/trendmicro/telfhash (pip library available). This one should be used only for ELF files. Maybe we could create another analyzer (`Elf_Info`) like the `PE_info` for portable executables

[2020-11-26 13:42] Rishabh-Kumar-07 commented on #234
@mlodic Hey! The analyzer is almost written. I do not have API keys to test the code. Can you suggest something ?

[2020-11-26 13:43] mlodic commented on #234
You could request access to the platform.

[2020-11-26 15:01] Rishabh-Kumar-07 commented on #216
I have a doubt. Through the proposed analyzer are you trying to display the blocked IPs or cross-reference the IP provided by user with these blacklists ??

[2020-11-26 15:08] mlodic commented on #216
The second one because the point is to analyze a suspicious IP address.
IntelOwl goal is to analyze artifacts. It would be out of scope to show all the blacklist.
The IntelOwl user would come with a suspicious IP address, would select this analyzer and the result would be whether that IP is in one of that blacklist or not

[2020-11-30 08:57] Rishabh-Kumar-07 commented on #216
@mlodic Okay.. I have written the analyzer working similar to Talos.  I was wondering if instead of environment variable can we download the dataset only when the analyzer is used. To prevent multiple downloads we can check whether the existing files are downloaded on the same day.

[2020-11-30 08:59] mlodic commented on #216
that's good idea

[2020-12-02 09:23] Rishabh-Kumar-07 commented on #216
I have added the analyzer file "stratosphere.py" in the directory: "IntelOwl/api_app/script_analyzers/observable_analyzers", added the analyzer in analyzer_config.json and have added the test. However when running the test or accessing the analyzer from app. It shows the following error. I think the app is not able to find my file. Can you suggest something ??

report = stratosphere.Stratos(
NameE

[2020-12-02 09:27] mlodic commented on #216
Please have some patience and try to debug this by similarity with other already available analyzers.

If you can't solve this, please open a draft PR. Without all the code it is really hard to debug this

[2020-12-02 12:07] Eshaan7 opened #277 "Divide common docker services into diff. compose files"
Ah, I see. Yes, definitely what I meant as well. So, let's create a `compose.common.yml` file with the services like `rabbit-mq`, `postgres` which are common in all compose files and similarly for celery.

_Originally posted by @Eshaan7 in https://github.com/intelowlproject/IntelOwl/pull/274#issuecomment-737187816_

[2020-12-02 19:15] Rishabh-Kumar-07 commented on #216
I have made a PR. Let me know if some changes needs to be done.

[2020-12-03 05:08] Rishabh-Kumar-07 commented on #270
I didn't find any pip library for telfhash. Can you share the link of pip library. In case the pip library is not there can we proceed for docker based analyzer ?

[2020-12-03 05:19] CITIZENDOT commented on #270
As mentioned in docs, Install like [this](https://github.com/trendmicro/telfhash#installing).
You may get `ModuleNotFound` error for `grouping` library. Install that too, with `pip install grouping`.

[2020-12-03 07:54] mlodic commented on #270
Yes, it was my mistake I think, I checked again and I did not find it. I am about to ask them if they can upload the library. https://github.com/trendmicro/telfhash/issues/3

[2020-12-03 15:30] #242 closed

[2020-12-05 16:01] CITIZENDOT commented on #200
Work going on regarding Issue? If not, I'd like to work on this.

[2020-12-06 16:45] theguly opened #281 "New analyzer: emailrep.io + "generic" classification"
hi there, i was about to starting an integration with emailrep.io when i found that observable classification doesn't let me to query for an email object.

maybe you're not interested in doing query against email address?

in case you are, do you think you could add that classification to js definition (i'm reluctant to dig into docker build script and minimized javascript, if possible...)?

thank

[2020-12-06 18:19] mlodic commented on #281
You are right, ATM IntelOwl does not support emails as observables...there are already existing integrations that would benefit of this change (ZoomEye,...) but it is not yet supported.

This is a recurrent request (analyze new types of observables) so I think that it is time to understand how to manage this new possible feature.

I'd like to mention @Eshaan7 because we already talked about this.

[2020-12-06 18:28] Eshaan7 commented on #281
Don't really think the dynamic way would work although adding a new observable type on the angular client would take little effort. Same goes for pyintelowl. For both clients, we just need to add an entry for new the observable type and it's corresponding regular expression.

But as discussed before, I think we should add a new observable type called `generic` which would be a placeholder for obse

[2020-12-06 18:51] mlodic commented on #281
Yes, in this way we would have the chance to analyze *everything* and we won't have to think about it again.

My only concern is one. For instance, one analyzer would like to change its behavior based on the observable classification (ex: emails and phone number use different endpoints): that specific analyzer would have to perform the "classification" of what kind of observable arrived on its own

[2020-12-07 10:22] mlodic commented on #200
This task was left unfinished. You can start over or pick the code from the opened [PR](https://github.com/intelowlproject/IntelOwl/pull/231) and start from there.

Thank you!

[2020-12-07 16:33] theguly commented on #281
ok i have my side done, waiting for generic classification to be available to submit a PR

thanks

[2020-12-08 13:27] Rishabh-Kumar-07 commented on #121
Hi! I was exploring the ways to authenticate through GSuite. OAuth2 appears to be a popular method to do so. Is there some specific case for which SAML is required or any of the method is fine ??

[2020-12-09 10:24] Eshaan7 commented on #108
Moved to #285.

[2020-12-09 10:24] #108 closed

[2020-12-09 10:24] Eshaan7 commented on #96
Moved to #286.

[2020-12-09 10:24] #96 closed

[2020-12-09 11:38] mlodic commented on #121
We can work on OAuth2 that it is easier to test and manage I guess.

However we should keep in mind that we need the administrator to be able to apply a safelist/blocklist based on specific domains/emails, to keep control of which people can login or not.

[2020-12-10 08:00] CITIZENDOT commented on #193
I'll work on this. So, We're also moving capa from optional to built-in analyzers, Right?

[2020-12-10 08:42] mlodic commented on #193
The main goal was to remove a useless docker-analyzer but now we merged it and there are other tools inside so there won't be much improvement imho.

We could skip this or close it for now.

[2020-12-10 08:44] CITIZENDOT commented on #193
Okay.

[2020-12-10 08:48] #193 closed

[2020-12-10 10:35] CITIZENDOT commented on #264
I'll work on this. I guess I have to add this in `static_analayzers` container. Right?

[2020-12-10 10:45] mlodic commented on #264
I guess yes! You are assigned :P thank you!

[2020-12-10 14:55] mlodic commented on #216
Added #278!!! Thank you!

[2020-12-10 14:55] #216 closed

[2020-12-11 14:05] mlodic commented on #281
I just added support for "generic" type of observables in the `develop` branch of `pyintelowl`. Please @theguly push your code/PR as a draft so we can start to test it with pyintelowl

[2020-12-11 14:17] #264 closed

[2020-12-11 14:22] Eshaan7 commented on #98
@0ssigeno do you think we could make this part of #289 ?

[2020-12-11 14:43] CITIZENDOT commented on #263
I'll work on this.

[2020-12-14 08:52] 0ssigeno commented on #98
Yeah, sure

[2020-12-14 14:38] #281 closed

[2020-12-14 19:21] #142 closed

[2020-12-15 13:51] #200 closed

[2020-12-16 11:03] #98 closed

[2020-12-16 11:03] #277 closed

[2020-12-16 11:04] Eshaan7 commented on #212
Done in: #277, #98

[2020-12-16 11:04] #212 closed

[2020-12-17 18:31] m0mosenpai commented on #229
I would like to work on this. Things to keep in mind/ starting suggestions would be great if possible.

[2020-12-17 18:36] CITIZENDOT commented on #91
I would like to work on this.

[2020-12-18 12:37] Eshaan7 commented on #229
@m0mosenpai,
- Need to add tests for the `/api/jobs` and `/api/tags` endpoints inside [`tests/test_api.py` ](https://github.com/intelowlproject/IntelOwl/blob/master/tests/test_api.py): `ApiTests` class. Refer [here](https://www.django-rest-framework.org/api-guide/testing/)
- Add `codecov` ([ref](https://docs.codecov.io/docs/python) support to the GitHub actions and for [pull requests](https://docs

[2020-12-18 12:43] Eshaan7 commented on #229
@m0mosenpai, in order of priority,
- Point 3
- Point 4
- Point 2
- Point 5

[2020-12-18 17:22] darrellducote opened #298 "Remove unused analyzers"
This is my first time trying to write a post. So, forgive me if I do it wrong or leave out info.

I have searched for a few days trying to find a solution, but have not had any luck.

I tried commenting out analyzers in `analyzer_config.json` that I do not currently have API keys for to eliminate them from the "run all available analyzers" within the web GUI. When I do this, it breaks the "Select

[2020-12-18 17:26] darrellducote commented on #298
As soon as I posted this, I read that json does not have a way to comment out an analyzer. I previously tried Django and Python style commenting. So, I'm guessing I will need to make a template file for this so I will have an original on hand. Would that be the proper way to handle this situation?

[2020-12-18 17:35] mlodic commented on #298
Hey @darrellducote , thank you for your interest in the project!

Honestly I have already noticed that this could have been a possible problem for some users so I guess we should think about how to solve this in a clean way.

Meanwhile you could:
* disable the unwanted analyzers by adding a key `"disable": true` in the analyzers configuration (see [this](https://github.com/intelowlproject/IntelOwl

[2020-12-18 18:01] darrellducote commented on #298
@mlodic Thank you for your response.

I tried adding `"disable": true` and could not get that to remove it from the drop down. I did however make a template copy of the original `analyzer_config.json` and removed the analyzers I did not want from the original `analyzer_config.json` and that worked.

Thanks

[2020-12-18 18:01] #298 closed

[2020-12-18 22:10] Eshaan7 commented on #298
Opened https://github.com/intelowlproject/IntelOwl-ng/issues/67 for this.

[2020-12-21 01:09] tsale opened #299 "VirusTotal V2 observable query not working"
Hello,

I believe there is a problem with the VirusTotal V2 observable query. If you try to use the V2 VirusTotal to search for an observable, it will not work. You basically cannot choose to use the V2 version on the IntelOwl web interface and returns no results if you try to scan with all available analyzers.

I am using the latest version of IntelOwl v1.9.1.

[2020-12-21 01:31] CITIZENDOT commented on #299
I'll try to resolve this.

[2020-12-21 07:59] mlodic commented on #299
Hey @tsale, that was an intended change that we added in the v.[1.8.0](https://github.com/intelowlproject/IntelOwl/blob/master/.github/CHANGELOG.md#v180).

The problem was that all those variants of VirusTotal analysis were available by default so, if a user would have liked to go for the option `run_all_available_analyzers` he would have used many different VT analyzers, would have burned VT quot

[2020-12-21 08:06] tsale commented on #299
Thanks for the response @mlodic, that makes sense.

[2020-12-21 08:06] #299 closed

[2020-12-24 10:54] Hritish42 commented on #270
Can i take this issue?

[2020-12-24 11:03] mlodic commented on #270
Yes, you are welcome

[2020-12-24 11:31] Aena11 commented on #59
can I work on this??

[2020-12-24 11:37] 0ssigeno opened #301 "Add Qiling as analyzer"
[Qiling](https://github.com/qilingframework/qiling) is an emulation framework for many different type of executable files. For many of them we do not have any analyzer at the moment.
Since we already have another emulation framework, Speakeasy, it would be nice to have Qiling too.

The main issue is that Qiling requires a directory called [rootfs](https://docs.qiling.io/en/latest/install/#importan

[2020-12-24 11:47] Aena11 commented on #59
can I work on this?

[2020-12-24 11:53] mlodic commented on #59
Sure, you are welcome

[2020-12-29 11:29] #301 closed

[2020-12-30 16:35] mlodic opened #306 "better management of unconfigured analyzers"
Regarding this closed issue (#298), we have a problem with those analyzers that require the use of an API key but either the user does not have the key or has not configured it.

Problems faced by users:

* they execute the "Run all available analyzers" option and get a lot of errors. This could be avoided just by executing the correctly configured analyzers.

* they see those analyzers as "runnab

[2020-12-30 16:39] mlodic commented on #189
hey @m0mosenpai, have you received the API key? When you told us that you did not receive one, I requested one but I did not get anything back too. Well, that is quite strange 😅

If you did not received anything, I'll close this issue

[2020-12-30 16:41] mlodic commented on #91
solved #304

[2020-12-30 16:41] #91 closed

[2020-12-31 11:58] Eshaan7 commented on #306
The way I see it is there are 2 cases here:
- If user selects to run an analyzer explicitly (configured or unconfigured), then showing the error in the logs and even in the final report makes sense.
- in case of `run_all_available_analyzers`, the analyzers which failed because they were not configured should not be in the final report.

My suggestion would be that:
- in the `set_report_and_cleanup

[2020-12-31 12:07] Eshaan7 commented on #306
On another note, we should use JSON logging format (for example, [python-json-logger](https://github.com/madzak/python-json-logger) instead of just plain texts. This would allow users to load the logs into [elastic;'s APM](https://www.elastic.co/apm) or other similar services.

[2020-12-31 18:03] 0x0elliot commented on #56
can you assign this issue to me? i can work on this but i am not sure what is to be done with the fetched WHOIS after it is fetched. kindly elaborate :>

[2020-12-31 18:09] CITIZENDOT commented on #56
Hey another Mr.Robot fan, Take a look [here](https://intelowl.readthedocs.io/en/latest/Contribute.html#how-to-add-a-new-analyzer), on how to add new analyzer. You can see [some analyzers](https://github.com/intelowlproject/IntelOwl/blob/develop/api_app/script_analyzers/observable_analyzers/shodan.py) as an example. Basically, After quering and getting the data, you have to return it from `run()` f

[2021-01-01 08:46] 0x0elliot commented on #56
nice! when i have time i will try contributing to it. thanks for pointing me in the right direction :D

[2021-01-01 09:52] m0mosenpai commented on #189
@mlodic Hi, I was about to ask you as well, what to do about this issue cause I didn't receive a key either. Their docs link also seems to be down and the support isn't responding to queries either.

[2021-01-01 10:39] CITIZENDOT commented on #189
Same is the case with Recorded Future. I had requested demo 2 times. No reply from them yet.

[2021-01-02 12:18] 0x0elliot commented on #56
i am still a little confused as to how i can accept the IP address as the parameter to use. any guidance?

[2021-01-02 12:22] CITIZENDOT commented on #56
IP address and type of the observable (whether it is IP/domain/URL) is passed as `self.observable_name` and `self.observable_classification` respectively.

[2021-01-02 13:07] 0x0elliot commented on #56
currently i am having a problem where the results are not showing up at /pages/scan/result/1 for my addition specifically. it isn't even in the list.

[2021-01-02 15:44] mlodic commented on #306
About the JSON logger I think that for someone could be helpful. However it is already easy to ingest logs in ElasticSearch with the actual logs format because it is pretty standard and it would just require a simple grok filter + logstash.
Maybe we could talk a little more about how to extend the ElasticSearch support in general (and for logs too). This could be another issue.

This is a good com

[2021-01-02 15:48] mlodic commented on #189
We can just skip these issues I guess.

In general vendors analyzers are less necessary in my opinion. This is an open source project that should support other open source projects first. So integrations with other sources/apps that are free to use should be a priority.

[2021-01-02 15:48] #189 closed

[2021-01-02 15:49] mlodic commented on #263
If you confirm this, we can close the issue. Thank you

[2021-01-02 15:52] mlodic commented on #56
If you like you can join the [Honeynet Slack channel](https://gsoc-slack.honeynet.org/) where you can have a faster chat than here if you require some technical help during development.

[2021-01-02 16:07] CITIZENDOT commented on #263
Yeah. I can confirm this. You can close this now. If I receive any updates, I'll open it.

[2021-01-02 16:18] #263 closed

[2021-01-03 10:48] 0x0elliot commented on #56
thanks! i have it joined. i will communicate there when i can ^^

[2021-01-05 01:45] Sjsingh101 commented on #54
Hi @mlodic, I would like to work on this. Will soon follow-up with the PR.

[2021-01-05 09:51] mlodic commented on #54
Hey @Sjsingh101, thank you for your interest! Did you manage to get access to the WebRisk APIs?

[2021-01-05 21:45] Sjsingh101 commented on #54
https://cloud.google.com/web-risk/pricing

We have 2 APIs under this WebRisk APIs i.e. Update and Lookup. Lookup is free for the first 100,000 calls/month and Update is a paid service.
What I can do is to implement the Lookup and Update and then I can test the Lookup with a free quota. What do you suggest?

[2021-01-07 08:13] mlodic commented on #54
Ok! the point is: did you manage to have an API key from Google?

From https://cloud.google.com/web-risk/docs/quickstart:
[code]

[2021-01-07 16:31] Sjsingh101 commented on #54
I have applied for that, but my approval is still pending.

Till then, could you please point to some other beginner-friendly issue to start with?

[2021-01-07 16:36] mlodic commented on #54
You can look at the ones tagged with `beginner-friendly` and choose one

[2021-01-08 16:57] mlodic commented on #229
I write this consideration here because it seems pertinent to next developments related to this issue.

About #305, I would like to remove the dependency from `django_nose`. I did not notice earlier but this is an old library and they explicitly state that it should not be used for new projects:

Could you explain me what is the purpose of this library?

[2021-01-08 21:04] m0mosenpai commented on #229
From what I understood, nose is just being used to run the tests and generate the coverage report for codecov.io. It supports direct arguments for coverage report generation and might just be a convenient way of achieving this. I do remember seeing `pytest-cov` package to get coverage reports via `pytest` instead. I think that could be used as replacement for `nose`.

Also, as for the error, I thi

[2021-01-11 09:06] CITIZENDOT commented on #71
Hey, I would like to work on this, if this isn't active. Currently we have generic type in observable and so, It could be easy to implement I suppose.

[2021-01-11 09:36] mlodic commented on #71
Thank you, you are assigned!

Yes, I would use the `generic` type.

About creating a single analyzer or not, we usually separate them but this is a particular analysis type so it could be helpful to keep them together to help the ones that need to look for this type of analysis. Please try and see how it comes up

[2021-01-11 09:39] mlodic commented on #120
solved here #316

[2021-01-11 09:39] #120 closed

[2021-01-12 05:52] CITIZENDOT commented on #306
I'll suggest one method but you might get dissappointed by amount of work has to be done for that. But I feel it's safe way.
First of all, We'll agree on a fact that every analyzer either has an API Key or doesn't have an API key. No need to worry about second case. They'll work even if unconfigured. (Correct me, If I am wrong here)

And, In the first case, I believe every API Key follows a **FIXE

[2021-01-12 08:57] mlodic commented on #306
Thank you for sharing your idea.

One of the problems is that the "secrets" (api keys or similar) can be more than one for each analyzer and this should remain as it is (for example see Censys or HoneyDB). However when you mention the idea of including the keys names in `analyzer_config.json`, I think that it could work.

At the moment, we are just using the `requires_configuration` parameter that

[2021-01-12 09:07] CITIZENDOT commented on #306
I agree with rest of the things but, We shouldn't just rely on the presence of that API-KEY/secrets.

Because, The recommended usage is to copy `.env_app_template` to `.env_app`. In that process, All the API_KEYs are given a default value. So, that presence check always returns true. WHICH SHOULDN'T BE THE CASE.

I suggest to perform a basic check. Like if that secret is not the default value assi

[2021-01-12 09:12] mlodic commented on #306
Yes, we could just check if the key is empty or not, that is the idea

[2021-01-12 09:17] CITIZENDOT commented on #306
I'll work on this, If that's okay

[2021-01-12 09:19] mlodic commented on #306
Sure, feel free and thank you!

[2021-01-15 10:50] mfiedler144 opened #319 "How to get threat intel data"
Hello everyone,

I just installed Intelowl, and I'm able to navigate the webserver. But I am just not able to figure out how to gather threat intel data from IOC-Feeds (like domain, IP, URL). I tried the job section, but it seems that you can upload data manually and analyze it.

Can anyone help please? I am using Ubuntu 18.04, the latest version of docker and docker-compose and intelowl.

Best re

[2021-01-15 10:58] CITIZENDOT commented on #319
Try navigating to http://localhost:80. Are you able to see the dashboard like [this](https://intelowlclient.firebaseapp.com/)? And yes, you can upload data manually and analyze it.
Could you please describe your problem more?

[2021-01-15 11:36] Eshaan7 commented on #319
There are 2 ways you can submit analysis to IntelOwl: a.) webapp b.) CLI client.

For the webapp, look => [demo GIF](https://i.imgur.com/LzriEDq.gif)
For the CLI client, look => [installation](https://github.com/intelowlproject/pyintelowl#installation), [demo GIF](https://asciinema.org/a/vBqr6Jg93kdyTJqc1HwxmZITd)

[2021-01-15 11:59] Eshaan7 commented on #229
I think those would have to be executed via `nosetests tests.test_generic:CronTests.test_maxmind_updater`.

yes, I did not notice that either but it worked for me well in the django-durin package and that is why I recommended @m0mosenpai to use `django-nose`.

django-nose is in maintenance mode, it's not dead yet so we can work on migrating to pytest or unittests with low priority IMHO.

[2021-01-15 14:39] mlodic commented on #229
that command does not work to me. Is that written somewhere in the `django-nose` docs? (I did not find anything)

I think that `manage.py` cannot be avoided to use the Django environment properly.

If we can run the testing suite normally, I agree that we can keep it but we should update the `Tests` sections of the docs.

Otherwise we have to remove it.

[2021-01-16 15:31] Eshaan7 commented on #229
I agree. Can you try this once ?

[code]

[2021-01-17 08:03] tsale opened #320 "VirusTotal v3 needs another query to retrieve data"
Hello,

I just realized that the results returned from VirusTotal v3 are not complete. According to VT documentation, there should be another query with the exact relationship to return the requested data.

![Pasted Graphic](https://user-images.githubusercontent.com/25332397/104834571-29b31a00-5855-11eb-8a80-314220df6f7a.png)

At the moment, it is only the id of the relationship and the related UR

[2021-01-17 08:44] mlodic commented on #320
Thank you for opening the issue.

This is a wanted behavior actually. The idea is that a normal user would expect this analyzer to use just a single VT quota each time he executes the analyzer. If you would like to get all the data that VT provides, ATM it is not possible from this analyzer.

We could add a "full" option (configurable) where the analyzer would "pivot" though the relationships and

[2021-01-17 08:50] tsale commented on #320
It makes sense to not query all the relationships, my free quota would fly away and I wouldn't even have half of the data I need... I hope VT will at least increase the free quota before deprecating v2.

[2021-01-17 08:50] #320 closed

[2021-01-18 08:22] mlodic commented on #229
Sorry for the delay of my response, but yes that works! Great, I have just updated the docs. So `:` must be added after the module name, is this the rule?

[2021-01-18 21:45] Spyd3r0TW opened #322 "Unable to Scan Files."
I am able to scan other observable's like URLs but unable to scan any files. When I select my analyzers it shows the loading icon then nothing happens. If I check past jobs it does not end up in there. I have tried this with different files as well.

I am on the latest build of IntelOwl.

Ideas? Advice?

[2021-01-18 21:51] Spyd3r0TW commented on #322
I was doing test files with nothing in them. When I scanned anything else it works though. I am going to close but its just an odd thing to happen.

[2021-01-18 21:51] #322 closed

[2021-01-20 12:17] Eshaan7 commented on #306
In this way, we are duplicating the API-key variable names under `api_key_name` and `required_secrets`. IMHO, this seems like a hack and not very intuitive. I feel this solution wouldn't last long and we would soon have to implement it in some other way to allow for newer features in the future.

Since making big changes in the `analyzer_config.json` can't be avoided, I'd prefer to do it another w

[2021-01-20 13:59] mlodic commented on #306
Yes, there would be a overhead but is it really relevant? We are trying to solve a user-experience problem that is worth to waste some milliseconds of computation. I know that without a real benchmark is difficult to understand but I guess that IntelOwl bottleneck is not there but it is inside all the tools that the analyzers use and all the APIs that the analyzers interact with.

Also, we could a

[2021-01-20 18:49] eshaan7 opened #323 "[docs] Proper API specs/docs using Swagger"
- Writing proper documentation for the API endpoint functions (_api_app/api.py_)

_Originally posted by @Eshaan7 in https://github.com/intelowlproject/IntelOwl/pull/344#issuecomment-786725761_
- Using https://www.django-rest-framework.org/topics/documenting-your-api/ to generate docs and API specs
- Use [this](https://drf-yasg.readthedocs.io/en/stable/rendering.html#management-command) to create t

[2021-01-20 18:50] #319 closed

[2021-01-20 19:07] Eshaan7 commented on #225
Could be use [django's low level cache API](https://docs.djangoproject.com/en/3.1/topics/cache/#basic-usage) to store the task IDs for a particular job.

[2021-01-22 14:01] mlodic opened #324 "[API] Delete job endpoint + button"
### Issue

At the moment there is not a way to delete old jobs manually.

The only way to remove jobs is:

1. wait for the cron that removes the old jobs. This cron is automatically launched once a day at night. It does remove jobs older than 3 days. It can be customized with the variable `OLD_JOBS_RETENTION_DAYS`.
2. Drop the database
3. The administrator can delete any job from the Django Admin

[2021-01-22 18:36] seccentral opened #325 "404 doc pages, unclear instructions, outdated/missing dockerhub tags/images and more"
a few things:
### **404 pages in docs**

in page `https://intelowl.readthedocs.io/en/latest/Advanced-Usage.html#multi-queue` clicking on "example" leads to 404 page https://github.com/intelowlproject/IntelOwl/blob/master/docker-compose-multi-queue.yml#L29

django users groups and permissions here `https://intelowl.readthedocs.io/en/latest/Installation.html#django-groups-permissions-settings` leads

[2021-01-22 21:31] Eshaan7 commented on #324
Should use the already implemented permissions using django-guardian package.

[2021-01-23 13:45] Shailja1806 commented on #11
I would like to work on this. plz ,guide me.

[2021-01-25 07:29] Slavell commented on #324
Can you give advise how can i drop the database?

[2021-01-25 08:30] mlodic commented on #11
This work should be done only after having solved a larger architectural problem in IntelOwl. See #249

[2021-01-25 09:56] mlodic commented on #325
Hi and thank you for your report. I'll try to answer by points.

**404 pages in docs**
I have updated the docs with correct links. You can check the develop versions of the docs with the updated references: https://intelowl.readthedocs.io/en/develop/

**web UI bug**
did you use the last version from a clean installation or did you update from an old version?
Anyway, do you mean this button is not

[2021-01-25 12:05] mlodic opened #328 "Create a PR template for the master branch"
This is to help maintainers to remember to do everything before creating a release:

Some remainders:

- [ ] update `CHANGELOG.md` for the new version

- [ ] change version number in `conf.py` and `.env`

- [ ] verify CI tests

- [ ] create the release for the branch `develop`

- [ ] wait for dockerHub to finish the builds

- [ ] merge the PR to the `master` branch

[2021-01-25 13:35] mlodic commented on #234
merged #302

[2021-01-25 13:35] #234 closed

[2021-01-25 13:35] mlodic commented on #71
merged #318

[2021-01-25 13:35] #71 closed

[2021-01-26 12:00] mlodic commented on #325
You can use the last version to find everything fixed.

[2021-01-26 12:00] #325 closed

[2021-01-26 17:34] Eshaan7 commented on #324
Tracking in IntelOwl-ng as #.

[2021-01-26 17:42] Eshaan7 commented on #324
Tracking in pyintelowl as

[2021-01-26 19:32] spiderxm commented on #323
assign me this issue

[2021-01-29 12:55] Rishabh-Kumar-07 commented on #324
Hi. I would like to work on this.

[2021-01-30 06:04] m0mosenpai commented on #328
Hi, I would like to take this issue up.

[2021-01-30 07:26] m0mosenpai commented on #229
I think that's right. It says the same in the accepted answer and comments in this post as well -
`A colon separates the module file path and the objects within that file`
https://stackoverflow.com/questions/3704473/how-do-i-run-a-single-test-with-nose-in-pylons

[2021-02-13 03:56] sp35 commented on #324
Hi, is this up for grabs?

[2021-02-13 11:34] m0mosenpai commented on #328
@mlodic I was testing out using multiple templates on a private repo and I created a new file `release_template.md` with the above 4 points inside the `.github` directory but I couldn't get it to display when I opened a PR. It would default to showing the `pull_request_template.md` only. Is there anything else that needs to be done besides the creating a new template file to make it work and is th

[2021-02-13 15:53] sp35 commented on #225
Hi, I would like to work on this issue.

[2021-02-15 08:05] Eshaan7 commented on #225
The API endpoint has been added, thanks to @sp35. Now we need to add support for this to pyintelowl as well as IntelOwl-ng.

[2021-02-15 08:08] Eshaan7 commented on #225
New member function `def kill_running_job(job_id: int) -> bool` in pyintelowl.

[2021-02-15 09:05] Eshaan7 commented on #324
The endpoint has been added but the corresponding issue on pyintelowl repo is still open.

[2021-02-15 09:05] #324 closed

[2021-02-15 09:05] #225 closed

[2021-02-15 09:11] mlodic commented on #328
It seems that all the PR templates should be put in a specific directory called `PULL_REQUEST_TEMPLATE` inside the `.github` folder. The point is: by having 2 different templates what will happen then? No template would be pre-populated by default and you would have to remember to add that query string you mentioned to the URL? If it is like that this is really non-user friendly and imho bad for n

[2021-02-15 10:57] m0mosenpai commented on #328
Yeah, that's what I was thinking as well.  I was trying to find some graphical list/ option to select the template according to the type of PR, but I changing the query in the URL was the only thing I could find. <br>
One alternative to this could be to maybe automate the entire process of creating new releases? Like an action scheduled to run every X amount of days - make sure the necessary chang

[2021-02-15 12:08] mlodic commented on #328
Good idea, most of this (except the changelog text) could be automated. However I guess this is not a fast work and in the future it could be subject of change. So I would prefer to do not this.

I think that, for now, we can just save a template for this without adding it as a real PR template. I mean, like you have already did. You created a `release_template.md` that is not detected by Github a

[2021-02-15 14:31] m0mosenpai commented on #328
Yeah, for sure. Having something there which is accessible would be great. I'll just make a PR with `release_template.md` then. We could maybe think of automating all this in the future sometime since I do feel that it would scale well and creating releases would be one less thing to worry about.

Any other points I should add to the template besides the 4 mentioned above?

[2021-02-15 17:06] mlodic commented on #328
I just splitted the last point, then I think this is fine

[2021-02-17 04:05] sp35 commented on #324
This will be fixed in https://github.com/intelowlproject/pyintelowl/pull/71

[2021-02-17 14:33] eshaan7 opened #341 "Reduce complexity: django object/model permissions"
We are using django object permissions but we are also using django model permissions. At some places, these are intermixed and that is troubling.

[2021-02-23 11:24] rocheston opened #342 "How do I change the IntelOwl's logo on the installation homepage."
How do I change the IntelOwl's logo on the installation homepage (http://localhost). I'm using Docker version of IntelOwl's.

I tried to replace the logo in static and static_intel directories. But still not reflected when the page is loaded.

Please help.

[2021-02-23 11:38] mlodic commented on #342
hi @rocheston, thank you for your interest in the project! How do you plan to use IntelOwl?

[2021-02-23 11:39] Eshaan7 commented on #342
Hi. Are u talking about the logo on the login page ?

All assets visible on the webpage are actually stored in the `IntelOwl-ng` repository which holds the frontend code. (see [assets](https://github.com/intelowlproject/IntelOwl-ng/blob/master/src/assets) folder). Currently, there is no way for a user to overwrite this logo.

[2021-02-23 12:16] rocheston commented on #342
I figured it out. It is in the intel_owl_nginx container. Changed the logo beautifully there. Thanks.

[2021-02-23 13:23] mlodic commented on #342
I would like to remember that you must follow the license terms: https://github.com/intelowlproject/IntelOwl/blob/master/LICENSE

Can you please tell us how do you plan to use the IntelOwl project? Thank you

[2021-02-24 11:17] Purhan commented on #323
It's been a while since this was assigned to someone. I'd like to work on this if it's open for contribution!

[2021-02-24 11:18] mlodic commented on #323
hey @Purhan thank you for your interest in the project! You have been assigned

[2021-02-25 13:36] Purhan commented on #323
@mlodic Thanks for assigning! I have created a PR. Review will be appreciated.

[2021-02-28 08:17] m0mosenpai commented on #341
Hey, is it possible if you could specificy one or two places where this occurs and causes issues? I'm trying to understand more about the issue a bit, thanks.

[2021-02-28 12:01] m0mosenpai commented on #306
I feel this would be nice too. I was thinking right now, analyzers that require API_KEYS show up in the list, while starting a job - even if they aren't configured properly. If the user forgets to set them up, they don't get to know about it till they run the job and get the error in the result JSON.

These unconfigured analyzers could be grayed out in the list and hovering over them could give a

[2021-02-28 12:12] CITIZENDOT commented on #306
Yes. Someway or Other, That's our Final Goal. I mean, User just couldn't select configured analyzer. Forgot to post the idea here.

For Now, I'm considering only `run_all_available_analyzers` and ignoring error report of un-configured analyzers, And in future, We'll implement the above idea, i.e., Knowing the configured analyzers before hand and disabling them.

[2021-03-05 15:12] #342 closed

[2021-03-05 15:13] #328 closed

[2021-03-08 14:02] mlodic opened #348 "ThreatFox (from Abuse.ch) analyzer"
There is this new great tool from Abuse.ch: https://threatfox.abuse.ch/api/

We should create a simple analyzer to check if an analyzed observables is in the threatfox database ("Search an IOC" query)

[2021-03-11 08:00] Shreyas220 commented on #348
Hey @mlodic, I'd like to work on this, I would be very grateful if you could give me some pointers on how to get started as this is my first time contributing and I'm new to security.

[2021-03-11 09:12] CITIZENDOT commented on #323
Yes, it's our mistake for not following a proper syntax while writing doc strings.

Need to use proper syntax as given [here](https://drf-yasg.readthedocs.io/en/1.0.4/custom_spec.html).

_Originally posted by @Eshaan7 in https://github.com/intelowlproject/IntelOwl/issues/344#issuecomment-786725761_

So, Before diving into swagger, We have to fix doc strings, Right? Let me do that then.

[2021-03-11 16:20] mlodic commented on #348
thank you for your interest but there is already a PR opened for that: https://github.com/intelowlproject/IntelOwl/pull/350

New analyzers are a good way to start into this project. Even if they are not listed in the issues, any service that leverages web APIs + provide threat intel info is good for IntelOwl. You can propose also one of your own

[2021-03-12 18:17] Eshaan7 commented on #249
An alpha or very basic implementation of this could be:
- create a new django signal `on_job_analysis_finished`
- create a new queue in rabbitmq called `jobs_feed`
- fire this signal when job gets completed
- on the connector side of this new django signal, we submit the `Job` data to the queue.
Flow: new job -> fire signal -> add to queue

Now on the plugin side we (or any plugin developers) can

[2021-03-12 18:28] subhashissuara commented on #165
Hello @Eshaan7, I am interested to work on this issue. Can you help me with more details? Thank you

[2021-03-12 18:36] Eshaan7 commented on #165
We want to see what analyzers spiderfoot has that IntelOwl doesn't but could be useful to IntelOwl too. You will see that many analyzers/sources would be same in both projects since the projects have some similar functionalities.

If you find a analyzer/source/service (whether it's part of spiderfoot or no) that you feel could be an useful addition to IntelOwl, create an issue mentioning it. If it

[2021-03-12 19:19] Shreyas220 commented on #348
I dont know how, but  i might have missed noticing the PR 🤔
Sure thank you @mlodic  ill keep learning and contributing

[2021-03-12 21:25] subhashissuara opened #351 "Add archive.org's wayback as url analyzer"
Will it be beneficial if we add [archive.org's](https://archive.org/) wayback machine to url analyzers? We can fetch the closest archived snapshot if it exists and return it. If it's good to go, I would like to work on it.

[2021-03-13 08:46] palrohitg commented on #270
@mlodic  is this issue still active? if Not. Could u provide more insight about the same.

[2021-03-13 12:19] sp35 commented on #139
@mlodic  I would like to work on this. I need to create a single analyzer `XForce Intelligence Analyzer` which would support the observables `ip`, `url`, and `hash` by using the endpoints quoted below.

Since we got multiple endpoints for `ip` and `url` analysis, I would have to call all of them for an analysis request.

[2021-03-13 12:42] subhashissuara commented on #53
Hello there, I would like to work on this issue.
[firehol_level1](http://iplists.firehol.org/) mentions `This IP list is a composition of other IP lists.` so, do we need to check from this list and maintain it? or am I missing something? (Since you mentioned, `We should manage the download of these lists internally in the project.`) Thank you

[2021-03-13 14:07] sp35 commented on #53
Hi @subhashissuara you can store it as a text file the media root directory.
A very similar analyzer is [Tor Analyzer](https://github.com/intelowlproject/IntelOwl/blob/master/api_app/script_analyzers/observable_analyzers/tor.py)

[2021-03-13 16:56] mlodic commented on #351
Hey @subhashissuara thank you for your interest in the project!

The service you mentioned is something related to OSINT and it would follow the IntelOwl schema correctly. So this is basically a potentially good idea.

However the point is that I do not see any pratical way to leverage that tool for *cyber security*. IntelOwl could be also used as a generic OSINT tool but it is not its goal. There

[2021-03-13 16:57] mlodic commented on #121
This is something of really high priority. WE are looking for people who are willing to work on that :)

[2021-03-13 16:58] mlodic commented on #12
This is something of really high priority. WE are looking for people who are willing to work on that :)

[2021-03-13 18:05] mlodic commented on #139
Sure! You have been assigned!

[2021-03-13 18:14] subhashissuara commented on #351
You are right, it needs to be useful for cyber security. I don't have anything solid off my mind at the moment however if I do, I will definitely let you know!

[2021-03-13 18:14] #351 closed

[2021-03-13 19:33] Eshaan7 commented on #298
@darrellducote Thank you for your patience. With the new [v2.2.0 release](https://github.com/intelowlproject/IntelOwl/releases/tag/v2.2.0), analyzers with `disabled: true` are excluded from the drop down. We have also added some awesome new features so make sure to checkout the changelog and update!!

Thank you for once again for bringing this issue to our notice.

[2021-03-14 01:03] Eshaan7 commented on #121
https://github.com/RealmTeam/django-rest-framework-social-oauth2
This package should solve all our requirements.
[List of supported backends](https://python-social-auth.readthedocs.io/en/latest/backends/index.html#supported-backends).

We wouldn't need to do any heavy lifting ourselves.
We can just provide a `configuration/oauth_settings.py` file that is to be configured by an user however they wa

[2021-03-15 14:16] mlodic commented on #270
The issue is still active. You can pick it up. The goal is to add support for those new hashes in the specified analyzer

[2021-03-15 16:29] mlodic commented on #348
@Shreyas220 I closed that PR because it was unfinished. If you are still on, you can try to work on it.

[2021-03-16 13:28] sp35 commented on #139
@mlodic Can you please close this issue?
I'm not sure why it didn't get closed, the PR was linked though.

[2021-03-16 13:33] mlodic commented on #139
This should work once we merge that PR to the default branch (`master`). Anyway I can do it now

[2021-03-16 13:33] #139 closed

[2021-03-17 07:16] sp35 commented on #9
`manet` can be run on either of the engines `slimerjs` or `phantomjs`.
I tried using `slimerjs` but it fails.
[code]

**`phantomjs` has been deprecated, it's not broken though, works.**
[code]
Ref: https://www.npmjs.com/package/phantomjs & https://github.com/ariya/phantomjs/issues/15344

[2021-03-17 07:46] mlodic commented on #9
Manet itself was not updated recently but it is still a useful tool to capture screenshots. For instance, this could be useful when analyzing potential phishing pages.

IMHO there are 2 chances:
* do some research and check if there is a similar, more recent tool that can reach the same goal. Then use it instead of Manet
* Integrate Manet, even with deprecated dependencies, as a docker analyzer. I

[2021-03-17 09:09] sp35 commented on #9
`puppeteer` is a good alternative. The function useful to us is [page.screenshot()](https://pptr.dev/#?product=Puppeteer&version=v8.0.0&show=api-pagescreenshotoptions)

To replicate manet's functionality, we can spin up a node server to serve an endpoint and grab a screenshot of the web page using this library.

Each `puppeteer` instance uses an instance of chromium. For this, [puppeteer-cluster](

[2021-03-17 09:50] mlodic commented on #9
This could be an interesting alternative.

Have you checked how the actual docker analyzers are implemented? Do you think that we could host the node server in a new optional docker analyzer?

Also, at the moment, we just show the reports as a JSON. We should manage this special case accordingly, save the screenshots in some way and give the users the chance to see them from the GUI once an analys

[2021-03-17 09:53] mlodic commented on #9
Another important thing to manage is to provide the chance to connect to the URL with a proxy.

This is important considering the context and main goal of IntelOwl. We would actively analyze the site by visiting it so the user would need a way to hide himself behind a proxy to avoid to to be detected.

[2021-03-17 10:05] sp35 commented on #9
Yes, we can do that.

Noted!

[2021-03-17 23:17] Eshaan7 commented on #9
Sorry that I'm late to this conversation but I'm bit critical of using
node.js because that means introducing a new techstack into the project
especially because docker based analyzers are made to work with the
flask-shell2http wrapper and doing this in nodejs would mean duplicating
that extension.

Can't we use selenium in python? I can find lots of examples of using
selenium to grab screenshots

[2021-03-17 23:26] Eshaan7 commented on #9
We could go the lazy way and just use an external public API.

Reference: https://stackoverflow.com/a/63466479

IMO, we can at first simply integrate the public API as a normal observable analyzer. If we find any problems with it, then we can think about adding a docker based analyzers. I say this because large number of docker based analyzers is hard to maintain for us and also to spin up for the

[2021-03-17 23:37] Eshaan7 commented on #9
Also, at the moment, we just show the reports as a JSON. We should manage this special case accordingly, save the screenshots in some way and give the users the chance to see them from the GUI once an analysis is finished.

[2021-03-18 06:48] sp35 commented on #9
Seems fine to me, I felt having our own analyzer (running in sandbox layer in user's machine) would be beneficial. @mlodic, any specific reason for originally proposing manet?

How about adding a field `analysis_has_img` in the JSON report and a separate endpoint to fetch image results then? We can then store the images as a media file by creating a new model linking the job and the image files.

[2021-03-18 08:30] mlodic commented on #9
I agree completely with @Eshaan7. His considerations should be followed.

Manet is a project related to the Honeynet Project, this is the main reason. However it is quite old so it does not matter anymore.

This is hacky but this won't need any particular customization of IntelOwl. Also, it makes sense to store binaries in base64 encoding.

At the moment this new analyzer would be the only one to

[2021-03-18 08:42] Eshaan7 commented on #9
Good idea but as @mlodic said this seems overkill. It's possible to construct image URLs from base64 that can be opened in the browser so I think that's the way to go.

[2021-03-18 11:58] Eshaan7 commented on #9
After much discussion,

- For external service: screenshotapi.net
- For internal service: I found a wrapper over puppeteer so we won't need to write our own API in node.js (see: https://stackoverflow.com/a/55110164/10534470)

We can just take the docker image rendertron already provides and that will be our docker based analyzer.

[2021-03-19 11:01] WasimAkhtarKhan commented on #249
Hi, I am Wasim Akhtar Khan studying Information Technology at BIT Durg, a GSOC aspirant. I want to work on this issue.
I have been using Django since last year and have made some projects.
Looking forward to work with IntelOwl for long time.
It would be really helpful for me if you could suggest some pointers to give me a start.
Thank You
@Eshaan7  @mlodic

[2021-03-19 22:40] Eshaan7 commented on #249
Welcome to the project, Wasim. This issue would require knowledge of django signals, celery and kombu.
Please read my above comment about the "alpha/basic implementation", I've explained clearly what needs to be done and how.

[2021-03-20 05:10] WasimAkhtarKhan commented on #249
Thank You @Eshaan7

[2021-03-24 09:16] 0ssigeno opened #378 "Floss in expert mode"
We should leverage the expert mode flag ( -x ) in the FLOSS analyzer to try to deobfuscate the strings present in the file.

[2021-03-26 11:37] mlodic opened #379 "Migrate to Django 3.2"
When the new Django LTS is available, we should try to move the project to that release + understand if Django 3 provides useful features that we could implement into IntelOwl.

(At the moment we are in the current LTS (2.2.x).

This release is planned to be shipped on April (https://docs.djangoproject.com/en/3.2/releases/3.2/)

It is particularly important to go through the new features and the d

[2021-03-29 06:54] mlodic opened #380 "Integrate new Community Greynoise endpoint"
https://developer.greynoise.io/reference/community-api

We should integrate it inside the already existing `greynoise.py` module and set the new version as the default.

[2021-03-29 10:20] mlodic commented on #348
this is pretty easy and start contribution for newcomers. I strongly encourage to get this opportunity

[2021-03-29 18:10] palrohitg commented on #379
@mlodic  can I work upon this issue shifting from 2.2.x to 3.2?

[2021-03-29 18:24] palrohitg commented on #380
@mlodic  Can share little more insight about the issue.
As I am able to understood we had version v1 for greynoise_api
`additional_config_params.get("greynoise_api_version", "v1")`
and we need to set to default
`additional_config_params.get("greynoise_api_version", "default")`

[2021-03-29 19:05] sp35 commented on #380
Hi @palrohitg `additional_config_params` are defined in the [analyzer_config.json](https://github.com/intelowlproject/IntelOwl/blob/master/configuration/analyzer_config.json), so you'll have to set the default version there.

You need to set the new version as default that is `v3` not `default.`

As for what you have already noticed, these are instances when a default value for a parameter is set,

[2021-03-30 07:45] mlodic commented on #379
sure

[2021-03-30 07:48] mlodic commented on #380
This is a very first good issue to solve. We would just need to update an already existing analyzer. I encourage new contributors to go through this.

[2021-03-30 13:59] palrohitg commented on #380
@sp35 Hi, Thanks for the clarification. I updated  all the instance of v1 to v3 in both [analyzer_config.json](https://github.com/intelowlproject/IntelOwl/blob/master/configuration/analyzer_config.json) and [greynoise.py](https://github.com/intelowlproject/IntelOwl/blob/master/api_app/script_analyzers/observable_analyzers/greynoise.py)

[2021-03-31 11:01] Eshaan7 opened #390 "Divide `/send_analysis_request` endpoint into `/analyse_observable` and `/analyse_file`"
**Note: Would also require changes in the pyintelowl and IntelOwl-ng**

On the client side, we already provide two different methods to build the request body differently based on whether user chose `observable` or `file`. So it just makes sense to divide the endpoint into two for easier management and less confusion.

[2021-04-03 12:03] #9 closed

[2021-04-03 13:43] Eshaan7 commented on #249
Some research:
- [Pluggy](https://pluggy.readthedocs.io/en/latest/) seems like a good alternative to YAPSY. I feel YAPSY has more complex documentation. Last commit on Pluggy was yesterday, whereas last commit on YAPSY was 2 years ago so that's also a thing to consider.
- Very simple "roll-your-own" plugin system: https://www.guidodiepen.nl/2019/02/implementing-a-simple-plugin-framework-in-python/

[2021-04-05 07:12] Eshaan7 opened #392 "Create `Analyzer' model, serializer, viewset to allow storing/editing."
- The model should be based on the new format of the `analyzer_config.json` that is part of issue #306.
- We should also think about combining the `BaseAnalyzer` class with this new model.

[2021-04-05 07:39] Eshaan7 commented on #306
This is an example analyzer object inside the new format of `analyzer_config.json`,

[code]

[2021-04-05 07:46] Eshaan7 opened #397 "[refactoring] sub-apps: `analyzers_manager` and `connectors_manager`"
- It would be better if the `api_app/script_analyzers` were made into it's own django sub-app since we are now also going to be managing models, serializers and viewset for it now. (ref. #392)
- For the connectors (ref. #249), we will have another `connectors_manager` django sub-app which follows the same pattern as we have in the analyzers (base class, config file, dynamic imports, and correspond

[2021-04-06 10:28] mlodic commented on #379
https://twitter.com/djangoproject/status/1379372684400861185 The LTS version is finally available

[2021-04-07 15:20] mlodic opened #401 "OpenCTI analyzer"
We could create an analyzer for [OpenCTI](https://www.opencti.io/en/). This would leverage the [official python client](https://github.com/OpenCTI-Platform/client-python) to look for a specific observable in a OpentCTI instance.

This would require some knowledge of OpenCTI and set up an OpenCTI instance locally. We could use [how it is implemented in Cortex](https://github.com/TheHive-Project/Cor

[2021-04-08 07:00] sp35 commented on #59
@mlodic what's the update on this? I guess it is already done since we call the `behaviours` relationship in `vt3`

https://github.com/intelowlproject/IntelOwl/blob/caf4bc9ea60ce6e60a4a2c203ab9a4a8b2e81264/api_app/script_analyzers/observable_analyzers/vt3_get.py#L192-L194

[2021-04-08 07:22] mlodic commented on #59
no, it is not the same, we need to call the other available endpoints and not only those relationships because they just provide links without the full information

[2021-04-09 09:56] Eshaan7 opened #404 "bug in Dockerfile_nginx"
We should remove this line:
https://github.com/intelowlproject/IntelOwl/blob/853e71b07ec3c01d7bad99bf969d556ef62fe153/docker/Dockerfile_nginx#L7
as it often causes bug when building the docker image.

[2021-04-14 14:32] mlodic opened #415 "pypdns and pypssl without timeout"
Those libraries do not allow a timeout option. The default is no timeout. This could cause many analysis to end late.

I have added this option in the cited libraries:
PRs opened:
https://github.com/CIRCL/PyPDNS/pull/5
https://github.com/adulau/crl-monitor/pull/8

We should updated the versions of these libraries once they add that option

[2021-04-14 21:56] mwatermolen commented on #401
1+ Just came here to say this!

[2021-04-15 07:47] Eshaan7 commented on #390
Also, we should create independent `JobObservableCreateSerializer` and `JobFileCreateSerializer` for these viewsets.

[2021-04-15 15:38] #348 closed

[2021-04-15 15:48] mlodic commented on #380
solved with #417

[2021-04-15 15:48] #380 closed

[2021-04-15 15:48] mlodic commented on #323
solved with #417

[2021-04-15 15:49] mlodic commented on #54
solved with #417

[2021-04-15 15:49] #54 closed

[2021-04-15 15:49] mlodic commented on #53
solved with #417

[2021-04-15 15:49] #53 closed

[2021-04-15 17:06] Eshaan7 commented on #229
Sorry, @mlodic. Actually, I reopen this because we still have some checkboxes/todos left on this issue if you see in the original post.

[2021-04-15 18:00] mlodic commented on #229
yes it was autoclosed because linked to a PR

[2021-04-20 09:02] mlodic commented on #415
updated with the new versions

[2021-04-20 09:02] #415 closed

[2021-04-21 15:49] mlodic opened #426 "[New Analyzer] YETI platform"
The guys behind this other threat intel project have just released a python client to interact with the platform.

The same way as we have a "search" option for other TI platforms like the MISP, we could have it for YETI.

[Example reference from the readme of the library](https://github.com/yeti-platform/pyeti#search-for-observables)

[2021-04-21 16:34] sp35 commented on #426
I see a scope for adding a `YETI Connector` as well, like #12.

[2021-04-21 20:46] PolarBearGod opened #427 "Ubuntu 18.04 Bionic Universe Issue"
The `ReadTheDocs` has two gaps in the installation instruction if the user is using a default Ubuntu 18.04 LTS build.

1. The `docker` and `docker-compose` are significantly out of date in the Bionic Universe if using `apt` (or `apt-get`). So much so that following the directions as is, creates errors like the below which will prevent starting the project at all.

[code]

The issue can be correcte

[2021-04-21 20:46] #427 closed

[2021-04-22 07:00] terminatordoink commented on #238
Another nice one to add dear creators https://quake.360.cn/quake/#/index  you will love it

[2021-04-22 11:03] mlodic commented on #426
Sure!

[2021-04-22 16:05] Eshaan7 commented on #341
**Clarification**: Yes, they are supposed to be intermixed and used together but it's complex to manage for any admin managing an IntelOwl instance.

**Example**: It may be better to overwrite the `get_permissions` method on the viewset rather than using `django-guardian` to store the object permissions.

[2021-04-23 07:04] masq commented on #249
Just as a BTW, Python packaging tools has a built-in way of doing a [plugin architecture](https://packaging.python.org/guides/creating-and-discovering-plugins/) via [Entry Points](https://setuptools.readthedocs.io/en/latest/pkg_resources.html#entry-points).

The benefit of this model is that in a world where this plugin architecture gets fully implemented, each analyzer could be its own python pac

[2021-04-23 07:52] masq opened #428 "[New Analyzer] Analyzer for mnemonic PDNS"
[mnemonic PDNS API Documentation](https://docs.mnemonic.no/display/public/API/PassiveDNS+Integration+Guide)

Notably, authentication is optional (using an API key means you have some agreement/payment with mnemonic), though the plugin implementation should at minimum account for users having one, and would ideally account for the different types of queries an authenticated user might want to make

[2021-04-23 12:34] mlodic opened #429 "issue in the default celery queue"
There could be an issue regarding the default celery container after running the project for a while. It would stop and not be able to restart, causing all the analysis to fail.

Even if the main reason was not found, we noticed that, by removing the support for eventlet (`-P eventlet`), the problem would not appear again.

While we are still understanding the issue, if someone would notice the sa

[2021-04-27 10:31] mlodic opened #433 "Allow editing plugin `params` from the GUI"
At the moment, the API keys can be inserted only before starting the project, as environment variables.

It would be useful to let the user set up those keys and the other required configuration directly from the GUI.

This would imply a lot of changes. Also, we have already planned to work on the configuration (#306) so this idea could be considered as a later development

[2021-04-29 21:29] mwatermolen opened #436 "Hash support beyond MD5? [NO REAL SHA256 / SHA1 Support]"
Why are  SHA256's and SHA1's being MD5'ed, wouldn't this make intelowl near useless for any non-MD5 hashes?

Is there any plan to resolve this?

![image](https://user-images.githubusercontent.com/73605619/116620749-dd717e80-a907-11eb-9226-c68ee24a0a99.png)
![image](https://user-images.githubusercontent.com/73605619/116620830-fb3ee380-a907-11eb-9b7d-ba42fea60582.png)
![image](https://user-images.gi

[2021-04-30 07:01] mlodic commented on #436
Hey, first of all please say Hi, your name and so on...this is open source, try to be gentle.

Then, you did not understand at all what that the `md5` field exists for. We use that value as a key for the database. As a user, you should completely ignore that value. IntelOwl does search correctly for the shaX hash you asked for. Like every other observable, the analyzed value is saved in `observabl

[2021-04-30 07:01] #436 closed

[2021-04-30 13:13] mwatermolen commented on #436
@mlodic Thanks for the heads up.

[2021-04-30 13:26] mlodic commented on #436
You are welcome. Feel free to ask for advice. Even on Twitter for a more direct approach if you prefer.

[2021-04-30 15:56] Eshaan7 commented on #323
The automation part of this issue still needs to be done. (could use https://github.com/NiklasRosenstein/readthedocs-custom-steps/)

[2021-05-03 14:05] mlodic commented on #436
yes, the client should also support this edge case. We will add the support for the next release. Meanwhile you can just lowercase the md5

[2021-05-03 15:06] mwatermolen commented on #436
Much appreciated, Thank you!

[2021-05-06 05:47] sp35 opened #438 "[New Analyzer] - Phishstats"
https://phishstats.info/#apidoc

[SpiderFoot](https://github.com/smicallef/spiderfoot) uses Phishstats' API to find malicious IPs.

#### Endpoint

- IP - phishstats.info:2096/api/phishing?_where=(ip,eq,148.228.16.3)

[code]

[2021-05-06 05:47] sp35 opened #439 "Update Censys.io analyzer to v2"
Censys data can enrich many security products and platforms.

#### Endpoint
- Get structured data about a specific host or website. https://censys.io/api/v1/docs/view

[2021-05-06 05:47] sp35 opened #440 "[New Analyzer] - Virushee"
Scan files by hash https://api.virushee.com
- [x] Privacy: deletes all analyzed files

#### Endpoints
- [Check file status by SHA256 / SHA1 / MD5 hash](https://api.virushee.com/#operation/hash)
- [Upload file sample for analysis](https://api.virushee.com/#operation/upload)

[2021-05-06 07:10] mlodic commented on #438
it makes perfect sense!

[2021-05-06 07:13] mlodic commented on #439
it makes sense. One question: do they provide a free quota/plan too?

[2021-05-06 08:56] sp35 commented on #439
Yes, a limited free access for non-commercial use.

[2021-05-11 13:40] mwatermolen opened #443 "Add support for Kubernetes deployments"
Hey all,

I have been using intel owl in kuberntes for a few weeks now, However the process to get it setup is quite painful. Given the enterprise interest, is there is any planned official support for Kubernetes deployments? If not, I think that would be a next to invaluable addition for easy deployments!

Keep up the great work
Max

[2021-05-11 14:06] mlodic commented on #443
Hey @mwatermolen, thank you for your interest in the project!

Honestly we did not work on Kubernetes. On the contrary, I was planning to provide support for Docker swarm for scalable deployments. This is because IntelOwl is based on docker and that seems faster and easier to support.

Could you please share with us your experience, your problems and everything else that could useful for other peo

[2021-05-11 14:51] mwatermolen commented on #443
Howdy @mlodic,

So on the topic of Docker swarm, the biggest hassle of intelowl on Kuberntes is the image building. If the images are built and published by the intelowl team it will make the Kuberntes/Swarm ops 10x easier 🚀.

 Beyond that a helm chart could be built with low-moderate effort. Right now I am using just yaml based on that post for GKE , but when I redo it here soon I will package it

[2021-05-18 12:21] mlodic opened #448 "Exiftool CVE"
Ref: https://twitter.com/decalage2/status/1394288693142302725

[2021-05-19 07:28] mlodic opened #452 "Add notice to files"
We should add a disclaimer to each python file

[code]

[2021-05-21 09:01] Eshaan7 opened #454 "[backend] bump django-rest-durin to 0.3.0"

[2021-05-21 10:41] #404 closed

[2021-05-21 10:41] #454 closed

[2021-05-21 11:09] Eshaan7 commented on #379
For upgrading to django 3.2, we'd need to drop `eventlet` (reference: https://github.com/celery/celery/issues/5924).

I see three resolutions:
- Since django 2.2 LTS is supported until April 2022 and if we don't stand to benefit a lot from the the upgrades, we can just keep eventlet and django 2.2.
- Drop eventlet and upgrade to django 3.2.
- We can _try_ to use `gevent` but that also has it's own

[2021-05-21 11:17] eshaan7 opened #457 "Profiling with django-silk"
https://github.com/jazzband/django-silk

[2021-05-21 11:38] #452 closed

[2021-05-21 12:21] mlodic commented on #379
I agree, we could just move with the 2nd option in my opinion

[2021-05-24 10:37] mlodic commented on #448
solved #463

[2021-05-24 10:37] #448 closed

[2021-05-24 12:39] #10 closed

[2021-06-10 11:31] #379 closed

[2021-06-15 08:55] mlodic opened #487 "readthedocs not rendering bullet lists"
Idk why this happen: https://intelowl.readthedocs.io/en/develop/Installation.html

[2021-06-15 11:16] mlodic commented on #270
Telfhash creators did not answer about creating a package in pip. I'll do it and then we can integrate it with IntelOwl

[2021-06-17 13:26] Eshaan7 commented on #433
After much deliberation/pain, we dropped the idea of storing the `analyzer_config,json` in the database.

Now we need another way to handle this. Ideally, a robust way to publish edits/writes directly to the JSON file.

---

[tinydb](https://github.com/msiemens/tinydb) something like this maybe.

[2021-06-17 15:51] mlodic commented on #487
solved with the update of the `sphinx_rtd_theme` package

[2021-06-17 15:51] #487 closed

[2021-06-17 15:51] mlodic commented on #429
`eventlet` was removed. Since then, no other problems came up

[2021-06-17 15:51] #429 closed

[2021-06-22 13:28] dagobertdebug opened #500 "Shodan module error SSL: CERTIFICATE_VERIFY_FAILED"
Hi,

for Shodan searches the following error occurs:

HTTPSConnectionPool(host='api.shodan.io', port=443): Max retries exceeded with url: /shodan/host/8.8.8.8?key=removed&minify=True (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1131)')))

Thanks in advance for any workaround/solutio

[2021-06-22 14:18] dagobertdebug commented on #500
Problem on my end.

[2021-06-22 14:18] #500 closed

[2021-06-23 09:15] Eshaan7 opened #501 "[New Analyzer] - Darksearch.io"
API docs: https://darksearch.io/apidoc.

Example query:

[code]

EDIT:  There's also a [python wrapper](https://github.com/thehappydinoa/DarkSearch) available for darksearch.

[2021-06-23 17:51] Eshaan7 opened #502 "Don't hardcode observable types in analyzer scripts"
https://github.com/intelowlproject/IntelOwl/blob/1b6b4aa7dc3d5da791770d5ae2a0f9eb0fe7e8a2/api_app/script_analyzers/observable_analyzers/mb_google.py#L13-L17
https://github.com/intelowlproject/IntelOwl/blob/1b6b4aa7dc3d5da791770d5ae2a0f9eb0fe7e8a2/api_app/script_analyzers/observable_analyzers/mb_get.py#L15

The `["ip", "domain", "url"]` list of observable types shouldn't be hardcoded instead should

[2021-06-23 17:57] Eshaan7 commented on #502
Clarification:

This check should be implemented inside the `BaseAnalyzerMixin`. Something like:

[code]

[2021-06-23 18:05] Eshaan7 opened #503 "Secrets verification to be done inside `BaseAnalyzerMixin`"
[`BaseAnalyzerMixin`](https://github.com/intelowlproject/IntelOwl/blob/7ba04441dd49440a02f4198694e3d9b6548c2494/api_app/script_analyzers/classes.py#L23)

Right now, secrets verification is implemented differently inside each child analyzer class. After #397 and #306, we can have a generic logic of verifying secrets to `BaseAnalyzerMixin`.

[code]

[2021-06-24 11:36] #501 closed

[2021-06-24 12:39] eshaan7 opened #505 "[New analyzer] - onionscan"
GitHub: https://github.com/s-rah/onionscan

[code]

There are 2 ways to integrate this:
a) as a docker based analyzer
b) compile and store as binary which can executed with subprocess

I'd prefer option `b`, because docker based analyzer should be made only as the last resort.

[2021-06-25 14:09] Eshaan7 opened #507 "Exiftool download link broken"
broken link: https://exiftool.org/Image-ExifTool-12.26.tar.gz

[2021-06-25 14:26] #392 closed

[2021-06-25 16:46] Eshaan7 commented on #507
wayback link can be used instead: http://web.archive.org/web/20210521005103/https://exiftool.org/Image-ExifTool-12.26.tar.gz

[2021-06-27 22:52] m0mosenpai commented on #507
Is there any particular reason we can't use the link for versions > 12.26 instead?

[2021-06-28 07:09] sp35 commented on #439
Missed it somehow, we already have it :sweat_smile:
([censys.py](https://github.com/intelowlproject/IntelOwl/blob/master/api_app/script_analyzers/observable_analyzers/censys.py))

[2021-06-28 08:41] sp35 opened #512 "[Connectors Manager] - Add base class and trigger connectors"
#499 is the starting point for the new connector manager.

Once that is done, we need a base class like those for analyzers and methods to trigger connectors if a job is successful.

[2021-06-30 12:38] sp35 opened #517 "[Refactor] - Identify and share common code b/w sub apps"
This issue would track the changes required.

### To do
- [x] helper function which maps data type
- [x] Secret Serializer and BaseField
- [x] `AbstractConfigSerializer`
- [x] an `AbstractReport` model for both `AnalyzerReport` and `ConnectorReport`.
- [x] `Statuses` enum
- [x] abstract base dataclass

[2021-07-07 09:13] m0mosenpai opened #525 "Explicitly define secrets in analyzer_config.json"
There are analyzers that require keys but those keys were never mentioned in `additional_config_params` explicitly and since we used a script to convert the config into the new format, it would generate an empty `secrets` dict for those analyzers, which would in turn cause them to be shown as configured even though they aren't.

To fix this, we have to manually add all the missing secrets in the `

[2021-07-08 07:30] #525 closed

[2021-07-13 09:25] mlodic commented on #507
solved [here](https://github.com/intelowlproject/IntelOwl/commit/f60b868b328d5caf4fc8ca36f6ea9d67a5f93a83), available from the next version

[2021-07-13 09:25] #507 closed

[2021-07-13 17:58] Eshaan7 opened #529 "use dataclasses like `AnalyzerConfig` and `ConnectorConfig`"
The `dict` we get back from `read_and_verify_config` is pretty _strict_ but since it's only a `dict`, we can't use dot notation nor do we get type hinting help. Plus, I do not like that we are having to pass `dict` instances of the config from function to function.

So, I propose using [`dataclasses`](https://docs.python.org/3/library/dataclasses.html) to convert `dict` to `object` type instances.

[2021-07-13 18:05] #512 closed

[2021-07-13 18:06] Eshaan7 commented on #502
- https://github.com/intelowlproject/IntelOwl/commit/4b79907cf778082e4e231364cc67b90f4b23b35b
- https://github.com/intelowlproject/IntelOwl/commit/c545d9e2ed89e5aaf97b97a5a05118815469e5fa

[2021-07-13 18:06] #502 closed

[2021-07-13 18:09] Eshaan7 commented on #503
**Commits:**
- https://github.com/intelowlproject/IntelOwl/commit/064812a7ed090d53c213880232619bf3117be261
- https://github.com/intelowlproject/IntelOwl/commit/3f404feced707e52cf503176ee63620d2c26fccd
- https://github.com/intelowlproject/IntelOwl/commit/450d46b8851b1a5082d1b75b0fb7b4b6e33d5af9

[2021-07-13 18:09] #503 closed

[2021-07-14 09:11] Eshaan7 opened #533 "Store `task_id` in `AbstractReport` as well"
it can be a good idea to store the `task_id` in the DB. This will allow us to `kill` or `retry` particular analyzers/connectors on wish basis using their task ID.

[2021-07-14 09:12] Eshaan7 commented on #533
This also means we don't need to cache anymore the task IDs.

[2021-07-14 09:28] Eshaan7 opened #534 "[v3] Plugin actions: Kill, retry, healthcheck"
- The `kill` can be made on top of [`celery.app.control`](https://docs.celeryproject.org/en/stable/reference/celery.app.control.html) by using corresponding task IDs which we store already.
- For `retry`, we have to construct the same arguments again and call `run_plugin` again. Another way could be to have someway to store the `Plugin` object instance and just call the `.start()` method again but

[2021-07-14 11:05] #529 closed

[2021-07-14 13:57] m0mosenpai opened #535 "Missing configuration for `VirusTotalv3ScanFile` Analyzer in `analyzer_config.json`"
https://github.com/intelowlproject/IntelOwl/blob/master/api_app/script_analyzers/file_analyzers/vt3_scan.py
No config seems to have this analyzer as it's `python_module`.

[2021-07-14 14:36] sp35 commented on #535
AFAIR, this is not a bug, you are right this module is not directly associated to an analyzer but indirectly this module is called when the file needs to be uploaded too, inside the single module for Virustotal, using different config params.

[2021-07-14 15:15] #535 closed

[2021-07-14 15:21] sp35 commented on #534
We know if an analyzer, say docker plugin is configured or not but is it running? (health check)

[2021-07-14 15:24] Eshaan7 commented on #535
@mlodic can you comment your thoughts on this? While wait @sp35 said is true it still doesn't why we do not have a configuration for this particular module.

[2021-07-14 15:34] sp35 commented on #534
The point behind this was that all my connector calls would fail if the associated instance is not running. For this we are adding a call re-run option. But it would be good to have a some sort of basic check to see if that instance is up or not.

[2021-07-14 16:00] mlodic commented on #535
how the VT analyzers are managed is kind of tricky because they call each other and are pretty complicated. Maybe they need some rework now.

Anyway, this is because most of the times it is useless to upload a file for analysis directly.
VT provides the option to do it without other previous requests but:
* if it was already uploaded, the analysis is already available in VT and we would perform a

[2021-07-14 16:02] mlodic commented on #534
Yep a healthcheck against the associated instances (MISP, etc) can be useful to add

[2021-07-14 16:24] mlodic opened #536 "Maxmind updater broken in `develop-2` branch"
This a side-effect of the recent refactor.

[2021-07-14 20:59] Eshaan7 commented on #534
I did not think about it like that. You are definitely right, this could indeed be a great addition. Like a ping-pong that just tells whether the instance/URL is reachable or not.

Note: This could be useful even for the docker analyzers.

[2021-07-15 10:16] Eshaan7 opened #538 "[Discussion] `FileAnalyzer` with empty `supported_filetypes` and `not_supported_filetypes`."
There are FileAnalyzers for which the fields `supported_filetypes` and `not_supported_filetypes` are empty `[]`.

How should we handle the `filter_analyzers` function (which checks the `job.file_mimetype` against these) in such a case ?

[2021-07-15 10:20] m0mosenpai commented on #538
We could assume if none of these fields are set, they support all filetypes perhaps? And if that's not the case for some analyzers, we can manually update these parameters similar to what we did for the missing secrets.

[2021-07-15 10:21] Eshaan7 commented on #538
Analyzers that have these problem:

[code]

[2021-07-15 10:24] mlodic commented on #538
shouldn't we need to handle this like before? I noticed that some logic was removed in `filter_analyzers` in `develop-2`

[2021-07-15 10:25] mlodic commented on #538
https://github.com/intelowlproject/IntelOwl/blob/master/api_app/helpers.py#L62

[2021-07-15 10:27] Eshaan7 commented on #538
So as @m0mosenpai said, we just let them run for all file types ?

[2021-07-15 11:47] Eshaan7 opened #539 "use dataclasses and not serializer in `Plugin`"
Now that we have the dataclasses, we should use them only in the `Plugin` (and it's subclasses).

Changes required:

- [x]  `Plugin.__init__` will take an instance of `config: AbstractConfig` and not `config_dict: Dict`. (and saved as `self._config`)
     * changes will be required in `Plugin`, `ObservableAnalyzer`, `FileAnalyzer`, `Connector` classes and `run_analyzer` and `run_connector` functio

[2021-07-15 11:51] Eshaan7 opened #540 "Dynamic testing of analyzers, instead of having to define individual test cases"

[2021-07-15 11:52] #538 closed

[2021-07-15 11:53] Eshaan7 commented on #536
We will check everything once all refactoring is done. If we fix now, it might break again.

[2021-07-15 11:55] Eshaan7 opened #541 "[New analyzer] dehashed.com"
https://www.dehashed.com/docs

[2021-07-15 17:17] sp35 commented on #539
This would require changes in analyzers using the constants (like `ObservableTypes`) via `_serializer`.

[2021-07-15 20:48] sp35 opened #543 "CIRCLPassiveDNS should be unconfigured if default secret is applied"
https://github.com/intelowlproject/IntelOwl/blob/856208c73d79544c2fe74caf6e7c6de0df554a51/docker/env_file_app_template#L27

While the default secret is helpful for knowing the format, the analyzer should not run with these credentials (it can be marked unconfigured)

[2021-07-16 11:16] AshishBhadouria opened #546 "[New Analyzer] Emailrep.io"
Hi Folks,

I would like to suggest a new analyzer to add.

https://emailrep.io

Please have a look.

[2021-07-16 11:20] m0mosenpai commented on #546
https://github.com/intelowlproject/IntelOwl/blob/master/api_app/script_analyzers/observable_analyzers/emailrep.py

I think we already have this one implemented if I'm not mistaken

[2021-07-16 12:19] mlodic commented on #546
yep :P

[2021-07-16 12:19] #546 closed

[2021-07-19 06:57] AshishBhadouria commented on #546
yep. saw it later. Thanks for your response.

[2021-07-19 08:13] #539 closed

[2021-07-19 08:15] Eshaan7 commented on #390
**Corresponding changes:**
- [ ] IntelOwl-ng (https://github.com/intelowlproject/IntelOwl-ng/pull/121)
- [ ] PyIntelOwl

[2021-07-20 08:18] 0ssigeno opened #553 "Do not save the same file more than once"
Right now intelowl saves a file _for every job_. Meaning that, if the same file is analyzed more than once, we are wasting disk space.

We can create another model, `Sample` or something like that, and add as a foreign key the `Job` model.
When we are cleaning the db, or when an user deletes manually a job,  if a `Sample` does not have a `Job` refereced to it anymore, we will delete it too.

[2021-07-20 10:31] Eshaan7 commented on #543
Nice catch. We could change those lines in the `env_file_app_template` such as:

[code]

[2021-07-20 15:18] 0ssigeno opened #554 "Keep docker images and docker analyzers updated"
Right now we are not verifying via Dependabot neither docker-images versions nor some requirements that are hardcoded inside the dockerfile of some docker analyzers.

I think that leverage the `package-ecosystem`  `docker` inside dependabot.yml should solve the first issue.
For the second, I don't have a clean solution, since a lot of packages unfortunately are not in a package manager system

[2021-07-21 08:11] #390 closed

[2021-07-21 08:47] #397 closed

[2021-07-21 08:47] #517 closed

[2021-07-21 11:32] Eshaan7 opened #555 "[views] Move `download_sample` to an `@action("download-sample")` inside `JobViewSet`."

[2021-07-21 11:33] Eshaan7 commented on #555
**Corresponding client changes:**
- [ ] pyintelowl
- [ ] IntelOwl-ng

[2021-07-21 13:05] #543 closed

[2021-07-22 13:58] #540 closed

[2021-07-22 14:02] Eshaan7 opened #558 "[tests] Codecoverage and analyzer tests verification"
Few problems are:
- [x]  Since the analyzer scripts test are dynamic, we need a way to verify/check that each and every analyzer from `analyzer_config.json` was ran.
     - [x] For the observable analyzers, the `analyzers_to_execute` is calculated dynamically. So here we need a check.
     - [x] For the file analyzers, the `analyzers_to_execute` is defined as static lists. So here only one time ma

[2021-07-22 14:12] Eshaan7 commented on #558
The following analyzers are missing from `test_file_scripts`. (I forgot `run_hash` ones)

[code]

[2021-07-22 14:21] Eshaan7 commented on #558
Since the main issue is coverage reporting, we will tackle this when we have to merge into develop/master.

[2021-07-22 14:23] Eshaan7 opened #560 "[tests] Remove `test` parameter from `send_analysis_request` and docker analyzers"
Instead we can use the `settings.TEST_MODE`.

[2021-07-22 14:24] #229 closed

[2021-07-22 14:27] eshaan7 opened #561 "[tests] API/models permissions, groups"
Inside the `test_api`, we are currently using the admin user so we are basically bypassing all permissions.

We should define test cases where we use normal users and verify their permissions/groups. For example, enabling/disabling certain permissions to a group/user and then making request to a protected endpoint and verify that the behavior changed.

-------
[back reference to previous issue](ht

[2021-07-22 14:37] eshaan7 opened #562 "[docs] rewrite/refactor docs for newer changes + changelog of v3"

[2021-07-22 14:38] Eshaan7 commented on #533
This is more of a deferred issue. Not needed at this exact moment but keeping it open just in case.

[2021-07-22 17:07] #306 closed

[2021-07-23 13:26] mlodic commented on #270
the Pip project is available: https://pypi.org/project/telfhash/

[2021-07-23 13:32] mlodic opened #569 "Add other useful hashes to PE_Info analyzer"
- [x] Dhashicon implemented [here](https://github.com/fr0gger/SuperPeHasher/commit/e9b753bf52d4e48dda2da0b7801075be4037a161#diff-2bb2d2d4d25fef20a893a4e93e96c9b8c0b0c6d5791fc14594cc9dd5cbf40b41)

- [x] [ImpFuzzy](https://github.com/JPCERTCC/impfuzzy)

[2021-07-23 13:35] mlodic commented on #5
New doc was recently added: https://docs.clamav.net/

[2021-07-26 07:25] #555 closed

[2021-07-26 12:40] m0mosenpai opened #574 "Missing check/validation on `color` field in Tags"
GUI happens to have some form of validation via `<input type="color>` but  `pyintelowl` doesn't so the user is able to create tags with arbitrary `color` and `label`:
![image](https://user-images.githubusercontent.com/17424778/126990108-f45d071a-5aae-41c3-b80a-0c06f7d46b49.png)

https://github.com/fabiocaccamo/django-colorfield could be used as a fix.

[2021-07-27 07:15] matterumirai opened #575 "pull access denied for intelowlproject/intelowl_rendertron"
Hello,

when i start intelowl with the command below

`python3 start.py prod --all_analyzers up`

i have got the  error following:

`Error: pull access denied for intelowlproject/intelowl_rendertron, repository does not exist or may require 'docker login': denied: requested access to the resource is denied`

any ideas?
Thanks in advance.

[2021-07-27 08:02] mlodic commented on #575
Thank you for having reported this. We have problems with DockerHub right now so that image won't be available until the problem will be solved.

I have just pushed a fix to the startup script `start.py` where the `rendertron` image won't be pulled with the option `--all_analyzers`.

I suggest you to pull the most recent changes (`git pull` from the IntelOwl download directory) and launch that com

[2021-07-28 00:37] #533 closed

[2021-07-28 07:26] Eshaan7 opened #583 "[v3] Combine `AnalyzerReport.analyzer_name` and `ConnectorReport.connector_name` fields into single"
Because of the two different field names (i.e. `analyzer_name` and `connector_name`), there's code we have to duplicate and it also increases complexity. I think instead we should have a common field called `name` in the `AbstractReport` class.

Then, in these subclasses we can define a `@property` for backwards compatibility.

[code]

Same in `ConnectorReport`.

[2021-07-28 07:34] Eshaan7 opened #584 "[v3] Replace `enum` with `models.TextChoices`"
- https://github.com/intelowlproject/IntelOwl/blob/03b51e47269ad4af27e0c3c09338ea8f0ce2ea63/api_app/core/models.py#L8-L16

- https://github.com/intelowlproject/IntelOwl/blob/c6b5e62fee9a2cdc72cb802090aed99a5cf9dc0e/api_app/analyzers_manager/constants.py#L8-L33

I do not like the `enum` syntax of `.name`. Example: `Statuses.PENDING.name`. Here's, it's very easy to just write `Statuses.PENDING` whic

[2021-07-28 07:35] Eshaan7 commented on #584
Example:

[code]

The main thing is that we need to change everywhere where the `.name` syntax is used.

[2021-07-28 07:38] #560 closed

[2021-07-28 08:28] Eshaan7 commented on #583
- The `unique_together` constraint will be moved to `AbstractReport` as well.
- The `runtime_configuration` field should be moved to `AbstractReport` as well.

[2021-07-28 08:38] Eshaan7 opened #585 "[v3] fix elastic search mapping for models changes"
https://github.com/intelowlproject/IntelOwl/blob/13a430cffb2f5646a5dea0ec3c0e12934e091cea/api_app/documents.py#L10-L29
is hella outdated.

[2021-07-29 09:57] mlodic opened #586 "updates for Intezer integration"
We need to do some updates for the Intezer integration:

- [x] They expanded the support for different type of files:

Supported formats:
* Windows Executable Files (PE) –
exe, .dll, .sys – native x86, native x64 and .NET.

* Linux Executable Files (ELF) –
native x86, native x64, ARM32, ARM64

* Document and script files (Office, PDF, Powershell, VBS)

* Android applications (APK)

* Installers

-

[2021-07-29 11:09] #541 closed

[2021-07-29 11:12] Eshaan7 commented on #554
Fixed in https://github.com/intelowlproject/IntelOwl/commit/74878c7636d573819825834544bd5547a1a4c2e0.

[2021-07-29 11:12] #554 closed

[2021-07-29 13:21] mlodic commented on #575
With the new release the problem was fixed. Now with the option `--all_analyzers` IntelOwl leverages the `rendertron` package too.

[2021-07-29 13:21] #575 closed

[2021-07-30 08:15] Eshaan7 commented on #583
Will be fixed as part of https://github.com/intelowlproject/IntelOwl/pull/582.

[2021-07-30 08:20] Eshaan7 commented on #249
Fixed in https://github.com/intelowlproject/IntelOwl/pull/524 and other various work done in v3.0 milestone.

[2021-07-30 08:20] #249 closed

[2021-07-30 11:33] #583 closed

[2021-07-30 11:39] Eshaan7 commented on #558
Codecov reporting was broken. Was fixed in #599.

[2021-07-30 17:07] Eshaan7 opened #601 "[BUG] `Tranco` analyzer config `python_module` is wrong"
Start of the project:
![image](https://user-images.githubusercontent.com/16389167/127688008-77499ac4-7051-4858-9700-049b12785d05.png)

Now:
![image](https://user-images.githubusercontent.com/16389167/127687778-8a8f82f9-0bfc-41f0-9de6-61c83dba3110.png)

I have no idea how we have not noticed this in all this time.

[2021-08-02 08:05] #584 closed

[2021-08-03 12:41] #401 closed

[2021-08-03 12:56] Eshaan7 commented on #536
This is because the `Maxmind.updater` function was made an instance method but was a class method before. Need to figure out a good way to convert it into a class method again passing as argument the API key.

[2021-08-03 13:18] #536 closed

[2021-08-03 14:30] Eshaan7 commented on #534
Tracking in clients as:
- PyIntelOwl (https://github.com/intelowlproject/pyintelowl/issues/111)
- IntelOwl-ng (https://github.com/intelowlproject/IntelOwl-ng/issues/123)

[2021-08-04 13:06] mlodic opened #611 "moving and updating IntelOwl-Ng documentation"
I think that we should move the IntelOwl-Ng documentation inside the official IntelOwl documentation so everything is in a single place considering that those 2 projects are a single one at the end.

Plus, we would need to add more information for developers in the same sections that we already use in the IntelOwl docs (`Contribute` and `Tests`). In this way the developers would find everything th

[2021-08-04 16:14] sp35 opened #612 "Disable connectors before release"
Connectors by nature are optional.
Task: set `disabled=true` in `connector_config.json`

[2021-08-04 16:37] sp35 commented on #612
Another possible issue is that users might want to use separate instances for the connectors (connectors: MISP and OpenCTI share the same keys as their analyzers (`MISP_KEY`, `OPENCTI_KEY`, etc)).

The keys for connectors can be renamed to `CONNECTOR_*`. Then the connectors will be unconfigured at the start so they won't run and we can be kept enabled.

[2021-08-04 16:46] mlodic commented on #612
yep, it makes sense. They should not share the keys

[2021-08-04 17:30] eshaan7 opened #613 "[New analyzer] Spyse.com API"
Mark from their marketing team reached out to me on Twitter for this integration a long time back but I forgot about it.

SDK: https://github.com/spyse-com/spyse-python

[2021-08-05 07:12] int3ring0 commented on #427
Ran exactly into this problem and copying the .env file worked for me.
Thanks

[2021-08-05 09:08] Eshaan7 opened #615 "Use drf-flex-fields package"
I'd recommend the use of [DRF-Flex-Fields](https://github.com/rsinger86/drf-flex-fields) package. Using this, we can specify at the time of request what fields we want so we wouldn't require different endpoints.

_Originally posted by @Eshaan7 in https://github.com/intelowlproject/IntelOwl-ng/issues/125#issuecomment-893295790_

[2021-08-05 09:19] mlodic commented on #615
just one thing: please always care when adding more packages if not strictly needed. We have already too many dependencies to manage

[2021-08-05 09:25] sp35 commented on #615
How about we just take the fields required as a GET parameter?

[2021-08-05 09:29] Eshaan7 commented on #615
That's basically what DRF flex fields achieves with other advanced stuff. I wouldn't want to roll out a custom solution as it can be hard to manage.

[2021-08-05 13:24] m0mosenpai commented on #59
Checklist:
- [X] VT Sandbox (`/files/{id}/behaviour_summary`) [#617]
- [ ] VT Analyzer for Sigma Analysis (`/sigma_analyses/{id}`)

[2021-08-06 07:29] mlodic opened #619 "updated PR template based on v3 changes"

[2021-08-06 10:55] Eshaan7 opened #620 "Use separate keys in analyzer and connector"
Another possible issue is that users might want to use separate instances for the connectors (connectors: MISP and OpenCTI share the same keys as their analyzers (`MISP_KEY`, `OPENCTI_KEY`, etc)).

The keys for connectors can be renamed to `CONNECTOR_*`. Then the connectors will be unconfigured at the start so they won't run and can be kept enabled.

_Originally posted by @sp35 in https://github.c

[2021-08-06 10:56] #11 closed

[2021-08-06 10:59] #12 closed

[2021-08-06 14:03] #615 closed

[2021-08-09 08:01] Palash-Vishnani commented on #613
I can work on this issue. Will you please elaborate what do I have to do exactly.?

[2021-08-09 08:26] sp35 commented on #613
Hi @Palash-Vishnani, thank you for your interest in contributing to the project. You need to look for the services which can be integrated as an analyzer.

- https://spyse-dev.readme.io/reference/ips#ip_details (observable_type - `ip`)
- https://spyse-dev.readme.io/reference/emails#email_details (observable_type - `general`)
- https://spyse-dev.readme.io/reference/domains#domain_details (observabl

[2021-08-09 08:30] m0mosenpai commented on #613
Another thing, we are in works of releasing a new version which brings about a lot of changes in the project (It may or maynot be or concern to you depending on the timeline of your PR). The process for the addition of analyzer is not going to be affected as much but just giving a heads up.

[2021-08-09 08:41] Eshaan7 commented on #613
Hello, @Palash-Vishnani. Welcome to IntelOwl, you are more than welcome to work on this issue.

Here are some tips:
- Fork the repository and checkout to `develop-2` branch, from there create a new branch `dev-spyse`
[code]
- The analyzer configurations are defined in the `configuration/analyzer_config.json` file. Similar to the existing entries, you've to create a new entry for Spyse.
- Let me gi

[2021-08-09 08:43] m0mosenpai commented on #619
Fixed in #610

[2021-08-09 09:00] Eshaan7 commented on #619
- [ ] We should add a bullet point regarding the `_moneypatch` method.
- [ ] A point about that in case of file analyzer, the analyzer name has to be defined manually in the `tests/analyzers_manager/test_file_scripts` file but not in case of observable analyzer.

[2021-08-09 12:55] #586 closed

[2021-08-09 12:56] #612 closed

[2021-08-09 12:56] #620 closed

[2021-08-09 15:33] Eshaan7 opened #625 "[New Connector] YETI"
I see a scope for adding a `YETI Connector` as well, like #12.

_Originally posted by @sp35 in https://github.com/intelowlproject/IntelOwl/issues/426#issuecomment-824199572_

[2021-08-09 15:36] #619 closed

[2021-08-09 15:36] #59 closed

[2021-08-11 09:46] eshaan7 opened #628 "Playbooks (automated scripts)"
**Description**:
Playbooks could be high-level abstraction to an IntelOwl analysis. Pre-written playbooks that define a flow like:

[code]

For example, if a user wants that: given an IP: get the netblocks -> the AS Number -> BGP peering data, etc. Then a playbook could be written by them or included directly in IntelOwl to automate such a flow.

**Implementation Idea:**

- `Playbook` could be ano

[2021-08-11 12:41] Eshaan7 opened #629 "`connectors_requested` field for analyse API"
Similar to `analyzers_requested`, so user can specify explicitly what connectors to run.

[2021-08-12 10:05] sp35 commented on #426
I'm thinking of using the API directly for purposes other than search since the client doesn't raise exceptions.
Tracking https://github.com/yeti-platform/pyeti/issues/21

[2021-08-12 10:44] #601 closed

[2021-08-13 04:12] sp35 commented on #629
Would it make sense to run a `disabled` connector if it was specified in `connectors_requested`? (`disabled` can mean it won't run automatically after each analysis)

[2021-08-13 09:10] #534 closed

[2021-08-13 09:15] Eshaan7 commented on #613
Hi, @Palash-Vishnani. Feel free to drop into our slack [@Honeynet Slack](https://honeynetpublic.slack.com/archives/C01KVGMAKL6), if you need any help regarding development.

[2021-08-13 11:46] #625 closed

[2021-08-13 12:58] #426 closed

[2021-08-13 13:05] Eshaan7 commented on #629
`disabled` should just mean disabled. This is how it is done in analyzers also.

[2021-08-13 14:11] eshaan7 opened #634 "[New Analyzer] BitcoinAbuse.com"
https://bitcoinabuse.com

[2021-08-13 16:42] SammyTheBEAST opened #635 "Running IntelOwl on localhost?"
Hello,

For security reasons, I only want to access IntelOwl through a VPN connection. Normally, I just change the IP addresses to point to 127.0.0.1 and that works. I've changed the IP addresses in the intel_owl.ini, entrypoint_uwsgi.sh, and the nginx.conf files to be on the localhost 127.0.0.1, but I'm getting HTTP 0 errors with barely any way to debug it. What do I need to do to get IntelOwl to

[2021-08-16 12:46] mlodic commented on #628
yeah it does make sense. In particular because now we have so many analyzers that it is difficult for people to understand which one to use or not. The first instinct is to just run all the analyzers. Also, experienced users could create custom playbooks to have a flow that they can easily repeat each time.

Plus, I would create 2 different levels:
* pre-written analyzers/connectors combo, exactly

[2021-08-16 13:21] mlodic commented on #635
Hi,

I don't know how much you know about Docker, but the application server (uwsgi) is executed in the docker network. This means that if you changed the `0.0.0.0` values that you found with `127.0.0.1` that would break the application because the nginx container would not be able anymore to connect to the uwsgi one. The uwsgi container would be reachable only by itself.
The `0.0.0.0` means that

[2021-08-16 13:21] #635 closed

[2021-08-17 09:10] mlodic opened #637 "[New analyzer] Hashlookup-server"
Github project: https://github.com/adulau/hashlookup-server

We should provide the opportunity to connect either to the CIRCL server (hashlookup.circl.lu) or to a custom server

[2021-08-17 09:48] mlodic opened #638 "Support for TLP, both for analyzers and connectors"
At the moment there are 3 options for visibility and privacy:
![image](https://user-images.githubusercontent.com/30625432/129700460-177899d0-d2b1-494b-8322-3a5522adafeb.png)

* `leaks_info` flag: disable analyzers that could impact privacy
* `external_service` flag: disable analyzers that use external services
* `private` flag: limit view permissions to my groups

I guess that, even if this does m

[2021-08-17 09:55] sp35 commented on #638
there is no a granular way to choose which analysis we want to share (@sp35 could you confirm this?)

Yes that's right, also with #629, the user can specify the connectors to execute, but as of now the default behaviour is to execute all enabled connectors.

[2021-08-19 13:42] mlodic opened #639 "Requests downgraded because of pycti dependency"
We need to upgrade requests again to the latest once they solve the problem in the `pycti` library.

See the issue I opened [here](https://github.com/OpenCTI-Platform/client-python/issues/200)

[2021-08-20 05:36] sp35 commented on #638
Tracking in clients

- [ ] IntelOwl-ng (https://github.com/intelowlproject/IntelOwl-ng/issues/138)
- [ ] Pyintelowl

[2021-08-20 07:52] Eshaan7 opened #642 "[v3] Allow to run only one or few analyzers in unit tests"
Related to #540.

[2021-08-20 07:54] mlodic opened #643 "[v3] osslsigncode package not working in tests and outdated"
The same we did for Exiftool (#448), we should move the `osslsigncode` package from the Dockerfile (installed in the underline system as an apt *outdated* package) to a custom download and installation.

In this way we can keep control of the most recent version of the tool. For instance, they have released the 2.2 version few days ago (https://github.com/mtrojnar/osslsigncode/releases/tag/2.2) wh

[2021-08-20 07:57] mlodic commented on #642
Yeah I guess that if we do not find a fast solution, we could just solve this problem with a proper documentation.

At the end, it is just an issue for active developers so they can manage it while developing by adding a line of code

This is your example: (https://github.com/intelowlproject/IntelOwl/blob/c550d7fda52912ad569104ac78b98271b82d716f/tests/analyzers_manager/__init__.py#L192)

[2021-08-20 14:07] #165 closed

[2021-08-20 14:07] #176 closed

[2021-08-20 14:58] #558 closed

[2021-08-20 16:02] Eshaan7 commented on #643
The #645 is a good and temporary fix for this. So this isn't a priority.

[2021-08-20 16:05] mlodic commented on #638
This was not implemented in the #641 PR:

[2021-08-20 16:20] mlodic opened #647 ""run_hash" analyzers visible while performing an hash query"
![image](https://user-images.githubusercontent.com/30625432/130263240-df480645-5123-4c31-b593-3c7a5d7416aa.png)

I just noticed that both the file and the observable version of the Cymru analyzers (and all the other similar ones that works with "run_hash") are  incorrectly viewed in the GUI.

Then no problem in the analysis, the incorrect analyzers are not executed

![image](https://user-images.gi

[2021-08-23 09:46] Eshaan7 opened #649 "[v3] Refactor `ask_analysis_availability` as a POST api w/ proper serializer"

[2021-08-23 09:53] #637 closed

[2021-08-23 10:24] #647 closed

[2021-08-24 21:45] #642 closed

[2021-08-25 07:05] mlodic opened #658 "[v3] hash uppercase bug"
If we try to analyze an hash by inserting adding it with lowercase, it would be analyzed correctly. That's ok.

If we try to analyze it again by inserting it in uppercase, it would be analyzed again because it would be considered as a different observable with 2 different md5s. That's not good. They should be treated by the server as the same observable and the analysis should not be repeated. On