[2021-08-25 14:42] 0ssigeno opened #659 "[New analyzer] Use pyelftools to have static analysis of ELF files"
Since we are using PeFile to analyze Portable executable headers, we can have the symmetrical type of analysis, but for ELF files.

We can use [pyelftools](https://github.com/eliben/pyelftools) to solve that.

[2021-08-25 14:48] Palash-Vishnani commented on #613
Sorry for the delay, I was busy because of my exams. I will start working on this issue soon now.

[2021-08-26 15:21] eshaan7 opened #662 "try/catch in analyse views"

[2021-08-26 15:22] eshaan7 opened #663 "remove 'required' and 'default' fields from config secrets"

[2021-08-26 17:39] #663 closed, assigned to sp35

[2021-08-27 07:31] #662 closed, assigned to nobody

[2021-08-28 05:44] Palash-Vishnani commented on #613
Hey,  just confirming ..which git command should I use to push this new `dev-spyse` branch from my local system to my remote forked IntelOwl repository??? And the origin should be `master` or `develop` branch?

[2021-08-31 08:04] Eshaan7 opened #670 "[v3] drop `run_all_available_analyzers` boolean"
if `analyzers_requested` empty -> run all, otherwise -> run the ones given in the array.

Similar to how it's done in #666.

[2021-08-31 08:13] Eshaan7 commented on #658
we can just call `observable_name.lower()` before saving it in the `Job`. What do u think ?

[2021-08-31 08:13] #643 closed

[2021-08-31 09:07] Eshaan7 commented on #553
Was this closed by https://github.com/intelowlproject/IntelOwl/pull/552 ?

@0ssigeno

[2021-08-31 09:14] #629 closed

[2021-08-31 09:25] #658 closed

[2021-08-31 09:58] 0ssigeno commented on #553
Not for local instances. We are still saving them in folders of format `job_date`.

[2021-08-31 10:10] Eshaan7 commented on #670
Corresponding client changes:

- [ ] PyIntelOwl
- [ ] IntelOwl-ng

[2021-08-31 12:33] #670 closed

[2021-08-31 13:50] Eshaan7 commented on #611
If we move the IntelOwl-ng docs to the main one, then should we move pyintelowl docs to the main one too ? this doesn't seem feasible. We already link the client docs in the main one that's sufficent.

[2021-08-31 13:52] eshaan7 opened #673 "Change analyzer behavior at runtime as per TLP"
This was not implemented in the #641 PR:

_Originally posted by @mlodic in https://github.com/intelowlproject/IntelOwl/issues/638#issuecomment-902797929_

[2021-08-31 13:52] #638 closed

[2021-08-31 13:55] mlodic commented on #611
everything that could be easier for a new developer to start working on it

[2021-08-31 14:34] mlodic commented on #639
this is about to be solved. They merged my pr

[2021-08-31 15:33] #585 closed

[2021-09-01 12:19] mlodic opened #679 "Support for PCAP and dedicated analyzers"
We could add PCAPs as a new supported artifacts to analyze. This could be extremely useful for cyber security analysts that usually deal with this kind of artifacts

The new analyzers could be:

- zeek
- suricata
- packettotal
- etc

[2021-09-01 13:22] eshaan7 opened #680 "Investigations (playbook workflows)"
*updated: 15th March 2022*

## Idea / Motivation

a combination of two or more of the playbooks to create an "investigation" (this is an upper level). The idea could be to help people organize a workflow where playbooks are executed based on the result of the previous ones. For example: you could run the playbook "ip basic info": based on the data that is found, the "investigation" will suggest to

[2021-09-08 14:47] eshaan7 opened #686 "maybe remove the intelowl_nginx docker image ?"

[2021-09-08 15:56] eshaan7 opened #688 "Drop `secret.type` attr from config files"
this key is pretty redundant. The secrets will always be a string and even if not the parsing/casting will be managed inside the plugin code.

[2021-09-08 16:02] eshaan7 opened #689 "config files: `config` should have `type` and `description` keys"
It could be useful to provide `type` and  `description` keys inside `config` parameters.

With this, the parameters (or the configuration file as a whole) would be self-documenting and the user won't need to refer to the [customize-analyzer-execution-at-time-of-request](https://intelowl.readthedocs.io/en/latest/Advanced-Usage.html#customize-analyzer-execution-at-time-of-request) docs.

In a nutshe

[2021-09-08 16:48] #688 closed

[2021-09-09 09:23] #613 closed

[2021-09-09 14:00] eshaan7 commented on #689
Client changes:
- [ ] IntelOwl-ng (https://github.com/intelowlproject/IntelOwl-ng/pull/148)
- [ ] PyIntelOwl

[2021-09-10 13:55] #689 closed

[2021-09-10 13:56] #562 closed

[2021-09-13 09:20] #686 closed

[2021-09-14 12:41] mlodic commented on #639
#698

[2021-09-14 12:41] #639 closed

[2021-09-14 12:41] #611 closed

[2021-09-15 13:23] eshaan7 opened #702 "config files: need `required` boolean in `secrets` attr [revert #663]"
We need to _partially_ revert https://github.com/intelowlproject/IntelOwl/issues/663.

-------------

There are some analyzers which require optional API keys but the way our filtering works (`filter_analyzers` function), they are marked uconfigured because of missing secrets. This is not intended.

[2021-09-15 14:49] #702 closed

[2021-09-17 10:56] mlodic opened #708 "Capa v3 update"
https://www.fireeye.com/blog/threat-research/2021/09/elfant-in-the-room-capa-v3.html

[2021-09-20 12:56] mlodic opened #709 "[New analyzer] Integrate new FileScan service"
https://filescan.io/api/docs

[2021-09-24 15:41] pbutler6163 opened #713 "`SoftTimeLimitExceeded` error in `DNSTwist` analyzer"
Not sure why this is occurring? It can obtain classic DNS but none other.

[2021-09-26 17:05] pbutler6163 commented on #713
Yes Classic DNS does work. none of the others do.

[2021-09-27 12:42] mlodic opened #714 "[New Analyzer] Integrate JoeSandbox community"
From today, it is possible to leverage APIs with the free account: https://www.joesandbox.com/userguide?sphinxurl=usage/webapi.html#api-key

[2021-09-28 12:27] eshaan7 opened #717 "New analyzer: CryptoScamDB"
https://documenter.getpostman.com/view/4298426/RzZ7nKcM

[2021-09-29 09:29] eshaan7 opened #718 "[New analyzer] Dragonfly.certego.net"
https://dragonfly.certego.net/

[2021-10-05 17:09] mlodic opened #722 "CAPE sandbox analyzer"
https://www.capesandbox.com

[2021-10-06 13:22] mlodic opened #724 "`tags_id` not mandatory for Analysis Requests APIs"

[2021-10-11 16:07] eshaan7 opened #732 "[feature] bulk analysis"
Bulk analyze of different types of IoCs in one shot. For example, could be done by pasting such lines in a box:

[code]

[2021-10-11 16:09] eshaan7 opened #733 "New Playbook: run only "free" analyzers"
*updated: 15th March 2022*

## Idea / Motivation

The main use-case for this is the following example:
- A user has configured some paid analyzers (with keys/credentials) but maybe for some analysis they want to save on API/service credits by checking the "run only free analyzers" option.

## Pre-requisite(s)

- [ ] #628

## Implementation Idea

This can be solved by creating a playbook that conta

[2021-10-14 15:35] andre-ame opened #739 "Google WebRisk analyzer config"
Tried to setup Google WebRisk analyzer following documentation, my json file in configuration/service_account_keyfile.json, added Api Key in docker/env_file_app.

Now I'm getting this json when I try run it
`[
  "/opt/deploy/intel_owl/configuration/service_account_keyfile.json should be an existing file. Check the docs on how to add this file to properly execute this analyzer"
]`

Is there any ste

[2021-10-15 08:54] mlodic commented on #739
Hi @ame90, I think you should restart the application to have the file properly loaded.

We'll push an adjustment to avoid this for the next patch. Thank you for your report

[2021-10-15 10:11] #739 closed, assigned to nobody

[2021-10-18 14:04] OG-Sadpanda opened #741 "IntelOwl 3.1 Florian Roth Yara Scan Fails"
### Problem: Florian Roth Yara scanner is broken in IntelOwl v3.1.0

`Yara_Scan_Florian` analyzer always fails. This applies when the module is selected as part of a batch operation (multiple scanners) and when the module is ran by itself.

#### `intelowl_celery_worker_default` container logs

[code]

#### `Yara_Scan_Florian` from `analyzer_config.json`

[code]

[2021-10-19 14:13] OG-Sadpanda opened #743 "IntelOwl 3.1.0 - Mime Type Identification Error"
IntelOwl 3.1.0 modules do not evaluate mime types of files properly. Modules still run against an unsupported file type causing errors in the output.

### Example: EXE File scan THUG_HTML_Info Output

![image](https://user-images.githubusercontent.com/1459500/137927775-024a5e1d-f700-424f-a1a1-f71bbbf39ce9.png)

### Example: EXE File scan BOXJS_Scan Output

![image](https://user-images.githubuserco

[2021-10-20 11:30] eshaan7 commented on #743
The fix for this will be released in the next patch release v3.1.1.

[2021-10-20 11:51] #743 closed, assigned to nobody

[2021-10-20 15:41] mlodic commented on #741
Well, I am being honest, I am afraid that the memory required to execute all the file analyzers at the same time is too much for even a system like that. ATM I can't help you in any other way than tell you: if you want to run all the analyzers, you should have more RAM.

In all our efforts to add a lot of analyzers, we didn't make particular tests regarding the amount of computational resources re

[2021-10-20 16:00] OG-Sadpanda commented on #741
yup tested with Seatbelt.exe (516.kb) and test.txt (6b) .. both failed.

[2021-10-29 08:23] mlodic opened #751 "IntelOwl system requirements"
We need to provide explicit documentation on OS system requirements for IntelOwl, after having done some specific testing.

Plus, I think we should abstract for the user this concept and provide 3 pre-built configurations for different OS requirements:

* IntelOwl light
* IntelOwl standard
* IntelOwl heavy

To do that, we need to perform a benchmark for each analyzer to understand how many resourc

[2021-11-01 14:17] eshaan7 opened #752 "`extends` key in plugin configuration"
### Problem Description

Currently, there's no way to extend an existing configuration entry.

For instance, take the case of `Shodan_Honeyscore` and `Shodan_Search` analyzer configurations. Both share most attributes differing in only few i.e. `description` and `params` so there is redundant copy-pasta between them.

https://github.com/intelowlproject/IntelOwl/blob/eaf95756d3af07c6604f8737896100c

[2021-11-01 14:58] eshaan7 commented on #752
Code:

[code]

[code]

[2021-11-08 04:17] fear-the-reaper opened #755 "Undderstanding Intelowl"
Hello, I am trying to understand the system and ecosystem of intelowl where I am trying to find out why is it integrating with other platforms such as MISP, making and using analyzers, other features, and overall concept and logic. Thank you in advance!

[2021-11-08 08:30] eshaan7 commented on #755
Hi.

IntelOwl is for aggregating maximum amount of threat intelligence data about a particular observable (IP, domain, hash, URL) or file. This data is collected from external sources or tools that are available as _analyzers_ inside of IntelOwl. You can query an observable/file against 100s of these analyzers and all the data is returned to you in a unified manner. Automation and ease-of-use is k

[2021-11-08 08:30] #755 closed

[2021-11-10 01:37] xneanq commented on #741
the reason this is happening is because the `YaraScan` analyzer is separately compiling each yara file and holding on to each `yara.Rules` object and running each one separately (the florian set has > 500 files)

if you combine all of the "valid" rules into a single file such that `YaraScan` only sees that one file, it does not hit those memory limits

(in fact this is what they do here https://gi

[2021-11-10 09:04] mlodic commented on #741
thank you for you help.

I am not sure that this will solve the problem because you still need to load into memory all the rules. So even in your case there will be a moment when all the rules are loaded into memory and could crash the application.
Plus, in this way, we would lose the reference to the original yara file that is useful when you need to look for the rule definition once a rule has t

[2021-11-10 22:18] xneanq commented on #741
you could also just combine all of the rules into an `index.yar` in `repo_downloader.sh`

[code]

[2021-11-15 04:25] 0x0elliot commented on #634
I would like to work on this issue.

[2021-11-15 09:13] eshaan7 opened #765 "Use `force_unique_key` option in DockerBasedAnalyzer"
[code]

to avoid such errors.

[2021-11-15 09:18] #765 closed

[2021-11-15 13:13] 0x0elliot commented on #752
Can I take up this issue? Seems like a simple one now that you have laid it down. Which exact file do I need to edit other than <a href = "https://github.com/intelowlproject/IntelOwl/blob/master/configuration/analyzer_config.json">analyzer_config.json</a>?

[2021-11-15 13:35] eshaan7 commented on #752
This is not ready for work at the moment actually. Note the "needs approval" label.

[2021-11-16 05:47] 0x0elliot commented on #440
I would like to take care of this issue.

[2021-11-16 10:04] #56 closed

[2021-11-16 10:05] #634 closed

[2021-11-17 17:52] uzair-ali10 commented on #438
Hey!!
I would like to work on this, please assign this to me

[2021-11-18 16:06] uzair-ali10 commented on #561
Hey!!
From what I've understood is that currently in [`test_api`](https://github.com/intelowlproject/IntelOwl/blob/master/tests/test_api.py) all the views are tested against a Super User. And it is desired to test them against a normal user correct??
If this is the case please assign this to me i could take this up

[2021-11-19 17:15] xander8945 opened #772 "IntelOwl Freezes upon Starting A Scan"
I absolutely love IntelOwl so far, but I'm running into an issue where everytime I try to run a scan, the virtual machine I'm running freezes. If I power cycle the machine and reboot IntelOwl, it will sometimes complete the scan, but it might also just freeze. After enough reboots it will eventually complete.

I'm running IntelOwl in Virtualbox using Kali 2021.3.
![image](https://user-images.githu

[2021-11-19 17:26] mlodic commented on #772
hey, thank you for your interest in the project!

I guess it is just a matter of VM resources, in particular the RAM I would guess (OOM issue in the VM).

ATM we do not provide specific system requirements (see existing [issue](https://github.com/intelowlproject/IntelOwl/issues/751)). We need to do some work for that.

Did you run IntelOwl with additional options (for instance `--all_analyzers`)?

[2021-11-19 18:02] xander8945 commented on #772
Thank you for the quick reply!
I tried upping the ram to 12G and the CPU to 6 with no luck. It's not running out of hard drive space, as its only 15G/80G Looking at the terminal it seems to always freeze upon loading a directory from yara, but it's a different directory each time.

[2021-11-19 18:04] xander8945 commented on #772
Nevermind, I just got a freeze during the API call to virustotal, so it's not unique to yara

[2021-11-20 07:25] fear-the-reaper commented on #440
If it's possible can I also try to do this issue?

[2021-11-20 07:30] fear-the-reaper commented on #505
Can you elaborate on option b like do we use forking or something?

[2021-11-20 18:20] fear-the-reaper commented on #709
Quick question: Do I need to integrate all of the endpoints?

[2021-11-21 12:51] uzair-ali10 opened #773 "[New Analyzer] - emergingthreats.net"
http://apidocs.emergingthreats.net/

Supported Observable Types are Domain and IP

[2021-11-21 12:52] uzair-ali10 commented on #773
Assign this issue to me

[2021-11-22 09:00] mlodic commented on #772
🤔 honestly I don't know how I could help more for now...as said, we know that sometimes IntelOwl could leverage a high amount of RAM. Other than that I think we would just need to do more testing. FYI we are using IntelOwl in servers with 2 CPU and 10GB RAM and it's all ok there.

[2021-11-22 09:07] mlodic commented on #659
this would be a new analyzer that would leverage that tool.

[2021-11-22 09:10] mlodic commented on #709
No, you would need to leverage the endpoints required to check:
* if the file you are about to analyze is already available in the service
* if not, send the file to the service for analysis
* poll for results

This is a logic that we have already implemented in a lot of other analyzers (`triage`, `dragonfly`, `intezer`, `cuckoo`, etc) so I'd suggest to check them as an example

[2021-11-22 09:12] mlodic commented on #505
[this analyzer](https://github.com/intelowlproject/IntelOwl/blob/master/api_app/analyzers_manager/file_analyzers/signature_info.py) is an example of executing the binary with subprocess

[2021-11-22 09:14] mlodic commented on #773
ok but how can you test this? do they provide free access because it seems not

[2021-11-22 09:49] mlodic opened #774 "Enforce mypy"
http://mypy-lang.org/

[2021-11-22 09:51] eshaan7 commented on #774
This requires:
- making a configuration file for mypy
- adding mypy action to our lint pipeline in the CI
- fixing existing and adding type hints everywhere in the codebase

[2021-11-22 10:48] uzair-ali10 commented on #773
ea they Ohh yes it sees that they do not have a free tier plan, my bad

[2021-11-22 11:00] mlodic commented on #773
closing because it is closed intelligence

[2021-11-22 11:00] #773 closed

[2021-11-22 13:18] eshaan7 commented on #561
You are right but the issue #341 needs to be solved prior to working on this.

[2021-11-22 14:03] #438 closed

[2021-11-23 17:30] uzair-ali10 commented on #428
Hey, I would like to work on this
Can u pin-point which endpoints are we interested in and the observable types which will be supported by API

[2021-11-23 17:36] mlodic commented on #428
The API is well documented and provide examples.

This analyzer should support the same functions that are available in common PDNS services. Please take a look to the other PDNS-related analyzers like dnsdb.

[2021-11-24 04:51] sp35 commented on #440
This analyzer would be a file analyzer and requires the following:
1. Checking if file results are already available by searching for the file's hash (`https://api.virushee.com/file/hash/{hash}`).
2. If the hash is not found, the file should be uploaded (`https://api.virushee.com/file/upload`) and results can be polled using the task id received after upload (`https://api.virushee.com/file/upload`

[2021-11-24 04:53] sp35 commented on #440
@0x0elliot Are you working on this issue?

[2021-11-25 07:14] 0x0elliot commented on #440
@sp35 I have gotten a little busy with other work. It's fine if someone else wants to tacke this issue for now!

[2021-11-25 09:00] eshaan7 opened #779 "Prevent running `repo_downloader.sh` in `Dockerfile` for every build"
because it slows down the image building time and hurts development flow

[2021-11-26 15:30] uzair-ali10 commented on #709
Hey, i would like to take this up
Please assign it to me

[2021-11-29 05:38] fear-the-reaper commented on #440
Alright. Can I be assigned this task then?

[2021-11-29 08:13] 0x0elliot commented on #722
Hey! Can I take up this issue? I am free now and I wanted to contribute back again.

[2021-11-29 08:33] mlodic commented on #722
We are not sure that they still activate new accounts...

[2021-11-29 08:54] 0x0elliot commented on #714
Since CAPE analyzer will take time to manually allow my current account, I would like to take care of this issue!

[2021-11-29 17:00] mlodic opened #782 "new Yara rule repo to add"
https://github.com/fboldewin/YARA-rules

[2021-11-29 19:19] 0x0elliot commented on #722
The only option we have is to wait.

[2021-11-30 08:48] eshaan7 commented on #709
On further reading through [FileScan API docs](https://www.filescan.io/api/docs), I see that we can make 2 analyzers out of filescan. One for Observable analysis and other for File analysis.

- [ ] `FileScan_Upload_File`. Fixed by https://github.com/intelowlproject/IntelOwl/pull/781.
- [ ] `FileScan_Observable`.

The observable analyzer will use the [`/api/reports/search`](https://www.filescan.io/

[2021-11-30 10:15] fear-the-reaper commented on #440
Bit of a stupid question but for this analyzer, I'll get the file right? Then I'll take out its hash and then see if it has results or not.

[2021-11-30 10:17] fear-the-reaper commented on #440
Also, how can I test the analyzer I'm making? I made the developer instance and everything but am still confused on how to check it and everything. Sorry for the questions this is my first time doing something like this.

[2021-11-30 10:40] mlodic commented on #440
Please, before asking, please read through all the documentation about how to contribute then check other analyzers code as an example, like @sp35 mentioned.

[2021-11-30 14:45] kevoreilly commented on #722
We do activate new accounts when a manual request is made via Twiter - we cannot automate the activation as we have suffered so much abuse from anonymous/bogus accounts who only wish to scrape. This has caused denial of service for all users, I can only apologise for this but it is a necessary evil.

[2021-12-05 11:09] 0x0elliot commented on #722
I will try making a manual request on Twitter then. Thanks kev!

[2021-12-05 16:00] 0x0elliot commented on #428
I decided to take care of this issue as I had time and it was a simple one :D

[2021-12-08 05:56] uzair-ali10 commented on #440
Hey, Please assign this one to me I've created a PR (#792)  against it

[2021-12-08 13:46] eshaan7 commented on #440
Yep, I like that! We can create 2 analyzers out of Virushee.

- `Virushee_CheckHash` observable analyzer for `hash`.
- `Virushee_UploadFile` file analyzer.

This too. This parameter should be added to the `Virushee_UploadFile` file analyzer.

[2021-12-08 13:50] eshaan7 commented on #440
Since you already made the development instance then,
- build and up the docker containers
- create a django superuser
- open a browser and navigate to http://localhost/ and click on "Scan a File".
- Upload a file and select your new analyzer's name from the dropdown list and simply start the scan.

Do remember to thoroughly read the [Contribute docs](https://intelowl.readthedocs.io/en/latest/Cont

[2021-12-08 18:12] CypherpunkSamurai commented on #782
Hello Sir, I'd like to contribute to the issue. Please allow me.

I also had a few questions regarding this issue. So, as the title says, am I just supposed to add all the yara rules available in the linked repo to our repo?

[2021-12-09 08:32] mlodic commented on #782
Hi

you just need to add another analyer configuration based on the Yara analyzer like [this one](https://github.com/intelowlproject/IntelOwl/blob/master/configuration/analyzer_config.json#L3656).
Plus, you should instruct IntelOwl to download the new repo [here](https://github.com/intelowlproject/IntelOwl/blob/master/api_app/analyzers_manager/repo_downloader.sh).

So there is no python code neede

[2021-12-09 09:01] #428 closed

[2021-12-09 09:59] #709 closed

[2021-12-09 15:29] uzair-ali10 commented on #323
Hey, can anyone clarify what part of this issue is solved and what needs to be implemented more?

[2021-12-09 16:24] CypherpunkSamurai commented on #782
Sure. Thank you for your help, I'll do my best 😄

[2021-12-09 19:23] CypherpunkSamurai commented on #782
Hello Sir, I've made a few changes and proposed a PR. Please review it and advise if changes are necessary :)

[2021-12-09 20:14] CypherpunkSamurai commented on #505
Hello Sir, would you mind if it work on this issue as well? I've worked with python3 as well as golang projects, I feel comfortable with the issue requirements.

[2021-12-10 08:17] eshaan7 commented on #440
Hi, @fear-the-reaper. Any progress update ? are you still interested in working on this issue ? You can ask questions on the slack chat if you need help with anything.

[2021-12-10 08:32] eshaan7 commented on #505
Go ahead, @CypherpunkSamurai. Feel free to ask questions on the [Honeynet slack chat](https://gsoc-slack.honeynet.org/) (channel: `#2021-intelowl`).

Basically,
- you should clone the latest version of onionscan and compile it as a standalone executable that does not require golang to be installed to use.
- put the binary inside `configuration/` folder of IntelOwl.
- read through the [contribution

[2021-12-10 10:03] CypherpunkSamurai commented on #505
Sure thing. Thank you :)

[2021-12-10 18:05] CypherpunkSamurai commented on #505
Hello everyone, I had a few questions.

I think adding precompiled x86, amd64, and arm64 arch binaries for Win, Linux, and MacOS would make the repo bulky. Can we utilize any bootstrap script that would download pre-compiled binaries from github?

[2021-12-11 06:51] fear-the-reaper commented on #440
I've gotten busy with my university projects and final exams so right now I haven't done anything. Really sorry!

[2021-12-11 07:57] uzair-ali10 commented on #440
So I should take up this issue?

[2021-12-11 08:06] fear-the-reaper commented on #440
Yeah sure no problem.

[2021-12-12 13:45] 0x0elliot commented on #722
I haven't been able to figure out where the API authentication token for https://www.capesandbox.com/ is? I looked through the documentation and couldn't find anything myself. I have gotten my account verified for context. Anyone else try their hand here and see if they can help?

[2021-12-12 17:21] CorraMatte opened #797 "Error with "Yara_Scan_Custom_Signatures" in documentation"
Hi guys,
I was trying to create a configuration for some custom Yara signatures as explained in the official documentation (https://intelowl.readthedocs.io/en/latest/Usage.html#example-add-an-analyzer-configuration-for-your-own-yara-signatures), but I got some errors.

I managed to configure it properly, adding some missing required fields and removing a syntax error.
This is the final configurati

[2021-12-13 05:44] 0x0elliot commented on #714
I will free this issue up till I get CAPE sandbox to work. Due to the API limit as well which would restrict my testing, I would like to postpone this to later.

[2021-12-13 05:47] 0x0elliot commented on #733
Can I take this issue up? From the looks of it, I might need to add minor changes to the backend and IntelOwl-ng (And probably PyIntelOwl)

Any guidance before I proceed?

[2021-12-13 10:45] mlodic commented on #722
Hi @kevoreilly , really appreciated! I'll ask now on Twitter too so I can help with the integration!

[2021-12-13 11:40] mlodic commented on #797
hey,

yeah that documentation was not updated correctly after the changes we made for the IntelOwl v3 major release.

I'll update the docs with your example. (or if you prefer become one of the contributors, you can submit a PR with your changes so you get the credit)

thank you!

[2021-12-13 11:49] mlodic commented on #733
yep you are right, this involves all the projects.

I would suggest starting from the backend then the python client and lastly the frontend.

This would probably be another flag the application should receive once it receives analysis requests from the user. (https://github.com/intelowlproject/IntelOwl/blob/master/api_app/api.py#L36)

[2021-12-13 11:55] CorraMatte commented on #797
Perfect, I'll create the PR

[2021-12-13 15:24] 0x0elliot commented on #722
Matteo, you can use my account too! I don't plan on reusing it anyway.

[2021-12-13 17:48] mlodic opened #798 "add Malpedia Yara rules"
similar to #782

 https://github.com/malpedia/signator-rules/tree/main/rules

The problem is that this repo contains a lot of rules, so we should think about how to properly manage them.
We should solve the issue #741 before.

This problem has a high priority

[2021-12-14 17:00] mlodic commented on #733
I think it makes sense.

There is a [serializer](https://github.com/intelowlproject/IntelOwl/blob/master/api_app/analyzers_manager/serializers.py#L32) which manages the data extracted from that JSON file.

[2021-12-15 14:51] mlodic commented on #722
https://capev2.readthedocs.io/en/latest/usage/api.html?highlight=api

You just need to call `curl -d "username=<USER>&password=<PASSWD>" https://capesandbox.com/apiv2/api-token-auth/` with your credentials and you'll get the token to use.

Then the documentation and the examples of the API are [here](https://capesandbox.com/apiv2/)

[2021-12-15 18:20] 0x0elliot commented on #733
Thanks! Looking into this.

[2021-12-15 19:12] CypherpunkSamurai commented on #505
Update:
I don't think binaries for Win and MacOS are required as the deployment is container only (I didn't find any manual deployment method in the docs so I'll assume).

That leaves us to architecture. I assume they will use amd64 docker host so I will download the binary using `repo_downloader.sh` script.

[2021-12-15 20:45] CypherpunkSamurai commented on #569
Hello Sir, Can I work on this issue please? :)

I have a basic understanding of file signature checks and PE signature checks, and I would like to know it better.

[2021-12-16 08:29] mlodic commented on #505
We cannot download the binary from you personal repo. Please just embed it to the application itself.

Then amd64 is ok but we just need to remember to explicitly state this problem in the description/documentation of the analyzer. In this way people know the constraints before using the analyzer.

[2021-12-16 09:56] mlodic opened #804 "add Github action tests to check if the sphinx build did work before releasing"
Right now, a bug to a dependency for the docs caused the build of the docs to fail in ReadTheDocs.

I noticed it before making a new release randomly. We need to have an automatic and reliable way to check if the docs will work in the releases just before creating them.

[2021-12-16 11:16] #782 closed

[2021-12-16 11:17] CypherpunkSamurai commented on #505
Sure. I was also thinking adding my external repo executable would be a security issue. I'll make sure to add it in the next PR. There's another option, we can use gobinaries.com.

Ok. I will make sure to document that onionscan is x64 only and user should compile it themselves for other architectures.

[2021-12-16 11:18] CypherpunkSamurai commented on #798
Hello sir, would you mind if i work on this issue please? :)

[2021-12-16 11:50] CypherpunkSamurai opened #807 "Add `log4j_scanner` module to check for `log4shell` vulnerability"
[Log4shell](https://www.rapid7.com/blog/post/2021/12/14/using-insightvm-to-find-apache-log4j-cve-2021-44228/) is wrecking havoc right now expanding from Minecraft servers to other 3 billion devices, it would be nice if we add a log4shell scanner to check for security issues in our network.

Scanners available:
https://github.com/logpresso/CVE-2021-44228-Scanner
https://github.com/fullhunt/log4j-sc

[2021-12-16 11:53] mlodic commented on #807
Even if it makes sense, this is out of scope of the project.

IntelOwl does not provide scan features. Otherwise we would have already added other generic vulnerability scanners.

[2021-12-16 11:53] #807 closed

[2021-12-16 18:30] 0x0elliot commented on #722
Thanks!

[2021-12-18 18:43] CypherpunkSamurai commented on #505
Hello Sir, I'm having trouble understanding why [this line](https://github.com/CypherpunkSamurai/IntelOwl/blob/b8ce2fc7477fdb53fe333962cb766bbacc32d2d8/api_app/analyzers_manager/observable_analyzers/onionscan.py#L47) is not working during the [tests ](https://github.com/intelowlproject/IntelOwl/runs/4553843215?check_suite_focus=true).

The module is supposed to run onionscan binary and wait for ou

[2021-12-18 19:34] sp35 commented on #505
@CypherpunkSamurai use `monkeypatch` for it

[2021-12-18 19:36] CypherpunkSamurai commented on #505
Oh. Thanks for the tip 😄

[2021-12-19 05:27] alexmartz001 opened #808 "Http failure response for"
After installing, and following the steps of https://intelowl.readthedocs.io, when executing an analysis it shows a
Scan Request Failed error
Http failure response for http://x.x.x.x/api/analyze_observable: 500 Internal Server Error (undefined: undefined)

After reviewing the dashboard you see a job but if results, when deleting the job it shows another error

Job # 1
![2](https://user-images.gith

[2021-12-19 10:51] CorraMatte commented on #797
Here the PR https://github.com/intelowlproject/IntelOwl/pull/809

[2021-12-22 10:41] mlodic commented on #808
hey, thank you for reporting this.

We need the raw logs to understand the problem behind and if it is related to the application or the deployment.

To share them, please go in `/var/lib/docker/volumes/intel_owl_generic_logs/_data/django` and send us the content of the files called `*_errors.log`. If you think they may contain sensitive content, you have two options: either you clean the sensitiv

[2021-12-22 15:12] CypherpunkSamurai commented on #741
Can we compile rules in batches and priority? like a .exe file would load common .exe yara rules first, a Linux binary would load Linux yara rules. we can use the `file <file>` command for checking file types.

After completing a scan for a batch we destroy the instance.

[2021-12-22 17:22] CypherpunkSamurai commented on #798
Hello Sir, as there are issues regarding mass importing of Yara rules I'll make a draft PR for now and add the Malpedia rules.

[2021-12-23 07:57] #797 closed

[2021-12-23 18:21] CypherpunkSamurai commented on #505
Hello everyone,
I'm having a little problem getting the monkey patch to work with `subprocess.Popen`. I tried setting up a simple Popen class in a new py file on my local machine and it works but when I try the similar patch with the IntelOwl module it doesn't work.

Can anyone please point out what I might be doing wrong? :)

Mock implementation at ([L96](https://github.com/CypherpunkSamurai/Inte

[2021-12-24 09:33] 0ssigeno opened #814 "[Analyzer] WAD"
We can retrieve more information about the infrastructure behind a domain using [WAD](https://github.com/CERN-CERT/WAD).

Since it is actually contacting the domain, we should add the `leak_info` flag in the configuration.

[2021-12-24 09:50] mlodic commented on #814
Good catch but we do not usually integrate tools that actively scan a target in IntelOwl.

This is because IntelOwl is not a tool that should be used for perfroming reconnaissance of a target. There are plenty of other projects that do that better and this has never been its main goal. I have already closed other similar issues.

However I understand that the framework completely supports these us

[2021-12-27 01:35] alexmartz001 commented on #808
Thanks for your support, I have checked the configuration and the logs but
I have not been able to solve the problem, I send you the files from the
indicated directory

On Wed, Dec 22, 2021 at 5:41 AM mlodic ***@***.***> wrote:

[2021-12-31 01:47] serpaldom opened #816 "Results report"
Hello to all of you
I would like to ask if there is a way to visualize the data, provided by the different analyzers configured in InteOwl, in a more visual or comfortable way, that I don't know at the moment.

Thank you very much

Best regards!

[2022-01-01 15:42] mlodic commented on #569
Updates on this?

[2022-01-01 15:54] mlodic commented on #816
At the moment there is no way except the JSON visualization. (Well there is the [ElasticSearch](https://intelowl.readthedocs.io/en/latest/Advanced-Usage.html#elastic-search) integration with the Kibana GUI but I do not think this is what you are looking for because you would look at the data outside from the actual web application.)

IntelOwl saves you the time to retrieve all these data from diff

[2022-01-01 16:57] mlodic opened #817 "[analyzer] Integrate Greedybear from The Honeynet Project"
We are working to provide a service that could be integrated in IntelOwl like classic observable analyzers.

We should first solve this [open issue](https://github.com/honeynet/GreedyBear/issues/12)

[2022-01-02 05:36] CypherpunkSamurai commented on #569
I've completed implementing `Dhashicon` module on my local machine, I'll be working on `ImpFuzzy` next and push a draft commit.

[2022-01-03 07:39] serpaldom commented on #816
Hi mlodic
First of all, happy new year and best wishes for this year.

I think it would be a good idea to include the following, where possible:
1. Scanning several observables in the same job. (Example: scan 4 differents IP like 8.8.8.8,4.4.4.4,3.3.3.3,2.2.2.2)
2. Possibility of previewing, within a job, in the "Analyzers reports" section, the result of an API. For example, categorise as: Malicio

[2022-01-03 10:40] mlodic commented on #816
thanks for the wishes! same to you!

About your suggestions:

1- we have an opened issue regarding that (#732). We will implement this soon.
2- this would require the application of s
3- PDFs can also be great for exporting results from the platform. We will evaluate this addition
4- the JSON data can already be exported manually.
If you click on the button "<>" in the job result view:
![image](ht

[2022-01-03 10:46] mlodic commented on #816
EDIT: I have added point 2 that was only a draft

[2022-01-03 10:48] mlodic opened #830 "[feature] export jobs result in different formats"
We could add a button or something like that the user can leverage to download a Job result in different formats like:

* raw JSON
* PDF
* MISP
* STIX
* etc

[2022-01-04 17:44] mlodic opened #833 "[analyzer] Cuckoo3"
https://github.com/cert-ee/cuckoo3

First Cuckoo 3 public instance: https://cuckoo-hatch.cert.ee/

This analyzer should support also private intances and no-https deployments.

This is the list of the API endpoints I found from some slides. (There is lack of documentation right now)
[code]

[2022-01-07 15:03] devmrfitz commented on #779
@eshaan7 What is the expected behaviour then? I'd like to work on this issue

[2022-01-07 17:08] mlodic commented on #779
We need to find a trick to allow developers to do not execute that line (consumes network resources and time) each time they build an image. Right now there is no other way that commenting that line and then remember to uncomment it before pushing a Pull Request. That is obviously not practical.

[2022-01-07 19:52] devmrfitz commented on #779
Should we set an environment variable that denotes a development environment (and pass the same into the Dockerfile through start.py) ?

[2022-01-08 18:27] devmrfitz commented on #779
Or maybe we could set up a multi-stage build process where the repo_downloader script runs at the very last stage. For development, we won't need to build this stage itself.

@mlodic Should I try to implement one of these approaches and make a PR?

[2022-01-08 18:36] devmrfitz commented on #804
We can create a test that gets triggered based on [releases](https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#release). Should I make a PR to that effect?

[2022-01-10 09:02] mlodic commented on #779
This could work when working on a local environment. But care: the same Dockerfile is used for automatic builds in [DockerHub](https://hub.docker.com/repository/docker/intelowlproject/intelowl) too. So, arguments must be handled carefully to allow it work there too.

I am not sure that this would work.

Sure, you can make some tries to see which one works. Thanks

[2022-01-10 09:37] mlodic opened #840 "some analyzer are missing the monkeypatch and so the tests"
- [ ] https://github.com/intelowlproject/IntelOwl/blob/master/api_app/analyzers_manager/observable_analyzers/cymru.py
- [x] https://github.com/intelowlproject/IntelOwl/blob/master/api_app/analyzers_manager/observable_analyzers/mb_google.py
- [x] https://github.com/intelowlproject/IntelOwl/blob/master/api_app/analyzers_manager/observable_analyzers/tor.py
- [x] some docker-based analyzers like Thug

[2022-01-10 09:44] eshaan7 commented on #779
A very simple approach would be to define an `ARG` (build argument) only in the `test.override.yml` file and then in the `Dockerfile` we add an if statement check to only execute the `repo_downloader.sh` if this `ARG` was set.

We can even avoid having to set a new `ARG` and just use the existing `DEBUG` and `DJANGO_SERVER` environment variables but that is not very intuitive.

[2022-01-10 09:48] eshaan7 commented on #840
1. Did not specify monkeypatch in `cymru` and `tor` because I thought we wanted to _actually_ check that the tor downloader works. But yeah we can add them.
2. The monkeypatch in `mb_google` comes from `mb_get` via class inheritance.
3. The monkeypatches are not defined individually in docker based analyzers instead it is defined only once in the `DockerBasedAnalyzer` base class.

[2022-01-10 09:53] mlodic commented on #840
thanks for the explanation. I think that we can consider tor and cymru like the others and mock them. I'll keep the issue open so.

[2022-01-10 10:25] mlodic opened #842 "optimize number of docker-based analyzers."
ATM [these](https://intelowl.readthedocs.io/en/latest/Advanced-Usage.html#optional-analyzers) are too many to be executed all together. As we have already done for the `static_analyzers` container, we should group some of them together, at least the ones that share something.

The first idea could be to merge `box-js` and `apk_analyzers` inside the `static_analyzers` image and then rename this one

[2022-01-10 10:36] eshaan7 commented on #842
I agree.

[2022-01-10 10:47] eshaan7 commented on #842
Going forward we can have 3 category of these integration containers:
- all tools that can be installed in a local-only manner (no external dependency on a daemon or API) which should be added to the `malware_tools_analyzers`
- tools that just work completely differently like rendertron and cannot be combined with any other
- TOR/darkweb/crypto/etc tools should be added to a new integration by the

[2022-01-10 15:29] 0ssigeno opened #843 "New analyzer - Cyberchef"
It is possible to have an instance of a [cyberchef server](https://github.com/gchq/CyberChef-server) and talk through it via API.
We could have this an external analyzer in IntelOwl, allowing users to write, or import, their recipes.
This can be useful to extract malicious payload from malwares, like it was made in this [repo](https://github.com/mattnotmax/cyberchef-recipes#recipe-61---extract-sec

[2022-01-12 06:00] eshaan7 opened #847 "New connector - Maltego"
https://www.maltego.com/

https://github.com/paterva/maltego-trx
https://github.com/cmlh/MaltegoTransform-Python
(not sure if these libraries are what we want)

----------------
Note: may or may not be "beginner-friendly"

[2022-01-12 07:00] devmrfitz commented on #804
@mlodic Should we mark this issue as resolved?

[2022-01-12 11:44] devmrfitz commented on #779
@eshaan7 If the ```--django-server``` flag is present, as indicated [here](https://intelowl.readthedocs.io/en/latest/Contribute.html#how-to-start-setup-project-and-development-instance), it executes ```django-server.override.yml```, instead of ```test.override.yml```. Hence, I have added the argument in that file too

[2022-01-12 13:15] devmrfitz commented on #779
@eshaan7 If the ```--django-server``` flag is present, as indicated [here](https://intelowl.readthedocs.io/en/latest/Contribute.html#how-to-start-setup-project-and-development-instance), it executes ```django-server.override.yml```, instead of ```test.override.yml```. Hence, I have added the argument in that file too

[2022-01-12 18:00] CypherpunkSamurai commented on #847
Hello Sir, I've been an OSINT CTF player in the past and I feel interested in working on this issue. Can I please work on this?

[2022-01-12 18:32] kx499 commented on #816
I just started playing with the project and I was actually wondering something similar - if there was a way visualize the # of meaningful results returned and highlight the ones you may want to focus on first. I get the bias comments, but maybe gear it more towards highlighting actionable data and less around a verdict on maliciousness.  I've seen something like this done with standard summary sec

[2022-01-13 06:15] v3daxt commented on #808
I am having the same issue when I try to run Intelowl with elastic and kibana.. And when I set elasticsearch=False in env file, Intel owl works normally. But I need to run both intelowl and kibana

[2022-01-13 09:55] #804 closed

[2022-01-13 10:35] mlodic commented on #847
you have already 3 open PRs. We will assing you other issues once all of those are finished.

[2022-01-13 10:43] mlodic commented on #808
do you mean `ELASTICSEARCH_ENABLED` to `True`? Did you populate `ELASTICSEARCH_HOST` too?

[2022-01-13 10:57] mlodic commented on #816
Thank you for your suggestion.

Yeah, if I am correct that is a screen from Cortex.

If I think about this specific example, it makes completely no sense to me. Only because there are records in AbuseIPDB would it mean that an observable is malicious? And if there are not is it safe?

I mean, all threat analysts could agree that this is completely wrong and it is an over simplification of the prob

[2022-01-13 11:35] v3daxt commented on #808
Yes `ELASTICSEARCH_ENABLED=True` & `ELASTICSEARCH_HOST=localhost:9200`

[2022-01-13 12:35] v3daxt opened #849 "Intelowl & MISP integration health failed"
I need to feed my IntelOwl data to MISP. I am running both of them on two different kali machines since both of them are using docker and can not be used on same machine.

I have done following configurations on `connector_config.js` and `env_fle_app` file for MISP connector
[code]

I am not sure what MISP_URL should be set since my MISP instance is running on different vm machine
In intelowl I  a

[2022-01-13 16:15] CypherpunkSamurai commented on #847
Ok Sir 👍🏼

[2022-01-15 19:30] mlodic commented on #808
Ok I think it does not work because of the `ELASTICSEARCH_HOST` point to localhost.

IntelOwl is running in containers. This means that if you point to localhost you are pointing to the container itself: if you have an ElasticSearch instance running on the same server, that won't work.

This was a use case we did not considered. We assumed that the users would have pointed to an external ElasticSe

[2022-01-15 20:05] CypherpunkSamurai opened #851 "New Analyzers - Osint.sh Toolkit"
I feel like we can add another cool OSINT tool to IntelOwl.

[Osint.sh](https://osint.sh/) is a cool website with a large collection of useful tools. I'm thinking if we should add:
* Subdomain Finder - The fastest way to discover subdomains in your DNS recon.
* DNS History - View all DNS historical records for a specified domain name.
* Reverse Name Server - Reveal all domains that use the same na

[2022-01-16 09:49] CypherpunkSamurai commented on #830
Hello Sir, I had a question, Is this meant only for the webui or do we need to add the output converter to overall api?

[2022-01-17 08:35] mlodic commented on #851
Yeah but have you checked the API section?

![image](https://user-images.githubusercontent.com/30625432/149734922-baa50a99-590b-4fec-973b-085fd2d076d5.png)

I don't think it is feasible so :/

[2022-01-17 08:35] #851 closed

[2022-01-17 09:13] mlodic commented on #830
The frontend does talk with the same API that can be used by the command line interface.

So, usually the steps should be:
* add support of this feature in the backend (Django API)
* leverage the new or modified API in the frontend (GUI)
* leverage the new or modified API in the CLI (pyintelowl)

ATM we are working on the complete rework of the GUI (should be ready for the GSoC) so we do not sugge

[2022-01-17 12:56] devmrfitz commented on #779
@mlodic can this issue be closed now?

[2022-01-17 13:12] mlodic commented on #779
yep, consider that once we have linked it to the PR it will be automatically closed once the commit reaches the `master` branch

[2022-01-17 13:12] #779 closed

[2022-01-17 13:13] mlodic commented on #779
solved in #848

[2022-01-17 13:15] devmrfitz commented on #779
I missed that the PR had been linked. Thanks @mlodic for pointing that out

[2022-01-17 13:17] devmrfitz commented on #774
@mlodic I would like to work on the first 2 subtasks. If it goes well, I'll then take up the 3rd subtask too

[2022-01-17 20:21] r-whitt opened #852 "Unable to Create Superuser on Fresh Install. Can't login initially"
Forgive me if this has been covered somewhere else. I am new to IntelOwl. I tried to follow the IntelOwl's docs <https://intelowl.readthedocs.io/en/latest/Installation.html#users-creation> and I also watched the linked YouTube video <https://www.youtube.com/watch?v=GuEhqQJSQAs>.

I appreciate everybody's help with this! Please let me know if you need anything else and I will be happy to get it for

[2022-01-18 08:48] mlodic opened #854 "Add Issue Template"
We need to get inspiration from another famous project and add it to IntelOwl

[2022-01-18 08:50] mlodic opened #855 "updated Youtube video on how to install / use IntelOwl after the major version 4.0.0"

[2022-01-18 09:16] mlodic commented on #852
hey @r-whitt , thanks for reporting this and for your interest in IntelOwl. Your report is extremely useful for debugging the issue.

* are you sure that `POSTGRES_PASSWORD` in `docker/env_file_postgres` and `DB_PASSWORD` in `docker/env_file_app` are the same?
* in the logs you sent me, it was not the first time that you have run IntelOwl because the DB was already initialized. Is it possible that

[2022-01-18 10:12] eshaan7 commented on #440
**Update:**

Reference to: https://github.com/intelowlproject/IntelOwl/issues/440#issuecomment-988828006.

The file analyzer was created but observable analyzer still remains. Feel free to ask to be assigned to work on it.

[2022-01-18 16:12] CypherpunkSamurai commented on #851
I noticed the WebUI has no captchas and rate-limiting as of now. Is it ok if we use their webapi?

![image](https://user-images.githubusercontent.com/66906402/149974929-05c798e9-8e3a-4f35-963c-71ab2bb8c614.png)

[2022-01-18 17:12] mlodic commented on #851
honestly I do not like to extract the data programmatically from a GUI because it was not made for it and it is most probably an abuse of the service

[2022-01-18 17:15] CypherpunkSamurai commented on #851
Ok, Sir, I totally understand, and I feel the same.

[2022-01-19 02:22] r-whitt commented on #852
Hey @mlodic,
You're a genius! Apparently, I did either initially mess up my password or change it after. Cleaning it up using your command worked.

Thank you again. I really appreciate your quick reply and help.

Have a good day!

[2022-01-19 02:22] #852 closed

[2022-01-20 15:41] Yshaq commented on #440
Hey, I'd like to work on this issue and add the observable analyzer. I've gone through the project code and I think I'll be able to implement it.

[2022-01-21 09:51] eshaan7 commented on #842
`tor_analyzers` integration was added in #505.

[2022-01-21 12:41] #440 closed

[2022-01-21 19:45] devmrfitz commented on #170
@mlodic I'd like to work on this. Should the RADIUS server credentials be taken from env files? Also, do we need to accept whether the user is a staff or superuser from the remote radius server?

[2022-01-24 08:17] mlodic commented on #170
hey. I think it should be more configurable as possible. See how it is handled LDAP authentication [here](https://intelowl.readthedocs.io/en/latest/Advanced-Usage.html#authentication-options). The concept should be pretty similar. Use an external django library, provide a template and documentation to let the user configure it.

I think it makes sense to make RADIUS staff and superuser to Django s

[2022-01-26 17:33] devmrfitz commented on #170
@mlodic Have made PR #867 that adds RADIUS auth

[2022-01-26 17:42] devmrfitz commented on #808
@mlodic This method of spinning an elasticsearch container could be helpful in GreedyBear too as ElasticSearch is its compulsory dependency

[2022-01-26 17:54] mlodic commented on #808
Yeah but they are 2 different use cases:
* IntelOwl allows to store and leverage ElasticSearch as an _additional_ way to analyze and manage IntelOwl data. So its usage is optional. (We could create an issue regarding the addition of ElasticSearch as I mentioned)
* in Greedybear we *need* an ElasticSearch instance, specifically a T-POT ElasticSearch instance. When not having this option  (for examp

[2022-02-01 13:30] 0x0elliot commented on #854
For reference, We can take a look at [CTFd](https://github.com/CTFd/CTFd/issues/new). Their template looks like this:

[code]

Another cool thing that I noticed was [MobSf](https://github.com/MobSF/Mobile-Security-Framework-MobSF/issues/new/choose)'s issue tab:

![Screenshot 2022-02-01 at 6 57 39 PM](https://user-images.githubusercontent.com/60684641/151977010-e77df9c2-450c-43f0-8c4d-1dd0e1ec5dcf.

[2022-02-02 19:57] devmrfitz commented on #808
@mlodic I've made PR #874 for this. Please have a look

[2022-02-03 10:17] mlodic opened #875 "add msodde tool to Doc_Info analyzer"
See: https://github.com/decalage2/oletools/wiki/msodde

We should add this tool in the pipeline of tools to run to detect anomalies in Office files.

Follow this thread in [Twitter](https://twitter.com/decalage2/status/1488481984242462728) to get more details on real use cases (also for testing the solution)

[2022-02-03 12:01] mlodic opened #876 "Remove non-standard library dependency in start.py script"
With the #848 we unwillingly added a new dependency that is not included in the python stardard library

[code]

We do not want to include this additional library as a requirement because it complicates the installation. We need to refactor this code before deploy a new version

[2022-02-03 12:15] eshaan7 commented on #876
This change was already included in the [v3.2.4 release](https://github.com/intelowlproject/IntelOwl/blob/master/.github/CHANGELOG.md#v324).

[2022-02-03 13:30] mlodic commented on #876
oh no 🥲

[2022-02-03 13:30] mlodic commented on #876
I guess we'll need to push a patch soon

[2022-02-03 13:41] mlodic commented on #876
However I am thinking about the fact that in the future we could need also other libraries and we cannot just avoid to installing them for this reason.

So I was thinking that an alternative could be to provide a bash script that would install the already existing requirements, plus the additional python requirements in case (like `dotenv`. It could be interactive and it could check if there is al

[2022-02-03 13:49] 0x0elliot commented on #433
Why was the idea of storing `analyzer_config,json` in the database dropped? What exactly kept going wrong? it seems like a feasible thing to do in theory.

[2022-02-03 18:52] 0x0elliot commented on #722
@kevoreilly hey Kevin!

I noticed that whenever I was uploading a file using the API, it seemed stuck at `pending` while when I uploaded it through the GUI at https://www.capesandbox.com/analysis it moved from `pending` to `running` quicker.

Is there something regarding this that you're aware of? I have pretty much finished this one.

[2022-02-03 18:54] kevoreilly commented on #722
Hmm the only thing I can think of is that there have recently been issues (now should be fixed) that caused jobs to get stuck in pending - although it shouldn't be different for api to web ui... Is this something you have noticed recently on capesandbox.com?

[2022-02-03 18:58] 0x0elliot commented on #722
If I remember correctly, Then yes it does seem like an issue I have noticed recently. My test image of the md5 hash `98d435933b2322d4c8e8b09c0be9080b` which was uploaded through the APIs has been stuck since `Feb. 3, 2022, 3:33 p.m.` (Official mentioned time. It should be 7 PMish now for reference for whichever timezone it is using as a reference.)

[2022-02-04 09:10] devmrfitz commented on #876
@mlodic I was not aware of the restriction on third-party libraries. I apologise for this mishappening. However, I added the package in ```requirements.txt```. Won't the package automatically get installed when ```RUN pip3 install --no-cache-dir --compile -r requirements.txt``` is run (from ```docker/Dockerfile```.

[2022-02-04 09:15] mlodic commented on #876
noproblem man, was my fault during the review, not yours.

I saw that, the problem is that this is a requirement for the startup script. When you run IntelOwl, you do not need to install those requirements because they were already installed in the image that do not need the `dotenv` package. So, `dotenv` should be removed from requirements.

[2022-02-04 09:17] mlodic commented on #876
I mean, with the actual configuration, we would need to add that package to the initial requirements [here](https://intelowl.readthedocs.io/en/latest/Installation.html#requirements). That is bad because it would slow down the installation process

[2022-02-04 09:21] devmrfitz commented on #876
@mlodic Oh. Got it. Just to reiterate, we are free to add new packages inside the docker container but adding additional imports in ```start.py``` lengthens the manual installation process?

[2022-02-04 09:26] mlodic commented on #876
well, completely free no because we need to consider multiple factors before adding new dependencies. Is it a good written and maintained dep? Do we really need it?

Then yes, it is really important to keep the first installation clean and easy. Adding new dependencies there is not a good thing. So, as I suggested, we could create a script to guide the users through this step. This would be really

[2022-02-04 09:28] devmrfitz commented on #876
@mlodic If we plan to support adding dependencies, one thing we could do is that we run ```subprocess.check_call([sys.executable, "-m", "pip", "install", "-r", "requirements.txt"])``` and then start importing packages. This would function as the script you are mentioning without the user having to prompt ```Y``` multiple times.

[2022-02-04 09:49] mlodic commented on #876
The script I mentioned was to help to install also the other already required packages, like docker.

Then, honestly I do not like to add subprocess calls to the startup script. This opens the chance to potential vulnerabilities and side effects.

So if, meanwhile, we would like just to solve this specific problem, I think it is enough to:
* create another requirements file only for the initial sc

[2022-02-04 09:51] devmrfitz commented on #876
@mlodic I see the flaw in the approach I mentioned. Both of your approaches (the script and the new requirements file) seem good. Which one would you prefer me to implement?

[2022-02-04 09:54] mlodic commented on #876
your choice, one does not exclude the other

[2022-02-04 09:59] devmrfitz commented on #876
@mlodic We would have to edit [here](https://intelowl.readthedocs.io/en/latest/Installation.html#run) too, right?

[2022-02-04 12:40] 0x0elliot commented on #722
Yup seems like the "pending" issue has been taken care of. Fewer files are pending and the queue is moving smoothly. Thanks Kev!

[2022-02-05 14:55] 0x0elliot commented on #628
I have been thinking about this issue. The one problem I always tend to get stuck on is how would you let the users parse the varied API responses safely.

## 1. Problem one:
What I mean is:

One analyzer might return something like: `{"necessary_data" : "important", "data_not_required_for_this_playbook" : "junk"}`

To pass this on to the next analyzer, we would require letting people be able to s

[2022-02-07 10:10] mlodic commented on #628
I really love your participation.

First, to be more clear, in my comment I suggested 2 levels ("playbooks", first one, and "investigations", second one): we also split this issue here https://github.com/intelowlproject/IntelOwl/issues/680. So, in some way, I think it could be possible to tackle one issue at a time. First, the "easier" playbooks, then the investigations.

The "investigation featur

[2022-02-08 15:35] Yshaq commented on #875
Hey, can I pick up this issue?
I was able to get a list of DDE links from a csv file on a scan by just passing the filepath to the msodde.process_maybe_encrypted() function.
I need to look into cases when the file is encrypted though.

[2022-02-08 19:16] 0x0elliot commented on #628
Thank you for the clarification Matteo! I think I confused myself between what a "Playbook" was in here and what an "Investigation" was.

So basically,
- "Playbooks" are **just** supposed to be a collection of similar analyzers and connectors to be run. This seems simpler to implement.

- "Investigations" are supposed to run these playbooks one by one in a sequence to not only compile and capture

[2022-02-09 08:32] mlodic commented on #628
exactly!

[2022-02-09 15:12] mlodic opened #880 "Move requirements files from main directory to specified folder"
To reduce the number of items in the main directory

[2022-02-09 15:44] mlodic opened #881 "[React new Frontend] New GUI based on ReactJS and certego-ui package"

[2022-02-09 16:45] mlodic opened #882 "Correctly manage docker-analyzer dependencies"
Right now we rely on Dependabot to keep updated the high number of dependencies of this project.

Dependabot works by reading through "requirements" files that are standards of the chosen language (ex: "requirements.txt", "pyproject.toml", etc)

I noticed that there are some Docker-analyzers where we hardcoded some dependencies directly inside the Dockerfile. This causes the Dependabot to do not r

[2022-02-10 04:52] Yshaq commented on #882
Hey, can I be assigned this issue?
I'd like to work on it along with issue #842

[2022-02-10 07:14] #505 closed

[2022-02-10 08:59] mlodic opened #884 "Add DRF Throttling to Admin Login Page"
This is to protect it from abuse

See: https://www.django-rest-framework.org/api-guide/throttling/#api-reference

[2022-02-10 10:34] eshaan7 commented on #884
The admin page is part of django core and not django-rest-framework so DRF's throttling mechanism _probably_ cannot be used here.

[2022-02-10 10:47] Yshaq commented on #882
For this issue, since I just have to remove the 2 installation lines from dockerfile and add the packages to requirements.txt,
would a single PR be good for this issue and #842 together, or should I make a seperate PR for this one first?

[2022-02-10 10:49] mlodic commented on #882
as you wish...anyway you can separate them without problems

[2022-02-10 10:53] eshaan7 commented on #628
I like how well you articulated the potential issues/considerations that have to be taken care of as we implement this feature. These are issues that I have thought of already but were at the back-of-my-mind and did not get time to publicly explain here - but you did a great job so kudos for that.

Backend.

A `playbook_configuration.json` with it's own set of dataclass, serializer and view classe

[2022-02-10 10:54] Yshaq commented on #882
Ok i'll make a PR for this one then coz the other one will probably take longer to finish

[2022-02-10 11:07] Yshaq commented on #842
Hey, please assign this issue to me, working on it with #882

[2022-02-10 15:43] devmrfitz commented on #884
I'd like to work on this issue.
Before I saw @eshaan7's comment, I was looking into [https://github.com/jazzband/django-axes](https://github.com/jazzband/django-axes) to solve this problem as it also provided [some additional features](https://github.com/jazzband/django-axes#functionality). But you're also right in the fact that the nginx method would prevent the need for another dependency.

Whic

[2022-02-10 16:31] mlodic commented on #884
I guess nginx is the simplest and could be enough

[2022-02-10 16:35] devmrfitz commented on #884
Alright. Should bursts (2 requests within the same time window, say 100 ms) be allowed?

[2022-02-10 16:56] mlodic commented on #884
if the time windows is such low I'd say no

[2022-02-10 17:00] Yshaq commented on #708
Hey, I'd like to pick up this issue.

Installing capa directly from pip won't work because that doesn't set up the default library identification signatures. This way, we would have to somehow download the sigs folder from the [capa repo](https://github.com/mandiant/capa) and also modify the capa command being run.

What I'm thinking of doing is cloning the capa repo, and then [installing capa wit

[2022-02-10 20:14] devmrfitz commented on #830
@mlodic We need the endpoint(s) which can present [this](https://intelowl.readthedocs.io/en/latest/OpenAPI.html#get--api-jobs-id) data in the various formats, right?

[2022-02-11 09:11] mlodic commented on #708
Yes, remember that it is important to bring proof of a successful result so we can clearly understand that this method works! Thanks!

[2022-02-11 10:08] mlodic commented on #830
yeah

[2022-02-12 21:35] un-fuf-a-doo commented on #144
I can help with number 4, I know Graylog inside and out in regards to setting it up and bringing in data. It wouldn't be that different than what you did for Elastic, except Graylog accepts a long list of input types, including raw JSON. Think of it like outputting to an external syslog.

[2022-02-13 07:32] 0x0elliot commented on #628
Thanks for clearing things up further! I appreciate it.

[2022-02-13 19:25] 0x0elliot commented on #733
Hey @mlodic! I forgot to update you on this back then. I reached out to @eshaan7 separately regarding this issue when I was assigned to it and we came to the conclusion that marking the analyzers as "free" might have been a hassle and some more discussion was needed to be done on moving forward with keeping this feature in mind.

I would appreciate it if we can continue that discussion and see how

[2022-02-14 09:07] mlodic commented on #144
thanks for your proposal @un-fuf-a-doo. As mentioned, we do not know well those technologies so we would need a thorough external help to complete that feature. Also, we would like to understand the use cases of such integration so we can analyze the benefits that it would provide to IntelOwl.

Are you interested in contributing with code/configuration?

[2022-02-14 10:19] mlodic commented on #733
I think that, in some way, this problem could also be solved by the "Playbook" feature #628 (we could pre-load a pre-configured playbook with only the free-analyzers) but that would certainly require more work to solve it.
Meanwhile, we could solve it the easier way we mentioned.

I think that every analyzer which needs an API key/login should not be considered as "free", while all the other yes.

[2022-02-14 15:02] devmrfitz commented on #875
I would like to look into this issue

[2022-02-15 13:07] N0tDaniel opened #892 "Analyzer not working"
Ho installato IntelOwl con le rispettive "requirements.txt", dopo di chè da  django administration ho creato il token come richiesto da manuale e aggiunto le API  all'interno del file "configuration" una volta avviata l'applicazione andando sul pannello principale nessuna delle API precedentemente da me aggiunte vengono rilevate.

![4](https://user-images.githubusercontent.com/42096350/154068016-c

[2022-02-15 13:11] mlodic commented on #892
Ciao, mi dispiace ma credo tu non abbia correttamente letto la documentazione. https://intelowl.readthedocs.io/en/latest/Installation.html#deployment-preparation

[2022-02-15 13:25] #892 closed

[2022-02-15 13:32] mlodic commented on #892
Capisci che se dovessi rispondere a tutte le domande come la tua, non riuscirei a fare altro nella vita :)
La documentazione esiste per un motivo e leggerla prima di fare domande è una forma di rispetto verso i maintainer.

Buon divertimento con IntelOwl :P

[2022-02-15 15:36] N0tDaniel commented on #892
si ho capito, ma come hai scritto quella riga su, potevi benissimo scrivere "vedi che non devi metterla li" ed avrei capito subito il mio stupido errore, in ogni caso grazie lo stesso, la prossima volta vedrò di leggerlo due volte.

[2022-02-16 07:04] devmrfitz commented on #847
I would like to work on this. Is the description of the issue up to date or does something need to be added before I start?

[2022-02-16 09:48] mlodic commented on #847
I have removed `beginner-friendly` because this requires serious understading of how Maltego works. @devmrfitz have you ever tried that tool?

[2022-02-16 17:36] CypherpunkSamurai commented on #847
The description is up to date, you may start working on it as soon as you're assigned :)

As Mr. Mlodic said, you need to have a prior understanding of the Maltego tool and also get an idea of how a new connector would help the project. If you got both of these in check you're good to go! If you get stuck feel free to message here on the issue, or IntelOwl slack :)

alternatively, as a beginner-fr

[2022-02-16 17:54] devmrfitz commented on #847
@mlodic No, I do not have prior experience with Maltego. However, I'm willing to spend the time to figure it out. However, if you feel it would be impractical, I could look into Cyberchef #843, (as @CypherpunkSamurai helpfully pointed me to). What would you recommend?

[2022-02-16 18:22] mlodic commented on #847
this makes sense, that is easier for sure

[2022-02-16 18:54] devmrfitz commented on #843
@mlodic I'd like to work on this

[2022-02-16 19:26] CypherpunkSamurai commented on #843
Hello @devmrfitz! I'm an aspiring contributor just like you, so I thought I'd help you out :)

Here are some tips to get started quickly!
* Clone IntelOwl and run it once on your PC. (you can also use [gitpod.io](https://gitpod.io) to run it if your PC has low resources).
* Make a fork of IntelOwl and go to the `develop` branch and make a new branch from it, and name it something matching the feat

[2022-02-18 14:44] #884 closed

[2022-02-18 15:17] #875 closed

[2022-02-18 15:19] #569 closed

[2022-02-18 15:20] #880 closed

[2022-02-18 15:21] #882 closed

[2022-02-18 15:42] CypherpunkSamurai commented on #569
Thank You Mr. @mlodic and Mr. @eshaan7 for helping me along this issue :)

[2022-02-19 09:28] sbaumgartner75 opened #894 "Rendertron container failing to start due to seccomp file not found"
Hello,

Startup of intelowl_rendertron containers fails as the seccomp file cannot be located.
[code]

Changing compose.yml in integrations/rendertron to read
[code]

instead of
[code]
fixed the issue for me.

[2022-02-19 12:42] 0x0elliot commented on #628
Continuing this thread, I would like to clear up two more things @mlodic and @eshaan7

## The presence of a `python_module`

I feel like a proper `python_module` especially for "playbooks" isn't required. At least from what I understand. I am aware that the serializers defined [expect `python_module` by default](https://github.com/intelowlproject/IntelOwl/blob/5cee175e48dd607efb34ba013e4001798dc43

[2022-02-21 09:22] mlodic commented on #894
Thanks for the report. We are about to make a release today, so I'm gonna fix it now!

[2022-02-21 10:57] #808 closed

[2022-02-21 11:22] mlodic commented on #433
The discussion was complex and I think it is forgotten between PRs and slack....this is what I remember right now, but maybe @eshaan7 has something else to say about:

The `analyzer_config.json` _can_ change over time. This is normal and can happen several times. If we preload this to the database, then, with a new official version of that JSON, we would need to add a way to align the already exis

[2022-02-21 11:30] mlodic commented on #628
I have the same doubts of @0x0elliot. Maybe @eshaan7 could clarify them to us.

imho definitively too much hacky.

I have also said something in the #433 about. I think that, generally, we should start to move away JSON configuration files as much as possible. In my opinion, it would make sense to have the playbooks managed regularly with the Postgres DB. The user would choose which ones to create

[2022-02-21 13:48] lprat opened #898 "Shellcode - Capa & Speakeasy"
Hi,

Can you add possibility to use capa and speakeasy on shellcode ? At this moment, we can only use on PE file (filtered by mimetype: application/x-ms-dos-executable) .

Thanks for your help
Lionel

[2022-02-21 13:56] mlodic commented on #898
Ah yeah, this makes sense. We have just released a new version for IntelOwl with an update for Capa, so please check out if that works with the new version.

Then, the change required is easy and can also be done manually by yourself. (no need to have a new version of IntelOwl).
You can go in the main folder of the project (after having cloned it on Github). Open `analyzer_config.json` and add the

[2022-02-21 14:47] lprat commented on #898
Thank you for this quick response!
I tested on new version 3.3.0 and dont work.

Thank for your tricks.

I tested but speakeasy and capa need to indicate which option to use in shellcode context:
  - speakeayse: https://github.com/mandiant/speakeasy/blob/c94bb629e8ecc1ab00b326b3e2919365c4bbc66d/speakeasy/cli.py#L40-L50
  - capa: "--format sc64" or "--format sc32"

I think it should be like a qilin

[2022-02-21 14:56] mlodic commented on #898
sure, thanks! I'll review!

[2022-02-21 21:10] fear-the-reaper commented on #323
Hello! Is this issue still open? If so can you clarify what needs to be done? Thanks!

[2022-02-21 21:12] fear-the-reaper commented on #854
Can anyone tell me what needs to be done I need to make a markdown template or something?

[2022-02-22 06:47] fear-the-reaper commented on #817
Do I need to integrate this https://github.com/honeynet/GreedyBear?

[2022-02-22 07:56] 0x0elliot commented on #628
I agree with Matteo here. In my opinion, We should write new serializers for playbooks separately and avoid using a JSON config file for the time being. We should start with simply letting people either:

- Manually select from the frontend the Analyzers and connectors a playbook has.
- Upload a JSON file that does it for them (1 JSON file for 1 Playbook.)

In either case, We can let the frontend

[2022-02-22 11:08] mlodic commented on #323
Honestly I did not understand what @eshaan7 meant by that. I guess this could be closed

[2022-02-22 11:09] mlodic commented on #854
just check how the issue templates are created like that repo and propose a PR

[2022-02-22 11:31] eshaan7 commented on #323
The [schema.yml](https://github.com/intelowlproject/IntelOwl/blob/master/docs/source/schema.yml) file is not automatically updated and we need a GitHub action to manage this. (As you can see even right now, the schema.yml file says the version is 3.1.0 even though we are on 3.3.0)

This workflow could be made part of the existing [sphinx_build_on_release.yml](https://github.com/intelowlproject/Int

[2022-02-22 12:06] eshaan7 commented on #628
I am not in favor of moving away from the JSON configuration files. In my opinion, that is one of the most important USP of IntelOwl i.e. dead simple customization. This is why, ideally, we want one solution that allows us store these 3 configurations (analyzer, connector, plugin) as JSON files but also allows the user to manage these configurations from the GUI/API.

Furthermore, #433 is the issu

[2022-02-22 13:31] mlodic commented on #628
Yeah, I don't want to drop any actual feature that allows customization.
Mainly I feel bad regarding the huge size of the `analyzer_config.json`, that is becoming bigger and bigger and really difficult to manage or read. Maybe we could just split that file and create several files in a single directory and group them by similarity. I think we can talk about that in a separate issue.

This is smart

[2022-02-22 18:49] 0x0elliot commented on #628
This is a pretty good idea! I think this discussion by now has cleared a lot of technicalities on what a playbook should look like. As for investigations, what I understood from this discussion is that I should first have the playbooks feature properly implemented and then move further to `Investigations` later since all it needs is a response from the playbook executed.

[2022-02-22 20:44] lprat commented on #898
Done for PR, I wait your opinion.

Thanks

[2022-02-23 16:34] sbaumgartner75 commented on #894
Sorry - to reopen this issue: still does not work

[code]
Seems to me that docker-compose does not like quotes....

[2022-02-23 16:36] sbaumgartner75 commented on #894
Sorry to reopen this - it still does not work ...
[code]
It seems, that docker-compose does not like quotes - or at least struggles to mix quoted and unquoted path parts.

[2022-02-23 16:48] lprat commented on #898
Thank for your merge!

[2022-02-23 16:48] #898 closed

[2022-02-23 17:29] mlodic commented on #894
Fixing this and making a release. I also noticed that we forgot to add the Docker Image for the new Tor Analyzer

[2022-02-23 17:32] mlodic commented on #894
I am also adding proper tests to avoid to do not notice this again

[2022-02-23 18:27] CypherpunkSamurai commented on #847
Hello Sir, My 2 PR's have been merged successfully :)

Can I please takeover this issue now?

[2022-02-24 07:34] devmrfitz commented on #843
In this task, are the recipes (like [this one](https://github.com/mattnotmax/cyberchef-recipes#recipe-61---extract-second-stage-urls-from-qakbot-excel-maldocs) to be hardcoded and run when the relevant document is uploaded?

[2022-02-24 09:04] fear-the-reaper commented on #854
I'm having trouble with making a new branch on the develop branch. whenever I type `git checkout -b issue_template develop`
it gives out
![image](https://user-images.githubusercontent.com/46054431/155492810-9faa4024-570c-42e8-96fa-c07cc3599fd7.png)

[2022-02-24 09:09] mlodic commented on #843
well, I would like to add some considerations about this task:

* interaction against a CyberChef server: the are 2 possible types of integration
    * integration with an external CyberChef server. The easiest. This would be a simple analyzer
    * integration with a CyberChef server embedded in IntelOwl as as an optional Docker analyzer. See [here](https://intelowl.readthedocs.io/en/latest/Advan

[2022-02-24 09:11] fear-the-reaper commented on #854
Never mind fixed.

[2022-02-24 09:13] mlodic commented on #843
The problem regarding having a new analyzer for each recipe is scaling. I assumed that only the "useful" recipe would be enabled, not every one.

Another option could be to have just a single CyberChef analyzer and then providing the "recipe" name as an additional configuration. That would make more easy the managament of everything.

However that would be less user friendly because the IntelOwl G

[2022-02-24 14:22] fear-the-reaper commented on #854
Do I need to run the github CI tests? As I haven't written any code just markdown also saw how to get the issues tab as well.

[2022-02-24 14:42] fear-the-reaper commented on #854
Alright the tests passed but I can't push my code for some reason. First github said to do the `git push --set-upstream origin issue_template` it didn't work.
![image](https://user-images.githubusercontent.com/46054431/155545963-e783aad1-fe44-46ec-9154-6dacf9aaa796.png)

[2022-02-24 14:57] mlodic commented on #854
you need to create a fork of the main repository and make a PR from there.

[2022-02-24 14:59] fear-the-reaper commented on #854
Oh! will do that quick question to enable the issue tab feature you need to enable issues down in settings should I do that in my fork and once (hopefully) when my PR is accepted will the changes be added or is this done through a maintainer. I also made a new analyzer template as well.

[2022-02-25 18:02] devmrfitz commented on #843
@mlodic How about I start with implement a Docker-based cyberchef analyzer that runs [this](https://gchq.github.io/CyberChef/#recipe=Unzip('',false)Strings('16-bit%20littleendian',10,'All%20printable%20chars%20(U)',false)Filter('Line%20feed','%5E%5C%5C%22',false)Find_/_Replace(%7B'option':'Extended%20(%5C%5Cn,%20%5C%5Ct,%20%5C%5Cx...)','string':'%5C%5Cx00'%7D,'',true,false,true,false)Find_/_Replac

[2022-02-26 05:25] devmrfitz commented on #843
I've made [a commit](https://github.com/devmrfitz/IntelOwl/commit/871256a9f9ea1e6c6eb7bf97b390d59bd04b46fa). Is this the correct path?

[2022-02-26 22:09] fear-the-reaper commented on #378
Made a PR please review.

[2022-02-28 08:44] mlodic commented on #843
Good find. Anyway that would mean to write Javascript code somewhere and right now it would mean to make some important changes only to support this analyzer. I don't think it is worth.

[2022-02-28 10:29] mlodic opened #912 "Script to automate releases posts on Twitter"

[2022-02-28 10:35] mlodic commented on #894
with the new version, this should be fixed

[2022-02-28 10:35] #894 closed

[2022-02-28 10:35] mlodic commented on #854
fixed with v3.3.1

[2022-02-28 10:35] #854 closed

[2022-02-28 10:36] mlodic commented on #842
done with v3.3.1

[2022-02-28 10:36] #842 closed

[2022-02-28 10:36] mlodic commented on #798
done with v3.3.1

[2022-02-28 10:36] #798 closed

[2022-02-28 10:36] mlodic commented on #708
done with v3.3.0

[2022-02-28 10:36] #708 closed

[2022-02-28 17:54] 0x0elliot commented on #912
Is this something I can help out with Matteo?

[2022-02-28 18:19] yaswanthsaivendra commented on #912
Or how about using [automate.io](https://automate.io/) for this??

[2022-03-01 02:50] Sp-TT opened #916 "unable to start celery container with permission denied error"
## What happened
with latest version, try to start all containers. Celery failed to start

got below permission denied error

PermissionError: [Errno 13] Permission denied: '/opt/deploy/intel_owl/configuration/analyzer_config.json'
2022-02-22 03:54:02,268 - celery.utils.dispatch.signal - send - ERROR - Signal handler <bound method DjangoFixup.on_import_modules of <celery.fixups.django.DjangoFixup

[2022-03-01 08:23] mlodic commented on #916
hey, thanks for reporting this.

Some questions:
* did you install the new version from scratch or you did upgrade from a previous version? In case, which one?
* did you manually change the file with that error? `analyzer_config.json`. This is pretty common to customize the analyzers configuration. Can you please check the permissions on that file? go to your IntelOwl installation directory, then

[2022-03-01 08:43] mlodic commented on #912
Yes, this could be enough and free. I have set-up that. Thanks for the suggestion, let's see if it works properly in the next release :P

[2022-03-01 15:02] CypherpunkSamurai commented on #847
Hello Mr @eshaan7 and Mr @mlodic,
I'm sorry for the delay, I had been busy with my college studies for some time. With due respect I wanted to ask a few questions.

With Maltego being an offline file-based data store, are we supposed to make a new maltego graph file with transforms?

[2022-03-01 15:09] #713 closed

[2022-03-01 15:10] mlodic commented on #170
solved with v3.3.0

[2022-03-03 06:28] 0x0elliot commented on #659
Hey! I would like to work on this analyzer. The only question I have is what commands exactly do you want me to run for this on the given ELF binary?

[2022-03-03 08:25] mlodic commented on #659
I'd guess you can go through their examples as mentioned [here](https://github.com/eliben/pyelftools/wiki/User's-guide#users-guide) and see what you can extract from an ELF file.

We would also need to add a test ELF file for tests (and also to the test_files.zip) (we could use [this](https://github.com/eliben/pyelftools/blob/master/examples/sample_exe64.elf))

[2022-03-03 12:31] 0x0elliot commented on #659
Okay, I will get to it then. Thank you, Matteo.

[2022-03-03 22:14] Sp-TT commented on #916
Thanks for your quick response

      It is a new installation.

     I didn't change the file. Tried to change file permission to fix it, but failed. Used to be root permission, now as below.

<img width="524" alt="image" src="https://user-images.githubusercontent.com/53101764/156661454-badd366c-af22-4889-8541-585466873c3d.png">

Start with the startup script.

python3 start.py prod up

Feels lik

[2022-03-07 13:39] mlodic commented on #916
The good permissions should be `www-data:www-data`. Could you try to set the values to that user/group and restart the application?

[2022-03-07 17:50] devmrfitz commented on #833
@mlodic Do you recommend to take this up now?

[2022-03-07 21:57] Sp-TT commented on #916
set values to apache:apache, still same permission error. It is running on redhat server

[2022-03-08 08:12] mlodic commented on #833
I am not sure if the public site allows to configure an API key. It is possible that you would need to set up the entire Cuckoo3 and this is not feasible for now. I would skip this

[2022-03-08 08:14] mlodic commented on #916
but the application run with the `www-data` user so if the files are not set with those permissions the application is not able to get them. It does not matter where you deployed this. Please give that a chance

[2022-03-08 08:18] devmrfitz commented on #733
@0x0elliot Are you working on this?

If not, @mlodic do you recommend me to work on this issue?

[2022-03-08 08:29] mlodic commented on #733
you can, but it would require you to work from the branch `dev-v4` where there is the new GUI based on React

[2022-03-08 08:49] mlodic opened #923 "upgrade celery and django-celery-results"
We need the `pycti` dependencies to be softened: https://github.com/OpenCTI-Platform/client-python/issues/244

[2022-03-09 08:25] highkay opened #924 "The connector opencti did not work"
## What happened

The connector opencti failed.

## Environment
1. OS: docker
2. IntelOwl version: 3.3.1

##  What did you expect to happen

connector successed.

## How to reproduce your issue

I have config the connector. all (3 options) verified and the check button is ok.
![image](https://user-images.githubusercontent.com/443490/157401592-4fbd27dc-e9f8-42a8-b58a-dbe69a2059ae.png)

the opencti

[2022-03-10 09:59] mlodic commented on #924
hey, thanks for reporting this.

The "Health Check" performs a simple "HEAD" HTTP request to the URL that you configured in `url_key_name` parameter in the `connector_config.json` file. (the URL of your OpenCTI instance). This is to understand if there is a reachable instance. (so it does not tests whether your API token is correct or not, this test is the same for all the connectors).
If that wor

[2022-03-10 10:57] highkay commented on #924
I use the api key in opencti setting page.
![image](https://user-images.githubusercontent.com/443490/157648020-82a559fb-3a86-4099-86ac-6000febe85c5.png)
It is not valid?Or I should use some key in other page?

[2022-03-10 11:06] mlodic commented on #924
It should be correct. Is that correctly inserted in the `CONNECTOR_OPENCTI_KEY` variable in the `env_file_app` file?

If yes, I don't know, it could some compatibility problems between different versions of OpenCTI. Should be investigated.

[2022-03-10 19:01] CypherpunkSamurai commented on #847
It looks like Maltego requires a paid subscription to allow third-party seeds. I'm using the Free version, so no luck. I won't be able to write a sample connector.

![image](https://user-images.githubusercontent.com/66906402/157735751-27205846-6389-4c20-b252-474b0fcfb361.png)

![image](https://user-images.githubusercontent.com/66906402/157735568-823e40dd-9bb9-4135-9850-ab6db794593f.png)

[2022-03-10 20:46] 0x0elliot commented on #733
I am not working on it. You can take care of this.

[2022-03-10 23:31] Sp-TT commented on #916
Tried this and got same error
<img width="551" alt="image" src="https://user-images.githubusercontent.com/53101764/157772888-285cbb78-23cd-4c76-9589-e8d5c603f954.png">

[2022-03-11 06:40] highkay commented on #924
I am sure the key is setting correctly.

[2022-03-11 07:37] mlodic commented on #924
So well I guess we need to make some manual tests to try to reproduce your error and find where is the problem. I see when I can have some spare time to do that.

I'll insert in this thread other questions that can help in debugging this.

Is it the first time you tried that connector? Did it work before?

[2022-03-11 07:45] mlodic commented on #916
I am crying 😢 . It is so difficult to help remotely for this kind of non-reproducible errors.

Have you restarted the application after that change? `python3 start.py prod down && python3 start.py prod up`

Did you mention that this occured with a first clean installation? Cause I'd suggest you to just re-try to install everything from a clean OS. Then, we have not tested on RedHat specifically (w

[2022-03-11 07:47] mlodic commented on #847
I'd say that if we don't find out a way to have a "free" integration we can just drop the idea. Anyway, can you please explain what you find out about Maltego and what you exactly were trying to achieve there? thanks

[2022-03-11 08:17] highkay commented on #924
Yes, it is my first time to use connector.

[2022-03-11 08:23] CypherpunkSamurai commented on #847
Ok Sir.

I found out that TRX is a rest API-type server that allows running maltego transforms remotely. We can use the TRX server by adding its transforms as TRX transforms. This allows maltego to make a simple HTTP request and run a remote transform and return data to the graph.

The problem is, to use a remote TRX server we need a paid version of maltego.

[2022-03-11 08:54] mlodic commented on #847
well makes sense. Thanks for your research. I am sorry that, at this point, we will drop the issue. IntelOwl main goal is to provide free tools and do not support paid-only services so this is not something we care about

[2022-03-11 08:54] #847 closed

[2022-03-11 09:14] CypherpunkSamurai commented on #847
No problem Sir. I'm happy we explored the possibility of having a maltego integration. I've learnt a lot about maltego on the way, thanks to you and Mr Eshaan

[2022-03-11 09:31] sp35 commented on #924
@mlodic Let's override the health check to use [opencti_client.health_check](https://opencti-client-for-python.readthedocs.io/en/3.3.0/pycti/pycti.html#pycti.OpenCTIApiClient.health_check); found it in the init logic [here](https://github.com/OpenCTI-Platform/client-python/blob/5287c54658b24609a7284582ff115f820bb16f27/pycti/api/opencti_api_client.py#L178)

[2022-03-11 09:40] mlodic commented on #924
great idea! I found that check but did not think about the overwrite!

[2022-03-11 10:03] mlodic opened #926 "Refactor: move analyzer/connectors classes attributes initialization from set_params to __init__"

[2022-03-11 11:48] mlodic commented on #924
I tried very fast to make the overwrite but noticed that the `health_check` class of `Connector` is a `classmethod`. This complicates and makes difficult the overwrite because we would need data from an instance of the Connector, while the `health_check` works without an instance.

I think that it could make sense to create "custom" and more advanced "health checks" for the connectors based on the

[2022-03-11 11:49] mlodic opened #928 "make Connectors Health Checks more reliable"
following #924, we want to create more application-specific Health Checks for the available Connectors

[2022-03-11 17:35] mlodic opened #929 "[React new Frontend] Basic Test Suite"
the new code for the upcoming GUI of the IntelOwl v4 major version (`dev-v4`) is without any tests for the frontend. We should explore how we can add tests for that part. This is extremely important for the maintainability of this new part of the project.

[2022-03-12 10:43] iharshit009 commented on #341
Hi @eshaan7, I got some understanding of intelowl and have knowledge of Django Viewsets. Can I take this up and work on it?

[2022-03-13 15:10] eshaan7 commented on #341
@iharshit009 This issue has by and large solved as part of #856 by making use of the _organizations_ pattern available in [certego_saas](https://github.com/certego/certego-saas).

[2022-03-13 15:46] eshaan7 commented on #926
What is the motivation behind this change ?

[2022-03-13 16:26] iharshit009 commented on #830
Hey @mlodic  I would like to work on this issue. I am new to this project, if looks fine can I take this up?

[2022-03-13 17:46] iharshit009 commented on #341
Okay no issues, Let me know if I could contribute to this in any way. Will look for other issues.

[2022-03-14 03:12] j0n3z opened #931 "observable_name forced to lowercase issue with shortened URLs"
## What happened
In https://github.com/intelowlproject/IntelOwl/issues/658, there was an issue with hash observable and needed to be converted to lower case. However, the fix affected other observable like URLs. Some URLs may need to be looked up without converting to lower case.

## Environment
1. OS: Linux
2. IntelOwl version: current release

##  What did you expect to happen
URL need not to be

[2022-03-14 09:39] mlodic opened #933 "Create default superuser with startup script.py"
To reduce the complexity of the installation, we could add this options to the `start.py` script:

* `--default-superuser` that automatically creates `intelowl:intelowl` as superuser. This can be useful to have the instance running in less time for tests/demos.

[2022-03-14 10:09] mlodic commented on #830
yeah, you can try to work on this. Please create a branch from the `dev-v4` branch instead of develop because there we have the new GUI and you'll need to work on that.

This is a pretty complete task (frontend,backend,cli) so it is really a good way to touch most of the things in the project

[2022-03-14 10:11] mlodic commented on #931
oh good catch! We'll fix this!

[2022-03-14 10:39] mlodic commented on #931
I made a fix here: https://github.com/intelowlproject/IntelOwl/pull/856/commits/b8d842457f12f2301fa44833460463bbf26521d9

I just left forcing the observable to lower case only for "hash" types. In this way URL won't be affected. This will be available with the new v4 major release (~a month)

[2022-03-14 11:21] mlodic opened #934 "script to migrate users for v4"
We need to add an helper script to allow IntelOwl users to migrate their database to the new IntelOwl v4 version (see **https://github.com/intelowlproject/IntelOwl/pull/856** where we started to use the `certego_saas` package)

[2022-03-14 11:23] mlodic opened #935 "[React new Frontend] update frontend dependencies and related code"
related to #856

[2022-03-14 11:27] j0n3z commented on #931
Awesome!

[2022-03-14 15:00] iharshit009 commented on #933
Hey @mlodic, Should I take this up? I guess this would give me enough insights on the code which would be good before I start #830

[2022-03-14 15:57] mlodic commented on #933
yep, thanks!

[2022-03-15 08:59] eshaan7 commented on #935
Isn't this duplicate of #881 ?

[2022-03-15 09:11] eshaan7 commented on #926
Again, this is just to allow extensibility and maintainability. One is allowed to overwrite `set_params` and `__post__init` methods in the child classes but never `__init__`.

If we allow extension of `__init__`, then child class need to have a call to `super().__init__` passing the appropriate arguments in the right order. This is much more error-prone and makes it difficult to change or add new

[2022-03-15 09:23] eshaan7 commented on #931
Thanks for the bug report!

We decided that this is a high-priority bug so the fix for this will be included in the upcoming patch release (and not v4.0 as mentioned before) within the next few days.

[2022-03-15 09:26] mlodic commented on #931
the problem is that the database handles the observables by their related calculated hash (md5). If we allow users to insert domains with capital letters then we would need to normalize them like we make for the hashes so they can be considered as the same observable by the database.
So we can allow domains with capital letters (we call `lower()` after evaluation so they are considered the same as

[2022-03-15 09:28] mlodic commented on #935
the intent is to remove all the deprecated dependencies (they are a lot), move to bootstrap 5 and refactor all the code as a consequence

[2022-03-15 09:30] mlodic commented on #926
ok from this point of view it makes sense the sacrifice. It is also important to keep this consideration here as historical. thanks

[2022-03-15 09:30] #926 closed

[2022-03-15 09:38] mlodic commented on #935
`npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated source-map-url@0.4.1: See https://github.com/lydell/source-map-url#deprecated
npm WARN deprecated source-map-resolve@0.6.0: See https://github.com/lydell/source-map-resolve#deprecated
npm WARN deprecated svgo@1.3.2: This SVGO version is no longer supported. Upgrade to v2.x.x.
npm WARN deprecat

[2022-03-15 09:53] mlodic commented on #733
will be solved by #628

[2022-03-17 08:30] mlodic opened #938 "fix duplicated Enum"
see: https://github.com/intelowlproject/IntelOwl/commit/b408a632087c95c8c4c75d297ce1e50d7bb856cc#r68896630 @eshaan7

[2022-03-17 08:32] mlodic opened #939 "Django Admin link not working in new React GUI"
We need to find the reason and fix it in the `dev-v4` branch. It should redirect to the /admin correctly

[2022-03-17 10:11] fear-the-reaper commented on #830
Can a provide a sample JSON output? I know STIXv2.1 since STIX is basically JSON I just need to map it thanks!

[2022-03-17 10:28] mlodic commented on #830
JSON output may vary based on the analyzers requested. Mapping to STIX could be a really complex task to do. I think that this issue should be rethougth in a more feasible manner. Some export formats like STIX or MISP cannot just be converted so easily.

[2022-03-18 07:32] devmrfitz commented on #939
@mlodic /admin is opening with for me

[2022-03-18 08:14] mlodic commented on #939
We need to keep running `celery` with low privileges.

I was talking about this button
![image](https://user-images.githubusercontent.com/30625432/158962235-c64bc63b-5c6a-474e-9081-c2cac0870d93.png)

cause direct link to /admin works

[2022-03-18 15:20] devmrfitz commented on #939
@mlodic The issue seems to be that ReactJS tries to internally render `/admin`.

[2022-03-22 15:33] eshaan7 commented on #433
Hopefully I should find sometime during the weekend/next week where I can implement a MVP of this idea.

[2022-03-24 10:14] mlodic commented on #378
see #940

[2022-03-24 10:14] #378 closed

[2022-03-25 09:26] #843 closed

[2022-03-25 09:26] #931 closed

[2022-03-26 17:28] CypherpunkSamurai commented on #433
So, initially we convert the JSON configuration to a DB, then allow changes to the DB from the GUI, instead of editing JSON everytime. Sounds neat, that way the JSON can function like a skeleton config for the DB.

With due respect Sirs, I'm somewhat interested in the issue and was thinking if allowed, I would like to work on this for GSOC. I haven't yet thought of a proposal ye, so I would really

[2022-03-29 09:33] BHanq opened #951 "XForceExchange - URL wrong cast"
## What happened
XForceExchange URL analyzer cast special character into %xx characters. Then the api, is wrongly called. And an error is raised.

## Environment
1. OS: Ubuntu 20.0.4
2. IntelOwl version: 3.3.2

##  What did you expect to happen
Having an analysis for this : https://exchange.xforce.ibmcloud.com/url/http:~2F~2Fmoviesfoundonline.com

## How to reproduce your issue
Start an analysis o

[2022-03-29 11:17] mlodic commented on #951
thanks for reporting this. I checked and the error was the main URL that was missing the "/api" but still worked anyway sometimes....the right url is `"https://api.xforce.ibmcloud.com/api"`
The fix will be available next release.

[2022-03-29 12:06] BHanq commented on #951
Are you sure it is not : https://exchange.xforce.ibmcloud.com/api/
Because in api.xforce.ibmcloud.com I have found nowhere in the documentation that missing /api. [Sample stays](https://api.xforce.ibmcloud.com/doc/#/URL/get_url__url_) : https://api.xforce.ibmcloud.com/url/www.ibm.com%2Fsmarterplanet in the docs

[2022-03-30 08:22] mlodic commented on #935
after `npm audit fix`

`27 vulnerabilities (13 moderate, 14 high)`

[2022-03-30 08:37] mlodic opened #953 "[React new Frontend] Setup CI / Dependabot"
After #935, we need to properly configure Continuous Integration (PR automation) and Dependabot for the React Frontend part

[2022-03-30 08:42] mlodic opened #954 "Update documentation / add demo site for the new IntelOwl v4"
We need to review the documentation:

- [x] move info from `frontend/README.me` to the official documentation.
- [x] add help on how to properly configure the `frontend` application for development
- [x] add link to the new demo site (still under construction)

[2022-03-30 08:54] mlodic commented on #934
`intelowl_uwsgi           | Traceback (most recent call last):
intelowl_uwsgi           |   File "/opt/deploy/intel_owl/manage.py", line 25, in <module>
intelowl_uwsgi           |     main()
intelowl_uwsgi           |   File "/opt/deploy/intel_owl/manage.py", line 21, in main
intelowl_uwsgi           |     execute_from_command_line(sys.argv)
intelowl_uwsgi           |   File "/usr/local/lib/python

[2022-03-30 12:29] mlodic opened #955 "[React new Frontend] Add GSoC Honeynet channel link + Github link to footer"
Replicate the same behavior that we had in the Angular Frontend

[2022-03-30 14:02] mlodic opened #956 "[React new Frontend] Show running environment in the footer"
We should add a way to show the running environment in the footer together with the IntelOwl version.

The important thing is that, by default, normal IntelOwl user should just see something like "prod (<version>)" without any additional configuration, while , at the same time, the intelowl developers should add a configuration to have that instance show "local (<version>)"

[2022-03-30 14:50] mlodic opened #957 "[React new Frontend] "Supported types" filter not working correctly"
![image](https://user-images.githubusercontent.com/30625432/160863556-447484d2-1645-47a8-8359-041a204ca2ff.png)

This filter does not work as expected: it does not allow to filter based on the possible options.

Plus, we need to properly manage the file analyzers that do not have any "supported type". This case means that they support every kind of file so we should explicitly say that in the fron

[2022-03-30 16:13] mlodic opened #958 "Notifications system for v4"
Thanks to the integration with the [certego-saas](https://github.com/certego/certego-saas) package, we will have a notification system embedded in the tool

![image](https://user-images.githubusercontent.com/30625432/160879876-ba8c5be8-60c5-4d1c-ac3f-62c316c765e6.png)

What we should do:
* add proper documentation about that on how to publish notifications from the Django Admin. It is pretty simpl

[2022-03-30 17:02] mlodic opened #959 "[React New Frontend] provide navigable JSON result for each analyzer"
In the IntelOwl v3 version we have this navigable component that allows us to easily surf the JSON result of an analyzers

![image](https://user-images.githubusercontent.com/30625432/160890858-b5a65f6d-4ec5-486b-9f50-d75dcb11753a.png)

In IntelOwl v4, by default, we get all the JSON data at the same time. While this can be helpful, most of the time is not.
Example:
![image](https://user-images.git

[2022-03-30 17:32] mlodic opened #960 "[React New Frontend] various adjustment to the GUI"
Job report:
- [ ] default sorting should have "Success" analysis" first, then "running" and "failed". So the user, while he is waiting for all the analyzers to complete, can easily start to check data from the first finished analyzers without having to scroll through the analyzers
![image](https://user-images.githubusercontent.com/30625432/160894185-3e2b3654-8725-462f-8ffa-5dcce17974ff.png)

Scan

[2022-03-30 18:01] eshaan7 commented on #935
Bootstrap 5 is very different from Bootstrap 4 - tonnes of breaking changes. Upgrading to bootstrap 5 also means having to upgrade to Reactstrap v9 (lots of breaking changes again) which in turn means migrating certego-ui first and then the IntelOwl frontend.

To be quite frank, we do not have the bandwidth for this. In my opinion, this is not an urgent requirement and we shouldn't make this part

[2022-03-30 18:02] eshaan7 commented on #935
That's just how npm works - you seriously cannot bring that number down to 0 (or even single digits) given how many different packages we use.

[2022-03-31 07:21] mlodic commented on #935
We will work about this internally in Certego in the next months.

As builders of security products we should take this more seriously. It is an annoying work, like the major upgrades you mentioned, but someone has to do it some day.

[2022-04-04 17:39] CypherpunkSamurai commented on #433
Hello Mr. @eshaan7 and Mr. @mlodic I feel interested in working on this issue for GSoC 2022. Can I please takeover this issue?

[2022-04-04 17:53] mlodic commented on #433
yes, you can

[2022-04-08 11:02] mlodic commented on #929
We could start with [Jest](https://jestjs.io/) and [testing-library](https://testing-library.com/docs/)

[2022-04-08 12:50] mlodic commented on #341
I consider this closed so we can start to better filter out issues for the v4 milestone

[2022-04-08 12:50] #341 closed

[2022-04-08 12:51] mlodic commented on #881
#856, consider this done

[2022-04-08 12:51] #881 closed

[2022-04-08 12:52] mlodic commented on #960
done

[2022-04-09 18:03] devmrfitz commented on #752
@eshaan7 @mlodic Can this be picked up for inclusion in GSoC proposal?

[2022-04-10 12:25] eshaan7 commented on #752
ideally this should be solved after #433.

[2022-04-10 12:36] eshaan7 commented on #433
Rough explanation of a solution I had in mind:

We could replace the dataclasses with django models like so:

[code]

This way we can allow users to store their own versions of `config` and `params` dicts against a plugin name. Rest of the fields do not need to duplicated in the DB and can be mapped (mapped and read from the config serializers) using `@property` decorators.

[2022-04-11 10:33] devmrfitz commented on #752
@eshaan7 How does [this](https://github.com/intelowlproject/IntelOwl/issues/752#issuecomment-1094261743) connect with #443?
#443 has to do with env_file_app while #752 has to do with analyzer_config.json

[2022-04-11 10:35] devmrfitz commented on #752
How does this issue connect with #443?
#443 has to do with env_file_app while this has to do with analyzer_config.json

[2022-04-11 18:41] CypherpunkSamurai commented on #433
Thank you very much for the heads up Eshan Sir. I'm currently going through the Django sources thoroughly while also learning more about Django. I'll try my best to present a draft soon, before the proposals if possible :)

[2022-04-12 07:38] BenjaminH-Sogeti commented on #933
I may do that, it shouldn't take much time

[2022-04-12 07:49] BenjaminH-Sogeti commented on #916
If you can't run the app under www-data (which is not recommended), I have found this workaround :
`chmod 755 configuration/
chmod 666 configuration/*.* `
And in intel_owl.ini remove the specification to run as www-data user&group:
`#chown = www-data:www-data
...
#uid = www-data
#gid = www-data
`

[2022-04-12 08:11] BenjaminH-Sogeti opened #966 "[Analyzer] Anomali Threatstream Analyzers"
## Name
Anomali Threatstream

## Link
https://www.anomali.com/products/threatstream

## Type of analyzer
Observable

## Why should we use it
Anomali is one of the leading company concerning Threat Intelligence, having these analyzers into this tools would be a nice plus-value for it. However, it is a premium tools and the target won't be single users but companies.

## Possible implementation
Anom

[2022-04-12 08:13] BenjaminH-Sogeti commented on #966
And I would like to be assign to this

[2022-04-12 08:23] BenjaminH-Sogeti opened #967 "MISP better configurability"
# Issue
MISP has actually a really low level of configurability
- Hardcoded time constraint (events not older than 90 days)
- Hardcoded results limitation (50)
- Type of attribute filter is mandatory
- Search is only made on events field and not on attributes

# Doc
Search() method start [here](https://buildmedia.readthedocs.org/media/pdf/pymisp/latest/pymisp.pdf) at page 29

# Improvements
Offer

[2022-04-12 09:03] mlodic commented on #967
yeah, thanks for your interest, but policy wants that each person should just have one assigned task at a time.

[2022-04-12 09:35] mlodic opened #970 "Live Site"
It would be cool to have a demo site integrated with Github Pages for the new IntelOwl v4 GUI. That would substitute the old one.

[2022-04-12 12:22] mlodic opened #973 "IntelligenceX analyzer improvement"
Right now, only the "Phonebook search" is supported.

We should support also other endpoints, like the "Intelligence" one.

See: https://github.com/IntelligenceX/SDK/blob/master/Python/intelxapi.py

[2022-04-12 14:57] eshaan7 commented on #960
Honestly, I am of the opposite opinion. I do not think the user should be redirected automatically. The user may want to create multiple jobs together or do something else. Even if this is not the case, what is one extra click ?

We can decrease the size of the modal by removing the names of the analyzers that were started.

[2022-04-12 15:10] mlodic commented on #960
Well, one extra click is important for the user experience. Moreover the link to that job can be mixed together with other buttons of previous jobs so it can also be not super intuitive at a first glance.

Then, if the user wants to start several different jobs, this is something we have already planned to do (see #732). In that case, it would make sense to avoid redirection cause there would be d

[2022-04-12 16:51] mlodic commented on #973
solved

[2022-04-12 16:51] mlodic commented on #958
closed

[2022-04-12 16:51] #958 closed

[2022-04-12 22:41] Sp-TT commented on #916
Thanks, chmod 755 configuration/ solved this problem.

[2022-04-13 13:47] #966 closed

[2022-04-14 11:06] eshaan7 opened #978 "Allow plugin secrets to be stored and managed from GUI"
It would be useful to let the user set up those keys and the other required configuration directly from the GUI.
This would imply a lot of changes. Also, we have already planned to work on the configuration (https://github.com/intelowlproject/IntelOwl/issues/306) so this idea could be considered as a later development

-- @mlodic in #433.

[2022-04-14 11:07] eshaan7 commented on #433
This issue is tracking 2 different feature requests at the moment so I have splitted these into 2 issues:
- #433
- #978

[2022-04-14 11:23] eshaan7 commented on #933
It should be noted that this has the potential of accidental creation of such an user in production. This could result in a security mishap very easily.

I recommend that the `--default--superuser` flag should be usable along with the `test` or `ci` modes only.

[2022-04-14 11:25] eshaan7 commented on #933
The `dev-v4` branch contains a [`initdb.sh`](https://github.com/intelowlproject/IntelOwl/blob/dev-v4/docker/scripts/initdb.sh) script which indirectly solves this.

[2022-04-14 13:51] eshaan7 commented on #752
- 433 has to do with analyzer_config.json
- 978 has to do with env_file_app

See my comment [here](https://github.com/intelowlproject/IntelOwl/issues/433#issuecomment-1099073836).

[2022-04-14 15:40] mlodic commented on #933
yeah, on a different thought I think it does not make sense to solve this issue as I intended it.

`initdb.sh` or not, the user would need to make a manual creation either way. So what we have [here](https://intelowl.readthedocs.io/en/latest/Installation.html#after-deployment) can be enough

[2022-04-14 15:40] #933 closed

[2022-04-15 16:02] mlodic opened #981 "Add VT Intelligence Endpoint for generic lookups"
VT Intelligence users could leverage a new analyzer that allows to perform custom lookups directly from IntelOwl (`generic` type of observable)

https://developers.virustotal.com/reference/intelligence-search

To avoid confusion, we should explicitly add a new configuration variable for the API key of VT Intelligence so people who don't have the premium account, won't see in IntelOwl that this ana

[2022-04-20 12:39] mlodic commented on #981
solved in #986

[2022-04-20 12:39] #981 closed

[2022-04-26 08:36] 0x0elliot commented on #959
We can use something like this for this task: https://mui.com/material-ui/react-tree-view/
Seems quite doable. I would like to try taking care of it. It's a bit packed these days so give me time till the weekend!

[2022-04-29 08:34] eshaan7 opened #995 "[Analyzer] phoneinfoga"
## Name
PhoneInfoga is one of the most advanced tools to scan international phone numbers

## Link
https://github.com/sundowndev/phoneinfoga

## Type of analyzer
observable, generic.

[2022-05-01 00:02] SteAmeR opened #996 "[Analyzer] DocGuard"
This issue related to PR https://github.com/intelowlproject/IntelOwl/pull/990
## Name
Docguard can analyze files in seconds using its groundbreaking analyzer engine and detect all known attack methods without any miss.

## Link
https://www.docguard.io/
https://app.docguard.io/

## Type of analyzer
file, observable
## Why should we use it
Gartner strongly suggests that Email Security Supplements ar

[2022-05-03 07:39] BenjaminH-Sogeti commented on #951
@mlodic have you already done it or would you like help ?

[2022-05-03 08:33] BenjaminH-Sogeti commented on #967
After our discussion in #979
And discovering the different types of misp [data models](https://www.misp-project.org/datamodels/), I think that it could be useful to add "generic ioc" search format without type-filter.

It could be useful to search for IBAN, filename, ... (everything that could be set into misp)

https://github.com/intelowlproject/IntelOwl/blob/ceebcc5042885ba49af564106a6cf419f5a31

[2022-05-03 08:38] mlodic commented on #951
done this but not released yet :P I'll plan a new release soon, please follow the project so you get the update!

[2022-05-03 08:42] mlodic commented on #967
yeah it makes sense. Consider that it was not there before because we added the "generic ioc" feature later than that MISP analyzer. Would you like to make a PR for that? In case, I can wait for that to make a new release with everything you already made. Thank you!

[2022-05-03 08:46] BenjaminH-Sogeti commented on #967
Sure

[2022-05-03 15:07] mlodic commented on #959
Another idea pointed out by @BenjaminH-Sogeti could be a view like [this](https://bennadel.github.io/JSON-Explorer/dist/#eyJ0eXBlIjoiaG9vbWFuIiwibmFtZSI6IkJlbiIsImNoaWxkcmVuIjpbeyJ0eXBlIjoiZG9nbyIsIm5hbWUiOiJMdWN5IiwiYWdlIjo4LCJuaWNrbmFtZXMiOlsiTHVjeSBHb29zZXkiLCJHb29zZS1GYWNlIEtpbGxhJyIsIlBvb3BlciJdLCJpc0Fkb3JhYmxlIjp0cnVlfV0sImFnZSI6MzksIm1ldGFkYXRhIjoieyBcIl9pZFwiOiBcImMtMzQ5ZGszOVwiLCBcImNyZWF

[2022-05-03 15:24] 0x0elliot commented on #959
That's pretty cool as well! I will try to put together whatever gets the job done best :)

[2022-05-04 05:41] fear-the-reaper commented on #840
@eshaan7 and @mlodic can you tell me what I need to do in order to do this task since I'm not familiar with monkey patch and all. Thank you!

[2022-05-04 10:56] #938 closed

[2022-05-05 08:02] mlodic commented on #996
closed with v3.4.0

[2022-05-05 08:02] #996 closed

[2022-05-11 07:39] BenjaminH-Sogeti commented on #951
Has it changed ?

![image](https://user-images.githubusercontent.com/103488825/167794445-3e9f23a4-e9ef-4a24-82ea-d4b3f3ed4330.png)
![image](https://user-images.githubusercontent.com/103488825/167794534-72c3942e-a43a-42b1-b79a-144a064ffafe.png)

Following the actual xforce website API call should be like :
# WWW
`curl -X GET --header 'Accept: application/json' -u {API_KEY:API_PASSWORD} 'https://exc

[2022-05-11 09:23] mlodic commented on #951
thanks for reporting this again!

I am sad cause I tested that manually. I retried that now and you are right, it does not work. 🤔

I followed their [docs](https://api.xforce.ibmcloud.com/doc):
![image](https://user-images.githubusercontent.com/30625432/167802093-bfdaaf1c-1f33-44ae-91f0-0623537f7118.png)

Meanwhile, if you want to fix it locally (to avoid waiting for the next release), you can jus

[2022-05-11 09:37] mlodic commented on #951
on a second thought, I think that it is normal behavior. It just means that that URL was not found in their DB.

I should change the analyzer to do not fail in that case.

[2022-05-11 09:42] mlodic commented on #951
If the result is 404, thanks to the new change in the branch `xforce_fix`, you will found a new key "found" that is set to False.

[2022-05-11 11:30] BenjaminH-Sogeti commented on #951
Thanks a lot !

[2022-05-21 14:05] sercuz opened #1011 "OpenCTI Connector Issue"
Hello Team,

I would like to thank you for your efforts on this project.
My issue is when I configured the OpenCTI secrets and other stuff, the connector still not configured. I think I've missed something that I don't know about it. Can you please tell me what to change in the opencti.py and any other things to be changed?
NOTE: I have added my OpenCTI URL and the API Key.

![image](https://user-

[2022-05-21 17:21] #1011 closed

[2022-05-21 17:22] sercuz commented on #1011
I've solved the issue by re-installing the project

[2022-05-22 05:35] OpalSec opened #1012 "Django Admin Panel: 503 Unavailable"
I'm on a fresh install and have created and logged in as the superuser, but when I try to click through to the Django Admin panel I get a 503 error:
![image](https://user-images.githubusercontent.com/33176069/169680409-77cbd60f-b289-4e6b-b72e-25bc6aad1c24.png)

As far as I can see I didn't miss any steps in setting it up, and I'm able to start and log into it fine as the super user.

[2022-05-23 09:04] mlodic commented on #1011
hey! thanks for your interest in the project!

Just to let you know, we are working on allowing the user to make such configuration directly from the GUI without the need to re-start the project. Otherwise, right now, when you change the secrets, you have to re-start the application.

[2022-05-23 09:10] mlodic commented on #1012
hey! thanks for your interest in the project!

that is pretty strange and it does work in normal deployments and we cannot replicate that issue. It is probably something related to your own environment. Are you accessing to the application from the same machine or from the outside? Maybe something blocks the connection on the network? It could also be just temporary.

I maybe could help more but I

[2022-05-23 11:46] OpalSec commented on #1012
Of course when I bounce it before trying again before replying - it works, hahah.

I don't know what went wrong but I can get to it now. It gave me a 503 again when I modified and saved changes to a user account, but came good again after a few seconds. Seems like it's an issue with my VM rather than IntelOwl itself, so I'll look into it on my end.

Thanks for your response, and thanks for making

[2022-05-23 11:46] #1012 closed

[2022-05-25 13:30] mlodic opened #1016 "[React new Frontend dependencies upgrade] tweaks and fixes to branch `dev-v4-new`"
Found problems in order of priority.

To solve before merging to `dev-v4`:

- [x] Dates are not correct and something refers to Unix original Epoch Time (1970)

![image](https://user-images.githubusercontent.com/30625432/170271238-9e485877-1cf7-492f-af47-61bbb7b28111.png)

- [x] Files analysis does not work at all

- [x] align to center observable classification row in the Scan form

- [x] Filteri

[2022-05-26 12:46] devmrfitz opened #1017 "Allow plugin secrets to be stored and managed from GUI #978"
Allow plugin secrets to be stored and managed from GUI [#978](https://github.com/intelowlproject/IntelOwl/issues/978)

In the current state, analyzer configuration/credentials (like API keys, tokens, etc) have to be set in env_file_app before starting IntelOwl. If some changes need to be done, the user needs to stop IntelOwl, update the relevant entries in env_file_app and then restart IntelOwl, m

[2022-05-26 12:53] #1017 closed

[2022-05-26 16:20] mlodic opened #1018 "[React New Frontend] "Runtime configuration" does not show correct data on the right side"
the data is always `null`, even after changes in the JSON.

[2022-05-26 16:20] mlodic opened #1019 "[React New Frontend] Organization and API access section login/logout bug"
after having visited the Organization section, logged out, logged in with another user and gone back to the Organization section, the "Memoize" mechanism of React will show the previous user data instead of the new one.

[2022-05-29 08:39] mlodic opened #1021 "[Analyzer] Replace Rendertron with Lookyloo"
We added Rendertron as an optional additional analyzer to provide the chance to perform screenshot of sites, mainly with the goal to register and save phishing pages.

Recently, I found out the existence of this project from the CIRCL, Lookyloo (https://www.lookyloo.eu/docs/main/phishing-use-case.html) that, not only performs screenshots but also retrieves additional information that can be used t

[2022-05-30 10:52] mlodic commented on #935
consider this solved after the merge of branch `dev-v4-new`

[2022-05-30 10:52] #935 closed

[2022-05-30 10:52] mlodic commented on #951
consider this solved and shipped in the next release

[2022-05-30 10:52] #951 closed

[2022-05-30 10:52] mlodic commented on #953
done with the `dev-v4-new` branch merge

[2022-05-30 10:52] #953 closed

[2022-05-30 13:50] mlodic commented on #679
Point to underline: we could just leverage the actual existing "file analysis" but the new PCAP analyzers would have a different `supported_filetypes`: they'll need to support the "application/vnd.tcpdump.pcap" type only. In that way, those analyzer would be executed only with PCAP files.

Then, the other analyzers could work like usual:
* for PacketTotal it is required to have access to their API

[2022-05-31 13:02] mlodic opened #1026 "[React New Frontend] Add Retry button on Job Result page"
In case an user would like to try the same analysis again for whatever reason, we could add a "retry" button by leveraging the same component we already use for the "retry" button of the single analyzer (see image)
![image](https://user-images.githubusercontent.com/30625432/171179467-16859094-b9e6-4dea-96da-eb4c11631709.png)

We could add it in the top section of the result page, together with the

[2022-06-01 16:00] mlodic opened #1028 "[React New Frontend] "runtime_configuration" not showed properly"
Right now, the "runtime_configuration" for each analyzer is shown in the Job Result Report only while the analysis of that specific analyzer is in the "running" status. Once the analysis is finished, there is no way to check that value anymore (aside from the raw JSON report).

We just need to add that data in the result too

[2022-06-02 05:25] zhefox opened #1030 "WARNING/MainProcess] Soft time limit (60s) exceeded for intel_owl.tasks.tor_updater[0ede0609-c244-4409-9436-efad3675af22]"
## What happened

## Environment
1. OS:ubuntu18.04
2. IntelOwl version:latest

##  What did you expect to happen
installing use python3 start.py prod up，The installation detection script detects that it is normal, but the installation times an error，maybe i should iIgnore this warning？
## How to reproduce your issue
just  python3 start.py prod up
## Error messages and logs
intelowl_celery_worker_d

[2022-06-06 13:59] mlodic commented on #1030
hey, thanks for your interest in the project!

yeah, well it is not something critical. It can happen. Basically, there is a cronjob that tries to update the local DB of the Tor Exit Nodes so you can use the "Tor" analyzers for IP addresses. If that cron jobs lasts too much time, it would be killed. That is what happened and that could be due to networks errors of whatever reason (your connection,

[2022-06-06 14:04] zhefox commented on #1030
Thank you for your patient reply. pro！

| |
ZHEFOX
|
|
***@***.***
|

---- Replied Message ----
| From | ***@***.***> |
| Date | 06/06/2022 21:59 |
| To | ***@***.***> |
| Cc | ***@***.******@***.***> |
| Subject | Re: [intelowlproject/IntelOwl] WARNING/MainProcess] Soft time limit (60s) exceeded for intel_owl.tasks.tor_updater[0ede0609-c244-4409-9436-efad3675af22] (Issue #1030) |

hey, thanks for

[2022-06-06 14:47] #1030 closed

[2022-06-07 04:12] Sp-TT opened #1033 "IP search with MISP always return empty response"
## What happened

## Environment
1. OS: Redhat
2. IntelOwl version: latest version

##  What did you expect to happen
Search IP observable with calling [Analyzer MISP]

When searching IP/URL with connected MISP, always return empty response. Other types (domain, hash) ioc working well.

[2022-06-07 16:08] mlodic commented on #1033
hey, are you sure you got the latest version? that bug should have be solved with this PR (https://github.com/intelowlproject/IntelOwl/pull/979) 2 releases ago

[2022-06-11 22:04] 0x0elliot opened #1036 "Backend for Playbooks issue"
This issue is more or less of a draft placeholder one for Playbooks. You can track my progress for this here: https://github.com/0x0elliot/intelowl/tree/Playbooks

[2022-06-11 22:05] 0x0elliot opened #1037 "Frontend for Playbooks"
A draft placeholder issue for this part of my feature addition. Please track my progress here: https://github.com/0x0elliot/intelowl/tree/Playbooks

[2022-06-11 22:07] 0x0elliot opened #1038 "PyIntelOwl support for Playbooks"
A draft placeholder issue for my playbooks feature to provide the support for the same in PyIntelOwl. Track my progress here: https://github.com/0x0elliot/intelowl/tree/Playbooks

[2022-06-11 22:08] 0x0elliot opened #1039 "PyIntelOwl"

[2022-06-11 22:08] #1039 closed

[2022-06-13 01:43] Sp-TT commented on #1033
My bad, latest version fixed this issue, please help to close it.

[2022-06-13 07:39] #1033 closed

[2022-06-13 14:52] mlodic opened #1040 "[Analyzer] YARAify analyzer"
## Name

Referring to this new awesome new service: https://abuse.ch/blog/introducing-yaraify/

API docs: https://yaraify.abuse.ch/api/

## Type of analyzer
Observable analyzer:
  * Support for Hash analysis (triage_search.py is a similar example)
    * query for the hash of a file
        * give the chance to add Malpedia Key as a secret in `malpedia-token`
  * Support for Generic analysis
    *

[2022-06-21 12:31] mlodic opened #1046 "Upgrade Floss from Mandiant to v2"
The new major release brings up some important improvements: https://github.com/mandiant/flare-floss/releases/tag/v2.0.0

We should review the actual usage/output to align it to the new major version

[2022-06-22 09:32] mlodic opened #1047 "Use `freshquark` to keep Quark-Engine rules updated"
see https://twitter.com/quarkengine/status/1539528874266005505 and their docs

[2022-06-22 13:38] mlodic opened #1049 "Extract Follina payloads with Doc_Info analyzer"
Regarding the new vulnerability CVE-2022-30190, we should find a way to easily extract payloads in clear text from malicious docs and integrate it in Doc_Info analyzer

Check this example: https://github.com/MalwareTech/FollinaExtractor/blob/main/extract_follina.py

[2022-06-22 13:53] mlodic opened #1050 "Yara Rules Community Updater does not work"
[code]

This happens when the index.yar is updated in the repository. The reason is that we changed it at the first IntelOwl execution and so Git interrupts the update cause there is an uncommitted change.

The right thing would be to first git stash the changes, then perform the update and ultimatly re-do the deletion of unwanted rules (in `repo_downloader.sh`)

[2022-06-29 14:52] mlodic commented on #1028
fixed in `dev-v4`

[2022-06-29 14:52] #1028 closed

[2022-06-29 14:53] #1018 closed

[2022-06-29 14:56] mlodic commented on #959
Before closing this, @devmrfitz can you investigate please whether there is the chance to add a "search" tab like it was available in the previous JSON renderer?

![image](https://user-images.githubusercontent.com/30625432/176468331-f8d04d53-81ca-457f-be41-255089cca1ca.png)

Even if your addition is good, we are still losing some functionality. This can be particularly useful when the output conta

[2022-06-29 15:00] mlodic commented on #959
I also noticed that, while opening by default to the "data" keyword is useful, there is no chance of collapsing it back and hide it.
See:

![image](https://user-images.githubusercontent.com/30625432/176469033-1cf6885d-4ba0-455f-9a2f-951955812618.png)

Considering that there can be a lot of data, then it would be difficult to visualize the elements that are available after the `data`. Maybe we coul

[2022-06-29 15:48] devmrfitz commented on #959
@mlodic
It seems `react-json-view` has an open feature request for a search. Do you have any alternate packages in mind, maybe the one which was being used in the previous version?

[2022-06-29 15:56] mlodic commented on #959
Previous version was made by @eshaan7 and you can find the code here: https://github.com/intelowlproject/IntelOwl-ng

The older JSON viewer allowed to collapse/un-collapse everything: that was very useful. Without having any other way to visualize data right now, we cannot be satisfied with just the actual result, even if the viewer is cool

[2022-06-29 15:57] devmrfitz commented on #959
Didn't understand this. Could you explain?

[2022-06-29 15:59] mlodic commented on #959
I meant that the viewer you added is cool but it lacks of functionality if compared with the old one. Right now we don't have other ways to visualize the data extracted from IntelOwl so we should try harder to provide the old functionality back to the viewer

[2022-06-29 16:06] devmrfitz commented on #959
Makes sense. I'm actively trying to find a ReactJS equivalent of the Angular package used previously, but haven't been able to find any yet. I'll get back to you as soon as something better is found.

[2022-06-30 09:50] mlodic commented on #679
#1055

[2022-06-30 09:56] mlodic opened #1057 "Startup script allows to choose which version to install"
This allows to move forward to v4 without any other particular problems because users can still install the previous versions with the same easiness

[2022-06-30 13:05] mlodic opened #1059 "[React new Frontend] Review using httpOnly flagged cookie for authentication on the frontend."
Extracted from #856

[2022-06-30 13:06] mlodic opened #1060 "Tests for v4 permission system"
Extracted from #856:

Write more tests and fix existing. We should write tests also to check the new permissions system (https://github.com/intelowlproject/IntelOwl/issues/561).

[2022-07-01 05:08] devmrfitz commented on #959
@mlodic I found this but it's not regularly updated.
https://github.com/aspecto-io/searchable-react-json-view

[2022-07-01 13:37] #1016 closed, assigned to mlodic, acocheo

[2022-07-01 15:06] mlodic commented on #1040
closed via #1048

[2022-07-01 15:06] #1040 closed

[2022-07-01 15:10] mlodic commented on #923
should be solved

[2022-07-01 15:10] #923 closed

[2022-07-01 15:22] #817 closed

[2022-07-01 15:22] mlodic commented on #732
closed via v4.0.0

[2022-07-01 15:22] #732 closed, assigned to devmrfitz

[2022-07-01 15:27] #1057 closed

[2022-07-12 14:47] mlodic opened #1096 "[React New Frontend] Process time in minutes"
![image](https://user-images.githubusercontent.com/30625432/178518452-612d88b3-e660-401b-b977-691f631362cd.png)

Visualize minutes when the time reaches over 1 minute. This is the "Job History" page

[2022-07-13 08:33] mlodic opened #1098 "Add Migration to Durin dep"
Right now we must call `python manage.py makemigrations durin` because the Durin package is missing a migration.

I opened a PR to have it merged so we can remove this useless line.

[2022-07-14 08:39] mlodic commented on #1098
it would require additional changes to the package. closing for now

[2022-07-14 08:39] #1098 closed

[2022-07-14 13:16] mlodic opened #1099 "[Analyzer] New analyzers from external repo"
Understand if it is feasbile to add the non-supported analyzers listed in this repo: https://github.com/jasonsford/intel_collector:

- [ ] CrowdStrike Falcon Intel (api.crowdstrike.com)
- [ ] Emerging Threats Intelligence (api.emergingthreats.net)
- [ ] Microsoft Defender for Endpoint (api.securitycenter.windows.com)
- [ ] Sorbs (sorbs.net)
- [ ] Spamhaus Zen (spamhaus.org)

[2022-07-15 12:28] mlodic opened #1102 "[Analyzer] D4 PDNS server"
## Name / Link

https://github.com/D4-project/analyzer-d4-passivedns

## Type of analyzer
domain/IP

[2022-07-15 12:49] mlodic opened #1103 "[Analyzer] Feodo Tracker + allow to disable the analyzer/updates"
We need to find a way (very similar to how TorProject analyzer is handled), to periodically download the dataset from the Feodo tracker and keep them inside IntelOwl to allow users to perform lookups inside it.

They provide 3 different datasets so we could choose to download all of them and show the results differently based on which list we found the looked-up IP address in.

Plus, considering t

[2022-07-15 14:12] mlodic opened #1104 "[Analyzer] Splunk analyzers"
Allows Lookups on Splunk. Something like what was done [here](https://github.com/TheHive-Project/Cortex-Analyzers/tree/master/analyzers/Splunk)

It would probably require to ask for a developer license to do proper testing

[2022-07-15 14:47] 0x0elliot opened #1105 "Healthcheck bug for connectors."
As pointed out by @fear-the-reaper, The healthcheck has a bug where if you don't set up the MISP instance properly and leave the environment variables necessary as empty, then you get a 500 status code back. I can see how [this](https://github.com/intelowlproject/IntelOwl/blob/abd84544eaec6f049972f6ead57f77c7f5079671/api_app/connectors_manager/classes.py#L67) as a safety check. It didn't work well

[2022-07-15 15:12] mlodic commented on #1105
thanks to both for finding and reporting the issue. I'll push a brief fix if I can soon

[2022-07-15 22:01] 0x0elliot commented on #1036
To preserve the spirit of transparency, I have pushed my code to the `Playbooks` branch :)

[2022-07-18 13:54] mlodic opened #1109 "Dashboard dates bug"
![image](https://user-images.githubusercontent.com/30625432/179526862-bbd05c5e-43bd-4649-96d9-224e85920ff6.png)

![image](https://user-images.githubusercontent.com/30625432/179526931-fd4af75c-42a5-4104-a370-fdcb1e7de2da.png)

It could be a problem with some updates on dependencies.

It could be possible that this is reproducible. Maybe only in certain cases (empty dashboard?) it happens

[2022-07-22 08:09] mlodic opened #1117 "[React New Frontend] Configuration of "disabled" value from the GUI"
Connectors are disabled by default. This was a design choice to avoid to enable dangerous unexpected behavior.

However it is not so clear how to enable them. There is no help at all in the GUI and people would need to find the documentation [here](https://intelowl.readthedocs.io/en/latest/Usage.html#connectors-customization). Same problem exists for the analyzers that are disabled by default.

Fo

[2022-07-22 10:12] mlodic commented on #1105
#1108 close this

[2022-07-22 10:12] #1105 closed

[2022-07-22 10:14] #1050 closed

[2022-07-22 10:15] mlodic opened #1118 "[React New Frontend] Little Adjusts"
- [x] Job Result: some Headers are missing "Actions"? just write something about that
![image](https://user-images.githubusercontent.com/30625432/180418456-671097a7-b9bc-4048-ae43-9477f9ab9e24.png)

- [ ] check borders management (sometimes it overflows)
![image](https://user-images.githubusercontent.com/30625432/180419042-d19ec924-3f0e-461f-b477-2f51bcd63152.png)

- [x] remove "_" from job result

[2022-07-22 10:16] mlodic commented on #1118
"Actions"?

[2022-07-22 10:25] mlodic commented on #659
closed by #1073

[2022-07-22 10:25] #659 closed

[2022-07-22 10:26] mlodic commented on #270
closed by #1073

[2022-07-22 10:26] #270 closed

[2022-07-22 14:48] devmrfitz commented on #752
@eshaan7 @mlodic Can there be a chain of `extend`s i.e. A extends B while B itself extends C.

If yes, we should also create a way to check for `extend`ing cycles, right?

[2022-07-22 15:00] mlodic commented on #752
Honestly I won't complicate things too much. Just having a simple extension feature like the example made by Eshaan would be a great addition to the project.

[2022-07-22 15:19] devmrfitz commented on #752
I made it to handle cycles too internally :)

[2022-07-31 15:45] 0x0elliot commented on #1037
The playbooks feature has been shifted to a single PR. hence, it makes sense if a single issue corresponds to it as well. I will let #1036 be the main issue for it.

[2022-07-31 15:45] #1037 closed

[2022-07-31 15:46] 0x0elliot commented on #1036
I have changed this to be the main issue for the whole feature. #1122 Should correspond to this one.

[2022-07-31 15:48] 0x0elliot commented on #1038
This issue doesn't need to be on this repository. Hence, I have moved it to https://github.com/intelowlproject/pyintelowl/issues/173

[2022-07-31 15:48] #1038 closed

[2022-08-01 15:26] LumberJohn6 opened #1130 "Can't access Django Admin Interface"
## What happened
So I followed this guide (https://intelowl.readthedocs.io/en/latest/Installation.html) to do a fresh installation of IntelOwl. I followed the steps and everything worked fine I think. I've altered the files env_file_app and env_file_postgres, and I've double-checked that the credentials are exactly the same on both files. I've set some API keys, maybe a bit to soon, but everything

[2022-08-01 16:00] LumberJohn6 commented on #1130
I'm not sure if this counts as logs, but I think it's better than no info at all.

Attaching to intelowl_postgres, intelowl_uwsgi, intelowl_celery_worker_default, intelowl_nginx, intelowl_celery_beat
intelowl_celery_beat     | Waiting for db and UWSGI to be ready...
intelowl_celery_worker_default | Waiting for db and UWSGI to be ready...
intelowl_nginx           | /docker-entrypoint.sh: /docker-en

[2022-08-03 13:55] #752 closed

[2022-08-05 15:15] drosetti commented on #959
@devmrfitz I think you can proceed testing [searchable-react-json-view](https://github.com/aspecto-io/searchable-react-json-view).

As you said is not updated (last commit 19th july 2021) and this is not a good news, but also the "base" project is not updated (last commit 9th march 2021). I looked for other projects, but I only worst supported project or other forks of react-json-view.

Reading th

[2022-08-06 13:17] devmrfitz commented on #959
Sure. I'll get on it. However, it also has just a single star.

I've used this field to set the default collapse value to 2. Lemme check if it can be changed during runtime.

[2022-08-07 22:08] Sp-TT opened #1133 "connection to TorProject every 10 mins"
## What happened
I can see IntelOwl sending request to [https://check.torproject.org/] every 10 mins in my environment. I disabled TorProject in analyzer config file and can still see this traffic.

Wondering is this a heartbeat traffic from IntelOwl? If it is, is there a way to disable it?

##  What did you expect to happen

## How to reproduce your issue

## Error messages and logs

[2022-08-08 07:59] devmrfitz commented on #959
@drosetti

[code]
`searchable-react-json-view` has a version conflict with React itself

[2022-08-08 10:13] drosetti commented on #959
Nice catch! We cannot use this library.

I think we can leave this issue open and wait a bit, at least until @mlodic return. There aren't lot of libraries to test, but also create this function (toggle and search) could require time

[2022-08-08 10:29] 0ssigeno opened #1135 "[Analyzer] New Yara Rules Elastic"
## Name
Opensource Yara Rules made by elasticTeam
## Link
https://github.com/elastic/protections-artifacts/tree/main/yara/rules
## Type of analyzer
**this can be observable, file, and docker**
File
## Why should we use it

## Possible implementation

[2022-08-08 18:52] devmrfitz commented on #978
@drosetti  @0ssigeno @mlodic Do we intend to have global analyzer creds (like they are currently), or per-user credentials?

[2022-08-09 06:49] 0ssigeno commented on #978
In my opinion, we could work in 2 steps: the first one, is to make the secret manageable by the GUI globally, so that we are just adding this new management possibility. After that, we can discuss if we want to have a per-user management, and we have any user case where this is needed.

[2022-08-09 07:55] drosetti commented on #959
< eading the docs I discovered a useful field: collapsed: When set to true, all nodes will be collapsed by default. Use an integer value to collapse at a particular depth. This could allow us to show/hide all the dict elements, this is a function available in the v3 version and I think it can be useful restore it. Please test it.

The  `collapsed` parameter has a strange behaviour: in case you ope

[2022-08-09 21:00] CyberKaizen opened #1142 "Celery worker cannot connect to RabbitMQ"
## What happened

I followed the exact instructions to setup IntelOwl and got stuck on this part.
https://intelowl.readthedocs.io/en/latest/Installation.html#run

When attempting to stand up IntelOwl on a Linux VM hosted by an ESXi server the repeated issue comes up that the celery worker cannot connect to the RabbitMQ docker container.

If I just use VMware Workstation Pro and follow those same i

[2022-08-10 10:44] 0ssigeno opened #1143 "Cache configuration not invalidated when adding environment key"
## What happened
Bring up application, the environment key of Analyzer X is not set
Check that X is not configured on the GUI
Bring down the application
Add the env_key of X
Bring up the application
X is still not configured on the GUI

##  What did you expect to happen

X is configured on the GUI

## Why it happens

The configuration is cached, the env_key is retrieved only when the configuration

[2022-08-10 18:19] CyberKaizen commented on #1142
Rookie mistake, identified that I put the VM on Virtual adapter rather than a physical one. Doing so will get you that message.

[2022-08-10 18:19] #1142 closed

[2022-08-12 12:47] 0ssigeno commented on #1130
Hi!
 Sorry for the late response, but unfortunately i'm not able to reproduce your error on my end.
What error does the webpage at `/admin/` returns to you? Do you see the page and you are unable to login? Or you don't see the page at all?

The logs that you send are about the application startup, and i see no issue inside them. Can you try to post the logs that are created when you try to login i

[2022-08-12 12:52] 0ssigeno commented on #1133
Hi!
There is a [celery cron](https://github.com/intelowlproject/IntelOwl/blob/8d5620c183a0e30c5a00bca0824ad12d8989f90b/intel_owl/celery.py#L87) that is executed inside celery every 10 minutes. Unfortunately, it does not check at the moment that its own analyzer is enabled.
Since i can see why this is misleading, I will add this check, I will tag this Issue on the PR

[2022-08-16 07:44] mlodic opened #1149 "Capa v4 update"
https://www.mandiant.com/resources/capa-v4-casting-wider-net

[2022-08-16 16:04] mlodic commented on #959
I'd say amen for this. Then we would need to accelerate in providing a simplified view of the JSON results.

[2022-08-16 16:04] #959 closed

[2022-08-17 09:42] mlodic commented on #121
about the merged PR, I think we should make some minor adjustments:

- [ ]  Ouath docs should have been put in the "Authentication options" section.

- [ ] I would like to leverage the Google logo instead of the word Google. I'd put it in the header where we have the "Log In" text in the right side so it is clear that this is an alternate way to login, and the user is able to choose it before ente

[2022-08-17 10:31] drosetti commented on #121
To solve this problem is needed to create the account before login with Google.

Here two possible scenarios:
* Create a superuser with Django via command line (it can be inserted the username without restrictions, but it's important the email is the same used on Google) -> Login with Google.
* Create a superuser via Django command line -> login in IntelOwl -> django admin -> create an user with t

[2022-08-17 13:05] devmrfitz commented on #121
Alright

Alright

Hiding the button would require React to "know" the environment variable while rendering the page. But, the users are served with built files and we can't take the decision of hiding the button at compile time.

It seems to be working at my end. Lemme re-verify

[2022-08-17 13:11] devmrfitz commented on #121
Yup. Basically, the user needs to already exist before Google Login can be used.

IntelOwl's current access model is that only pre-authorized people can login. Even in LDAP's case, only pre-authorized user's have their accounts in the LDAP server.
However, if we allow account creation through Google OAuth, anyone with a Gmail ID would get access to it.

[2022-08-17 13:32] devmrfitz commented on #121
![image](https://user-images.githubusercontent.com/58381523/185147126-993c673b-831c-4b1d-9a2d-c295837eb9e6.png)
@mlodic Does this look good?

[2022-08-17 13:48] mlodic commented on #121
LDAP integration does not work like that. If you enable LDAP integration correctly, once you push your credentials in the IntelOwl login page, and your user does not exist yet in the Django DB, the integration would create the user for you with "no password" set, like @drosetti said.
First goal of this integration is to facilitate user management. We don't want the admins to create each user manua

[2022-08-17 13:52] mlodic commented on #121
ok but can we verify if that in the backend once the button is clicked? Otherwise right now it would trigger a 500 error. The best thing could be to show a toast with something like "Google Oauth not configured. See documentation on how to configure it"

It works only if the user was already inserted. In fact the `user_id` is missing. I think it could be enough to create a new user in Django DB on

[2022-08-17 13:54] devmrfitz commented on #121
Got it. I just meant that only a person who has their account on the LDAP server can connect through it. And only the company's people will have those accounts. However, in Google OAuth, everyone with a Gmail accounts gets access.

I don't think that's possible in OAuth. That's a GIS (Google Identity Services) feature.

Alright

Sure. Thanks for the UX perspective :)

[2022-08-17 14:12] mlodic commented on #121
thanks to you :)

I said that because today, while trying to create a new GOOGLE_CLIENT_ID and secret I noticed that Google asked me which of the 2 options I mentioned I would have chosen. I tried only the other one so, as a counter-proof, I'll try also this so practically we can prove that it works as intended. That would be really cool.

Yeah that is true, I was talking about the account on the

[2022-08-17 16:07] mlodic commented on #121
for reference: https://support.google.com/cloud/answer/10311615#user-type&zippy=%2Cinternal%2Cexternal

[2022-08-17 16:30] mlodic commented on #121
Ok I just tried it and that works. I set the Oauth type to "Internal" instead of "External" and I correctly logged with my company account `certego.net` while it did not work with my private gmail account. So yeah, that is really cool.

But yeah, still this appears though
[code]

[2022-08-17 18:34] devmrfitz commented on #121
Yup, it's quite nice. Didn't know that.

Have allowed account creation through OAuth

[2022-08-18 13:51] mlodic commented on #121
with the addition of `Google OAuth2` I say that can finally close this old issue.

[2022-08-18 13:51] #121 closed

[2022-08-18 14:08] devmrfitz commented on #121
Oh. Just realized that this was in GSoC 2021 as well

[2022-08-18 14:10] mlodic commented on #1133
We fixed that. All those updaters won't work if you have disabled the related analyzer. Available from the next release.

[2022-08-18 14:10] #1133 closed

[2022-08-18 14:16] mlodic opened #1156 "Add support for Docker Swarm deployments"

[2022-08-18 15:10] mlodic opened #1164 "Allow users to enable/disable plugins from the GUI"
following the changes for #978 and #433, we forgot to add the opportunity to enable/disable the plugins from the GUI.
This is another thing that may happen several times while configuring analyzers/connectors.

However I don't think that this feature should be available like the others for users and org admins separately. I think that this feature could be available to Org Admins only. In that way

[2022-08-19 16:31] #840 closed

[2022-08-23 20:27] lobojc opened #1170 "Failing initialize.sh with docker-compose-plugin (tested with v2.6.0)"
## What happened

The docker-compose version control comparation fails with docker-compose-plugin installation

## Environment
1. OS: Ubuntu 20.04 LTS
2. IntelOwl version: 3.4.1
3. docker-compose-plugin: 2.6.0

##  What did you expect to happen

It should work because the docker-compose version is greater then 1.23.2

## How to reproduce your issue

Follow the installation steps and use docker-com

[2022-08-29 15:19] LumberJohn6 opened #1171 "Problem with jobs and dashboard"
## What happened
Jobs and data from the dashboard disappear. Don't know if its a database problem or anything else really.

## Environment
1. OS: Ubuntu 22.04
2. IntelOwl version: v4.0.1

##  What did you expect to happen
Dashboard populated with info from the executed scans and jobs list also populated with information on jobs. Instead, they are empty.

## How to reproduce your issue
Fresh instal

[2022-08-29 15:31] mlodic commented on #1171
hey!

First things that come to my mind:

![image](https://user-images.githubusercontent.com/30625432/187237610-7bf41bad-5d5c-47c8-812b-92a68de2dd53.png)

to update the data in that view you need to client the specific button at the top right. Otherwise that is not done by default for performance reasons.

Plus, Jobs are automatically deleted after X days. Default is 3 but you can change it. There

[2022-08-29 15:36] LumberJohn6 commented on #1171
Thank you for the quick response!
I didn't know that the jobs are automatically deleted, which can be the cause of my "problem".
I'll run some jobs today and see if tomorrow they are still on the jobs list or deleted and then update this issue.

[2022-08-30 12:54] mlodic commented on #1170
thanks for reporting this :)

When we added that script, we knew it would not be easy to maintain it but we added it anyway to help people to set up IntelOwl for the first time. If you would be able to fix the bash script, it would be really appreciated :) thank you

[2022-08-30 16:02] lobojc commented on #1170
Hi @mlodic

It would be a pleasure to update it, but we should include the installation of "docker-compose" without to hardcode the version of it and maybe it would be good to install it using "sudo apt-get install -y docker-compose-plugin" and offer the latest docker-compose version available, do you agree ?

If you agree, it would be a pleasure to open a hotfix branch with the updates and suppor

[2022-08-30 16:17] mlodic commented on #1170
yep that would be great!

Anyway the hardcoded versions are still useful because we provide an [official requirements list](https://intelowl.readthedocs.io/en/latest/Installation.html). So, for instance, if someone finds himself working in a machine with an old version of docker-compose but which is supported, we won't need to tell him to change it. Maybe we could ask him if he would like to upgra

[2022-08-30 16:29] lobojc commented on #1170
Understood @mlodic

It makes sense, we could offer "latest" or "recent validated" harcoded version and offer suggestion to update for people using latest docker-compose version 1.x.

PS: Of course, we should/must let the minimum requirement of v1.23.2+

I'll try my best doing it and I will load the hotfix-branch ASAP.

Thanks again.

[2022-09-01 15:57] mlodic commented on #1019
same problem in the API access section. We should invalidate whatever cache is doing this at logout time.

[2022-09-05 14:06] mlodic opened #1180 "Better filtering `application/zip` files"
Right now, the mimetype `application/zip` could be detected for either office documents, APKs, classic archives...so basically it does not allow to correctly choose the analyzers that support a specific file with this mimetype. This causes IntelOwl to run unwanted analyzers and waste resources.

One idea could be to add some sort of custom filter for this very specific type based on the file exten

[2022-09-06 10:46] mlodic opened #1187 "Add doc and setup for Logrotate"

[2022-09-06 13:16] mlodic opened #1189 "Auto-creation default test user with DEBUG=True"
this would simplify development and avoid to create the user manually.

[2022-09-07 06:40] 00willo opened #1190 "Add support for the new TLP v2.0 standard"
FIRST have changed the TLP definitions to TLP:CLEAR, TLP:GREEN, TLP:AMBER, TLP:AMBER+STRICT, TLP:RED

https://www.first.org/tlp/

[2022-09-07 06:49] 00willo commented on #1104
Here are the two options for licences to use for development.

- Splunk Enterprise Developer licence
  - Available to anyone
  - Development purposes only
  - 10G of daily ingest
  - https://dev.splunk.com/enterprise/dev_license
- Splunk Personalised Dev/Test licence
  - Need to be an existing Splunk customer to access
  - 50G of daily ingest
  -  https://www.splunk.com/en_us/resources/personalize

[2022-09-07 07:38] mlodic commented on #1190
Thank for pointing this out. TLP works in a particular way in IntelOwl: based on the TLP that you choose, IntelOwl would apply some filtering. See: https://intelowl.readthedocs.io/en/latest/Usage.html?highlight=tlp#tlp-support

We'll review the new TLP definitions and see how we can make them fit in the project. Meanwhile, if you have any suggestion is more than welcome.

[2022-09-07 07:40] mlodic commented on #1104
Thanks for the details. If you are interested in helping us to develop this feature, feel free to do it. We can cooperate and find a solution together.

[2022-09-09 01:01] bradchiappetta opened #1192 "[Analyzer] Update GreyNoise to use SDK and Remove Alpha"
## Name:
GreyNoise

## Link:
greynoise.io

## Type of analyzer
**this can be observable, file, and docker**
Observable

## Why should we use it
This is just a recommended update to use our SDK and remove the no longer available Alpha API

## Possible implementation

[2022-09-09 01:01] bradchiappetta commented on #1192
I am happy to work on this to integrate the GreyNoise SDK and make the updates I've listed.

[2022-09-09 08:32] mlodic commented on #1192
Thank you for listing out the updates to do. Feel free to open a PR with the updates! It would be appreciated!

[2022-09-13 16:09] BlAd373 opened #1199 "MISP"
Sorry my ignorance
How i connect misp and configure scan onionsearch darksearch ?
Misp work in remote server i have ip etc already add ip in /configuration/connector_conf.json

![Screenshot 2022-09-13 120443](https://user-images.githubusercontent.com/22465921/189951655-4a7c0b41-5027-498d-a209-10788f2f8fc6.png)

[2022-09-13 16:13] mlodic commented on #1199
please read the docs https://intelowl.readthedocs.io/en/latest/

[2022-09-13 16:58] BlAd373 commented on #1199
ty already read it
but probably i do something wrong
changed analyzer_config.json
 "MISP": {
    "type": "observable",
    "python_module": "misp.MISP",
    "description": "scan an observable on a custom MISP instance",
    "disabled": false,
    "external_service": true,
    "leaks_info": false,
    "observable_supported": ["ip", "domain", "url", "hash", "generic"],
    "config": {
      "soft_ti

[2022-09-13 18:39] mlodic commented on #1199
you should not change the `env_var_key` there, you should populate the env variables in the env file. please read the docs

[2022-09-13 18:39] #1199 closed

[2022-09-13 20:26] BlAd373 commented on #1199
ty i continue to read but not find where i have populate it

[2022-09-15 14:33] mlodic commented on #912
Automate.io is retiring (31st october). We need to find something else to push notifications for Twitter and LinkedIn

[2022-09-22 13:45] bradchiappetta commented on #1192
Hi @mlodic : I saw the updated PR merged into the `develop` branch.  Does that indicate everything was resolved and you could accept the update?  If so, just curious what your release process is for when that is available.  I have a client that I'd like to notify when they can use it.

[2022-09-22 16:42] mlodic commented on #1192
We have no scheduled release right now because we are independent in that sense and we strongly rely on voluntarily help so it depends on when we get enough updates that justify a new release.

I am also very busy right now and Docker Hub deleted my autobuild configuration so that would require some time that I don't know when I will be able to invest. Please follow the project updates and you'll

[2022-09-22 16:43] mlodic commented on #1192
Obviously if Greynoise would choose to support the project for a donation, I can speed up the process :P Thank you for your understanding

[2022-09-30 13:29] #934 closed, assigned to nobody

[2022-10-01 08:50] viveknshah commented on #955
Is there anywhere I can see the Angular version you are looking for mimicking here?
Or is this where you are looking for the change : https://github.com/intelowlproject/IntelOwl/blob/master/frontend/src/layouts/AppFooter.jsx

[2022-10-03 08:15] mlodic commented on #955
yep exactly there. It's not important to mimick the old way, we can just add it the a new one

[2022-10-03 08:15] mlodic commented on #1192
closing because will be merged in the next release

[2022-10-03 08:15] #1192 closed

[2022-10-04 17:37] alfwazi opened #1224 "IntelOwl not working opencti anymore"
## What happened
After upgrading OPENCTI to 5.3.16 , we suddenly get an error when we use opencti connector

## Environment
1. OS: Ubuntu
2. IntelOwl version: 4.0.1

##  What did you expect to happen
Send the report normally to the OPENCTI as usual
## How to reproduce your issue
when IntelOwl try to send a report to the OPENCTI connector
## Error messages and logs

intelowl_celery_worker_default |

[2022-10-05 16:43] mlodic commented on #1224
hey, do you have any link to their documentation or some other info about that change?

We struggle to make tests with opencti, so we would need full support to solve this to make it work. If you know where the error is please submit a pull request

[2022-10-06 13:26] mlodic opened #1225 "Playbooks availability check"
referring to PR #1123 :

[code]

The point is that right now we don't check if a playbook was recently executed so we risk to multiply analysis in that sense. We should implement the same thing that we use for analyzers/connectors

@0x0elliot comment:
[code]

[2022-10-06 13:58] mlodic opened #1226 "Adding Playbook Cache Feature"
From @0x0elliot 's GSoC plan:

After every scan which uses more than one Analyzer and Connectors, We would
present the user with a pop-up that would say “Do you want to save this scan as a
Playbook?”

If the user agrees to this, The configuration would be sent to the backend where it would
be saved “lazily” in the database. The database model for each entry would somewhat
look like this:

[code]

[2022-10-09 09:19] sercuz commented on #1224
Hey, I have the same issue. I will help here

[2022-10-09 09:27] sercuz commented on #1224
I believe the changes happened since this version https://github.com/OpenCTI-Platform/opencti/releases/tag/5.3.12
They have change the string data type to be stixid data type.
"If you have developed connectors that directly call the API through GraphQL, you will have to migrate some query definitions from string type to StixId type." - release note 5.3.12

[2022-10-10 16:07] eshaan7 opened #1228 "[Analyzer] iocextract"
## nane
iocextract

## Link
https://github.com/InQuest/python-iocextract

## Type of analyzer
file

[2022-10-10 16:12] eshaan7 opened #1229 "[Analyzer] ioc-finder"
## Name
ioc-finder

## Link
https://github.com/fhightower/ioc-finder

## Type of analyzer
file

[2022-10-12 09:33] #1164 closed

[2022-10-12 09:34] mlodic commented on #1130
closing this because inactive and because we can't replicate the issue

[2022-10-12 09:34] #1130 closed

[2022-10-12 09:35] mlodic commented on #978
closed with #1238

[2022-10-12 09:35] #978 closed

[2022-10-12 09:36] mlodic commented on #955
closed with #1238

[2022-10-12 09:36] #955 closed

[2022-10-12 09:37] mlodic commented on #733
closed with #1238

[2022-10-12 09:37] #733 closed

[2022-10-12 09:38] mlodic commented on #628
closed with #1238

[2022-10-12 09:38] #628 closed

[2022-10-12 09:38] mlodic commented on #433
closed with #1238

[2022-10-12 09:38] #433 closed

[2022-10-12 15:38] mlodic commented on #1192
well, considered that I helped you finish this task and basically that addition did not bring anything really valuable in the platform, I could at least deserve an answer. @bradchiappetta

[2022-10-12 15:40] mlodic commented on #1192
and your release is available, you can freely gain money out of this open source project

[2022-10-13 09:01] mlodic commented on #1224
could you please point me out where is the error in the code considered that you faced those errors? I need the full stack trace cause I don't have an updated opencti instance ready to test it. Thank you

[2022-10-13 09:02] mlodic commented on #1224
I am trying to help you @alfwazi but I need you to collaborate on this otherwise I won't be able to fix this soon

[2022-10-13 09:43] #916 closed

[2022-10-13 09:45] #772 closed

[2022-10-13 09:46] mlodic commented on #772
closing this because we have no similar report for the new IntelOwl v4. Please try out the new major version

[2022-10-13 09:50] #457 closed

[2022-10-13 09:50] sercuz commented on #1224
Hi @mlodic ,
I believe the issue is in the data type in the definitions below. I think it must be **stixId** data type as they mentioned in OpenCTI release notes. https://github.com/OpenCTI-Platform/opencti/releases/tag/5.3.12

![image](https://user-images.githubusercontent.com/62757007/195564328-a724f224-02cf-49c9-92f4-828f9f9e0f80.png)

[2022-10-13 09:52] mlodic commented on #144
closing until new resources/sponsorship come to implement such integrations

[2022-10-13 09:52] #144 closed

[2022-10-13 10:21] mlodic commented on #1224
thank you but I don't know what is the stixId data type in OpenCTI , how to generate one and how it is used there.

This integration was developed by a contributor and I don't have advanced knowledge of the platform

[2022-10-13 10:23] mlodic commented on #1224
@nor3th could you please help us in solving this?

[2022-10-13 10:23] sercuz commented on #1224
Anytime, I think it is STIX version 3 data type. It is not special data type for OpenCTI.

[2022-10-13 10:25] mlodic commented on #1224
yeah but `you will have to migrate some query definitions from string type to StixId type` means that I have to move strings to stixId. But where? Cause INTELOWL_OPENCTI_TYPE_MAP does not contain `string` types.
If I only have the line when this error is triggered, that would be easy to fix

[2022-10-13 10:27] sercuz commented on #1224
Thank you @mlodic for your support. @nor3th I would like to help here if you need anything.

[2022-10-13 15:47] nor3th commented on #1224
Hey

That's an error the platform returns to the client, since the client (pycti) used the old id format in its query. This shouldn't require any modifications from your side, as you are only using the ids which pycti returns. Try updating the requirements to the most recent version (5.3.17) and then have a go at it.

Regards

[2022-10-13 16:19] mlodic commented on #1224
hey @nor3th , thank you very much for the fast answer! I have just updated the dependency and will make it available in the next release!

[2022-10-13 18:43] sercuz commented on #1224
hey all, thank you @mlodic & @nor3th for you support.

[2022-10-14 01:27] weslambert opened #1239 "Serve IntelOwl Behind Subpath"
## What happened
IntelOwl does not work correctly behind a subpath when using a reverse proxy like Nginx.

##  What did you expect to happen
IntelOwl should, aside from the default, leverage a user-defined subpath to allow for hosting IntelOwl along other services on a single server/domain.

## How to reproduce your issue
Configure Nginx or a similar reverse to proxy IntelOwl traffic.

[2022-10-14 10:46] mlodic opened #1240 "[Analyzer] CriminalIP"
https://www.criminalip.io/developer/api/post-user-me

[2022-10-16 17:53] 0x0elliot opened #1241 "Fixing playbook config documentation"
## What happened
No documentation for `/api/get_playbook_configs`

I will open a PR to fix that.

[2022-10-17 10:32] #1241 closed

[2022-10-17 21:33] Sp-TT opened #1244 "external authentication with Azure AD"
## What happened

Just checking is there a plan to support SAML auth with Azure AD?

[2022-10-17 21:38] Sp-TT opened #1245 "[Analyzer] apivoid"
## Name
APIVOID
## Link

https://www.apivoid.com/api/ip-reputation/

## Type of analyzer

basic ioc types: IP, domain, URL reputation check

## Possible implementation
They do have an API provided, probably a new analyzer needed to parse their return result.

[2022-10-18 07:17] mlodic commented on #1245
good find!

[2022-10-19 10:28] 0x0elliot commented on #1239
Would you mind giving more information on this? To begin with, What is your hosting set up? Are you using the default prod configs that IntelOwl provides?

As you can see here: https://github.com/intelowlproject/IntelOwl/blob/489ad67131ae81edc1a00103cc0d190071bc3cac/docker/default.yml#L36

IntelOwl already comes with nginx enabled.

What exactly isn't working?

[2022-10-19 11:56] weslambert commented on #1239
For example, if I am hosting IntelOwl behind an instance of nginx that proxies several applications, I need to have a way to host it behind a subpath, like `/intelowl`, /app2, /app3, and so on. Currently, IntelOwl provides a static base path, so when it tries to refer to itself when being proxied in such a way, it tries to navigate to the root (`/`). We could put it on a different port, but that i

[2022-10-22 11:41] 0x0elliot commented on #1225
I am finishing this myself before I wrap up the GoLang feature so that another PR won't be necessary

[2022-10-24 07:26] mlodic commented on #1225
that would be super good :)

[2022-10-24 11:01] mlodic opened #1255 "[Analyzer] Polyswarm"
## Name
Polyswarm

## Link
https://polyswarm.network/pricing

## Type of analyzer
* Hash search
* IOC search
* File scan/rescan

## Why should we use it
Public service with

250 queries /day

[2022-10-24 11:04] mlodic opened #1256 "[Analyzer] LeakIx"
## Name
LeakIx

## Link
https://leakix.net/plans

## Type of analyzer
IP: https://leakix.net/api-documentation

## Why should we use it
Open API for public usage. 3k requests / month

[2022-10-24 11:07] mlodic opened #1257 "[Analyzer] Vulners"
## Name
Vulners

## Link
https://vulners.com/

## Type of analyzer
Generic: https://vulners.com/docs/API_wrapper/api/
maybe other use cases?

## Why should we use it
Free API usage

[2022-10-24 12:27] mlodic opened #1258 "[Analyzer] Netlas.io"
## Name
Netlas.io

## Link
https://netlas.io/api

## Type of analyzer
* IP/domains search
* Generic search for other endpoints?

## Why should we use it
Free service with 2.5k requests per month. https://netlas.io/api
It is also possible to participate to their reward program here: https://netlas.io/alpha_release

[2022-10-24 12:31] mlodic opened #1259 "[Analyzer] BinaryEdge"
## Name
BinaryEdge

## Link
https://www.binaryedge.io/

## Type of analyzer
IP: https://docs.binaryedge.io/api-v2/#v2queryiptarget and https://docs.binaryedge.io/api-v2/#v2querysearch
Domains: several, starting from https://docs.binaryedge.io/api-v2/#v2querydomainssubdomaintarget

## Why should we use it
Free API up to 250 requests at month

## Possible implementation

[2022-10-24 12:35] mlodic opened #1260 "[Analyzer] IP API"
## Name
ipapi

## Link
https://ip-api.com/

## Type of analyzer
IP-based. 2 possible endpoints:
* https://ip-api.com/docs/api:batch
* https://ip-api.com/docs/dns

## Why should we use it
free endpoint with plain HTTP and max 45 requests/minute

## Possible implementation

[2022-10-24 12:37] mlodic opened #1261 "[Analyzer] CheckPhish"
## Name
CheckPhish

## Link
https://checkphish.ai/

## Type of analyzer
IP/Domain/URL: https://checkphish.ai/checkphish-api/

## Why should we use it
https://checkphish.ai/pricing/ 250 scans/month free usage

[2022-10-26 09:17] #1225 closed

[2022-10-26 09:19] 0x0elliot commented on #1226
this is a feature concerning my code, would love to finish it myself. i would start tackling this issue by the evening (it's currently the afternoon for me :))

[2022-10-27 16:01] 0x0elliot commented on #1226
might want to delay contributing this week. apologies.

[2022-10-30 09:49] mlodic commented on #1226
there is no need to apologize man :) have a great week! :)

[2022-11-04 06:57] mlodic opened #1274 "[Analyzer] Orkl search engine"
## Name
Orkl

## Link
https://orkl.eu

## Type of analyzer
* search hash
* generic search
https://orkl.eu/api/v1/doc/index.html#/

## Why should we use it
Search engine with free requests with API

[2022-11-08 10:04] 0x0elliot commented on #1226
i have gotten a bit busier this month. i am leaving this issue for the community for the time being. would come back to this when i am free.

[2022-11-09 10:23] intbjw commented on #924
I also have this issue,

<img width="768" alt="image" src="https://user-images.githubusercontent.com/38395031/200804849-554cca3a-bcbd-4745-a112-d3dabbef23d0.png">

<img width="1511" alt="image" src="https://user-images.githubusercontent.com/38395031/200805071-fe8ebf99-3e16-4a76-8d17-af40a9dbec4d.png">

<img width="1686" alt="image" src="https://user-images.githubusercontent.com/38395031/200805151-

[2022-11-10 18:26] mlodic commented on #924
Are you sure that you have correctly configured the URL?
As I said before, `The "Health Check" performs a simple "HEAD" HTTP request to the URL that you configured in url_key_name parameter in the connector_config.json file.`. So if the instance is up and you configured your OS and network correctly, this should work.

Have you manually tried an analysis to see if the output goes correctly to Open

[2022-11-10 18:27] mlodic commented on #1224
since the last version, this should work so I close this.

[2022-11-10 18:27] #1224 closed

[2022-11-10 18:43] mlodic opened #1284 "Add a Registration page like the one in Dragonfly"
We could add the very same registration page that we created for the Dragonfly service. See: dragonfly.certego.net

Some of the code is already public and is available in the public certego-saas package.

The registration requests would be handled in the Django Admin page by admins.

It should be possible to configure an email/slack where to get notification of new requests.

[2022-11-10 18:44] mlodic opened #1285 "Add chance to change/reset the password of the account"
We could add an additional section for the user where it is possible to change/reset their password. The "API access" section could be used for inspiration

[2022-11-10 19:18] mlodic opened #1286 "Add optional 2FA"
This would make sense to be added in the `certego_saas` as a separate application.

[2022-11-11 14:52] 0x0elliot commented on #1226
got some time. will slowly wrap this up.

[2022-11-11 19:22] 0x0elliot commented on #1226
To-dos:

- [ ] Finish serializers and models.
- [ ] Make sure that every new playbook that is created is unique
- [ ] And the one in the JSON file is given more priority if the same named one is ever added back again.
- [ ] Make the endpoints work
- [ ] Finish frontend changes.

Quite the list.

[2022-11-12 23:07] taher-mulla commented on #1118
Please assign this issue to me. I have a fix. But I do not have access to commit.

[2022-11-14 14:08] mlodic commented on #1118
hey yeah please open a PR with your changes :)

[2022-11-18 08:05] mlodic opened #1298 "Get Playbook Config should filter user-created playbooks"
referring to #1287 and the comment made by @0x0elliot in api_app/playbooks_manager/serializers.py

[2022-11-18 16:41] mlodic opened #1299 "Script to automate release on LinkedIn"
It would be super cool to have a Github Action that we could use and also share with the community to share a linkedin post after a release. https://www.linkedin.com/company/86657205

[2022-11-18 18:11] #1226 closed

[2022-11-18 19:41] 0x0elliot commented on #1298
i will take care of this

[2022-11-19 01:01] 0x0elliot commented on #1285
do you want to make it so that the user has permission to do the same if they are logged in? or, do you want to make it so that there is a proper URL with a token sent to the user's email over this? honestly, that would be pretty cool and would definitely complete IntelOwl neatly and make it even more well-suited for deployment.

[2022-11-19 09:02] mlodic commented on #1285
yeah basically the issue that I notice is that there is neither chance for the user to change their password, nor to reset it in case they forget.

So they are 2 different but related problems.

The first can be solved by following my and your first suggestion.
The second

[2022-11-20 12:47] 0x0elliot opened #1301 "Make update cached Playbooks feature."
Currently, Cached playbooks can't be updated. It is recommended that we also make that feature soon.

[2022-11-20 13:06] 0x0elliot opened #1302 "GitHub actions to automatically generate schema and open a PR automatically after a push to the folders with API views"
We can use something like [this](https://github.com/ArgusOSS/Eye/blob/master/.github/workflows/generate-api-schema.yml). However, I would recommend that we focus on opening a PR bit. It would be way more stable.

[2022-11-20 13:08] 0x0elliot commented on #1285
very much! would leave this issue open for the community to handle till i have the bandwidth for this one as well.

[2022-11-21 00:40] phage-nz opened #1303 "Unable to Define Multiple Organization-Level Analyzer Secrets"
## What happened

## Environment
1. OS: Docker on Ubuntu 20.04 LTS
2. IntelOwl version: 4.1.2

##  What did you expect to happen
Adding more than 1 organization-level analyzer secret.

## How to reproduce your issue
Performed a fresh install via Docker Compose.

Edited application domain, database user name and password in the env files - otherwise the templates are untouched. Started with `python

[2022-11-21 01:20] phage-nz commented on #1303
Appears this line could be the root cause: https://github.com/intelowlproject/IntelOwl/blob/master/api_app/models.py#L273

[2022-11-21 03:27] 0x0elliot commented on #1303
you're right. it appears that both an owner and an organization can only add one secret. i think removing the unique constraints should do it without causing any weird bugs.

[2022-11-21 03:34] 0x0elliot opened #1304 "Frontend not reflecting a disabled playbook"
i was still able to run disabled playbooks through the frontend. this shouldn't happen and must be fixed.

[2022-11-21 10:49] mlodic commented on #1303
thank you for reporting this and for all the provided details!

as already told by @0x0elliot , what you have found seems pretty straightforward and a fast fix.

However, I have just did some manual testing and I really got strange results. I'll get back once I get more time to do more tests and understand if there are other correlated bugs

[2022-11-29 00:32] parkjunmin opened #1313 "[Analyzer] Criminalip Suggestion"
## ## Name
Criminalip

## ## Link
https://www.criminalip.io/

## ## Type of analyzer
**this can be observable, file, and docker**
Shodan, Censys == Cyber Threat Intelligence Platform

## ## Why should we use it
The Criminalip service includes IP Asset Search and Domain Search, which enables analysts or developers to work more accurately and faster using the API in this feature

## ## Possible impl

[2022-11-29 15:14] mlodic commented on #1313
thank you! I close this because this is a duplicate! #1240

[2022-11-29 15:14] #1313 closed

[2022-11-30 15:39] disasmwinnie opened #1318 "Workflow Import Certificate Authority"
I have a question related to https://github.com/intelowlproject/IntelOwl/pull/346

What is the desired workflow to import CA certs for certain analyzers like MISP (not MISPFIRST)?

Since ``ssl_check: false`` is a NoGo in production my only idea was to import the CA cert into the ``intelowl_celery_worker_default`` container. To make this stick, I would need to fiddle this into one of the celery ent

[2022-11-30 16:55] mlodic commented on #1318
hey, thanks for using IntelOwl!

your question is legit and imo your use case is more popular than what you think so it makes completely sense to add support for a self-signed certificate.

I added some code to help you in this. I opened an experimental PR: https://github.com/intelowlproject/IntelOwl/pull/1319

I would kindly ask you to try this new flag `self_signed_certificate` I added and tell

[2022-11-30 16:57] mlodic commented on #1318
ah, to do that you can follow this: https://intelowl.readthedocs.io/en/latest/Contribute.html#how-to-start-setup-project-and-development-instance

checkout to the branch `misp_self_signed_certificate` and run IntelOwl with the `test` option instead of `prod`

[2022-11-30 17:34] mlodic opened #1321 "[Analyzer] crt.sh"
## Name
crt_sh

## Link
https://crt.sh/

## Type of analyzer
observable -> domains lookups
observable -> generic for other available options

## Why should we use it
public service to get SSL info about a domain

## Possible implementation
https://github.com/PaulSec/crt.sh library available. could be tried

[2022-11-30 17:46] mlodic opened #1322 "[Analyzer] HIBP"
## Name
HIBP

## Link
https://haveibeenpwned.com/

## Type of analyzer
observable -> generic, lookup for this API only: "Getting all breaches for an account"

## Why should we use it
HaveIBeenPwned API are public

## Possible implementation
see doc: https://haveibeenpwned.com/API/v3

[2022-11-30 17:56] mlodic opened #1323 "[Analyzer] Koodus"
## Name
Koodus

## Link
koodous.com

## Type of analyzer
observable -> hash -> https://docs.koodous.com/api/apks.html#get--apks-(str-sha256)- and https://docs.koodous.com/api/apks.html#get--apks-(str-sha256)-analysis-

## Why should we use it
get information about Android malware. Free quota usage

## Possible implementation
Docs: https://docs.koodous.com/api/